@media screen and (max-width: 1176px) {
    .menu-mob {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 47px;
        background-color: #fff;
        z-index: 999;
        // .menu-mob__btn
        &.arrow {
            .menu-mob {
                &__btn {
                    span {
                        &:first-child {
                            position: absolute;
                            top: 18px;
                            left: -3px;
                            width: 15px;
                            -moz-transform: rotate(-43deg);
                            -webkit-transform: rotate(-43deg);
                            -o-transform: rotate(-43deg);
                            -ms-transform: rotate(-43deg);
                            transform: rotate(-43deg);
                        }
                        &:nth-child(2) {
                            margin-top: 6px;
                        }
                        &:last-child {
                            position: absolute;
                            bottom: 17px;
                            left: -3px;
                            width: 15px;
                            -moz-transform: rotate(43deg);
                            -webkit-transform: rotate(43deg);
                            -o-transform: rotate(43deg);
                            -ms-transform: rotate(43deg);
                            transform: rotate(43deg);
                        }
                    }
                }
            }
        }
        &__btn {
            position: absolute;
            left: 32px;
            height: 100%;
            span {
                transition: all .5s ease;
                display: block;
                width: 32px;
                height: 4px;
                background-color: #000;
                &:nth-child(2) {
                    margin: 5px 0;
                }
            }
        }
        // .menu-mob__logo
        &__logo {
            width: 150px;
            height: 45px;
        }
    }
    .navigation-ac {
        transition: all .5s ease;
        -moz-transform: translate(-500px, 0px);
        -webkit-transform: translate(-500px, 0px);
        -o-transform: translate(-500px, 0px);
        -ms-transform: translate(-500px, 0px);
        transform: translate(-500px, 0px);
        &.open {
            -moz-transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
    }
    .main-account {
        padding-left: 32px;
        padding-right: 32px;
        .content {
            .wrapper {
                flex-direction: column;
            }
        }
    }
    .ac-header {
        padding-top: 88px;
    }
    .user-image {
        width: width(606 ,960);
        margin-left: 0;
    }
    .user-awards {
        width: width(346, 960);
        &__images {
            &:last-child {
                display: none;
            }
        }
    }
    .profile-info {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        // .profile-info__wrap
        &__wrap {
            padding-left: 0;
            padding-bottom: 39px;
            padding-right: 0;
        }
        // .profile-info__item
        &__item {}
        // .profile-info__social
        &__social {}
        // .profile-info__social-item
        &__social-item {}
        // .profile-info__social-link
        &__social-link {
            // .profile-info__social-link_vk
            &_vk {}
            // .profile-info__social-link_fb
            &_fb {}
            // .profile-info__social-link_inst
            &_inst {}
        }
    }
    .advantages, 
    .participation {
        min-width: 601px;
        margin-top: 28px;
        margin-left: 0;
        // .advantages__wrap
        &__wrap {}
        // .advantages__title
        &__title {}
    }
    .news-block {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        .news {
            // .news__item
            &__item {
                &:first-child {
                    margin-left: 11px;
                    margin-right: 22px;
                }
            }
            // .news__img
            &__img {}
            // .news__content
            &__content {}
            // .news__wrap-title
            &__wrap-title {}
            // .news__title
            &__title {}
            // .news__tag
            &__tag {}
            // .news__text
            &__text {}
            // .news__date
            &__date {}
        }
    }
    .profile-edit,
    .wrap-chalendes {
        padding-left: 0;
        padding-top: 87px;
    }
    .wrap-chalendes {
        .chalenge-card {
            margin:0 27px 44px;
            // margin-top: 0;
        }
    }
    .chalenges-sect-1,
    .chalenges-sect-2,
    .chalenges-sect-3 {
        margin: 0 -32px;
    }
    .about-chalenge {
        top: 87px;
        left: 32px;
        height: auto;
        padding-bottom: 42px;
        // .about-chalenge__title
        &__title {}
        // .about-chalenge__wrap
        &__wrap {
            // .about-chalenge__wrap_top
            &_top {}
            // .about-chalenge__wrap_bottom
            &_bottom {}
        }
        // .about-chalenge__text
        &__text {}
        // .about-chalenge__subtitle
        &__subtitle {}
        // .about-chalenge__price
        &__price {}
        // .about-chalenge__btn
        &__btn {}
    }

    .back {

        // .back__link

        &__link {}
    }
    .participant {
        padding-left: 548px;
        padding-top: 85px;
        &__title {
            text-align: left;
        }
    }
    .statistics-sect {
        .wrapper {
            display: flex;
            flex-direction: column;
            padding-top: 126px;
            padding-left: 0;
        }
    }
    .charts__wrap {
        width: width(786, 960);
    }
    .news-sect  {
        .wrapper {
            padding-top: 88px;
            padding-left: 0;
        }
        .news {
            &__item {
                margin: 0 10px 20px;
            }
        }
    }
}