@media screen and (max-width: 1176px) {
    .main-account {
        padding-left: 24px;
        padding-right: 24px;
        position: relative;
    }
    .user-image {
        width: width(368 ,720);
        margin-left: 0;
    }
    .user-awards {
        width: width(346, 720);
        // &__images {
        //     &:last-child {
        //         display: none;
        //     }
        // }
    }
    .advantages {
        min-width: 448px;
        height: 182px;
        &__title {
            width: 428px;  
        }
    }
    .participation {
        min-width: 332px;
        &__name {
            display: none;
            font-size: rem(16);
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }
        }
    }
    .profile-edit__wrap-name {
        .profile-edit__input {
            &:first-child {
                margin-bottom: 20px;
            }
        }
    }
    .wrap-chalendes {
        .chalenge-card {
            margin: 0 auto;
            margin-bottom: 27px;
        }
    }
    .one-chalenge {
        .wrapper {
            display: flex;
            flex-direction: column;
        }
    }
    .about-chalenge {
        position: relative;
        margin: 0 auto;
        // .about-chalenge__title
        &__title {}
        // .about-chalenge__wrap
        &__wrap {
            // .about-chalenge__wrap_top
            &_top {}
            // .about-chalenge__wrap_bottom
            &_bottom {}
        }
        // .about-chalenge__text
        &__text {}
        // .about-chalenge__subtitle
        &__subtitle {}
        // .about-chalenge__price
        &__price {}
        // .about-chalenge__btn
        &__btn {}
    }
    .participant {
        padding-left: 0;
        padding-top: 154px;
        &__title {
            text-align: center;
            // margin: 0 auto;
        }
        &__item {
            margin: 13px;
        }
    }
    .charts__wrap {
        max-width: 720px;
    }
    .chart-form {
        padding-top: 66px;
    }
    .news-sect {
        .news {
            &__item {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
    .faq-content__quest_title {
        font-size: rem(14);
    }
    .chalenges-sect-1,
    .chalenges-sect-2,
    .chalenges-sect-3 {
        margin: 0 -24px;
        .chalenge-wrapper {
            padding-left: 20px;
            .chalenge-card {
                &:nth-child(2) {
                    margin-left: 0;
                }
            }
        }
    }
}