@media screen and (max-width: 630px) {
    .profile-info {
        min-width: 304px;
        max-width: 450px;
        margin: 0 auto;
        flex-direction: column;
        &__wrap {
            padding-bottom: 282px;
        }
    }
    .user-image {
        min-width: 100%;
        // max-width: 100%;
        margin-right: 0;
        // margin-left: 0;
    }
    .ac-header {
        position: relative;
    }
    .user-awards {
        position: absolute;
        min-width: 100%;
        margin: 0 auto;
        height: 233px;
        // max-width: ;
        top: 751px;
        &__wrap--text {
            margin-top: 30px;
        }
    }
    .advantages {
        min-width: 304px;
        max-width: 450px;
        height: 176px;
        margin-bottom: 38px;
    }
    .participation {
        min-width: 304px;
        max-width: 450px;
        margin-bottom: 38px;
        &__name {
            font-size: rem(18);
        }
    }
    .news-block {
        .news__item {
            &:first-child {
                margin-left: 0;
                width: 432px;
            }
        }
    }
    .profile-edit__wrap-name {
        .profile-edit__input {
            margin-bottom: 20px;
        }
    }
    .about-chalenge{
        left: 0;
        width: 430px;
    }
    .charts__wrap {
        min-width: 432px;
        // max-width:  432px;
    }
    .news__item {
        width: 100%;
    }
    .one-news-sect {
        .wrapper {
            padding-left: 0;
            padding-right: 0;
            padding-top: 87px;
        }
    }
    .news-content {
        padding: 57px 10px 39px;
    }
    .news-content__wrap_tag {
        flex-direction: column;
        right: 4px;
    }
    .news-content__tag {
        &:nth-child(2) {
            margin: 5px 0;
        }
    }
    .news-content__wrap_user {
        flex-direction: column;
    }
    .news-content__user-img {
        img {
            display: block;
            margin: 0 auto;
        }
        margin-bottom: 10px;
    }
    .news-content__user {
        margin-bottom: 20px;
    }
    .news-content {
        iframe {
            height: 220px;
        }
    }
    .faq-sect  {
        .wrapper {
            padding-top: 98px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .faq-content__quest_title {
        font-size: rem(12);
    }
    .user-image__drop-menu {
        left: -82px;
        top: 21px;
    }
    .advantages__title {
        font-size: rem(16);
    }
    .navigation-ac {
        padding-top: 58px;
        z-index: 99;
        &__user {
            display: none;
        }
    }
    .main-login {
        padding-left: 8px;
        padding-right: 8px;
    }
    .login {
        max-width: 550px;
        padding: 45px 26px;
    }
    .haveno-chalenges__title {
        font-size: rem(15);
    }
    .wrap-chalendes {
        height: 100vh;
    }
    .dow-chalenge__title {
        font-size: rem(18);
        display: block;
        text-align: center;
    }
    .one-chalenge {
        .wrapper {
            position: relative;
        }
    }
    .about-chalenge {
        width: 100%;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
        &__title {
            font-size: rem(22);
        }
        &__subtitle {
            font-size: rem(20);
        }
        &__text {
            font-size: rem(14);
        }
    }
    .participant__title {
        text-align: left;
        font-size: rem(16);
    }
    .chalenges-sect-1,
    .chalenges-sect-2,
    .chalenges-sect-3 {
        margin: 0 -8px;
    }
    .news {
        &__item {
            height: auto;
        }
        &__wrap {
            &-tag {
                display: none;
            }
        }
    }
    .news-tags {
        flex-wrap: wrap;
        &__item {
            margin-bottom: 10px;
        }
    }
    .charts {
        &__title {
            font-size: rem(14);
            text-align: left;
        }
        &__wrap {
            min-width: 304px;
            max-width: 450px;
        }
    }
    .faq-content__quest_wrap-title {
        padding: 0 40px;
    }
    .faq-content__quest_text {
        font-size: rem(12);
    }
    .chart-form--you-cant {
        &::before {
            top: 20px;
        }
    }
}