@media screen and (max-width: 450px) {
    .main-account {
        padding-left: 8px;
        padding-right: 8px;
    }
    .participation {
        &__title {
            font-size: rem(20);
        }
        &__name {
            font-size: rem(13);
        }
    }
    .news-block {
        .news {
            &__item {
                min-width: 100%;
                // max-width: 40;
                height: auto;
                // max-width: ;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .news-content__wrap_tag {
        display: none;
    }
    .user-awards {
        top: 770px;
    }
    .login {
        max-width: 550px;
        padding: 15px 44px;
        &__tab {
            &_item {
                width: 150px;
                &:nth-child(2) {
                    width: 105px;
                }
            }
        }
        &__link {
            font-size: rem(12);
        }
    }
}
@media screen and (max-width: 350px) {
    .login {
        padding: 15px 24px;
        &__logo {
            width: 205px;
            margin: 0 auto;
        }
        &__tab {
            margin-bottom: 20px;
        }
    }
    .faq-content__quest_wrap-title {
        padding: 0 40px;
    }
}