@media screen and (min-width: 1650px) {
    // Main page of Account
    .user-image {
        width: width(700 ,1687);
    }
    .user-awards {
        width: width(960, 1687);
    }
    .advantages,
    .participation {
        max-width: 100%;
        height: 285px;
    }
    .profile-info {
        width: width(720, 1687);
        // .profile-info__wrap
        &__wrap {
            padding-bottom: 61px;
        }
        // .profile-info__item
        &__item {}
        // .profile-info__social
        &__social {}
        // .profile-info__social-item
        &__social-item {}
        // .profile-info__social-link
        &__social-link {
            // .profile-info__social-link_vk
            &_vk {}
            // .profile-info__social-link_fb
            &_fb {}
            // .profile-info__social-link_inst
            &_inst {}
        }
    }
    .advantages {
        // .advantages__wrap
        &__wrap {}
        // .advantages__title
        &__title {}
    }
    .news-block {
        padding-top: 37px;
        width: width(960, 1687);
        .news {
            &__item {
                margin-bottom: 0px;
                &:first-child {
                    margin-left: 10px;
                    margin-right: 15px;
                }
            }
        }
    }
    .news {
        // .news__item
        &__item {
        }
        // .news__img
        &__img {}
        // .news__content
        &__content {}
        // .news__wrap-title
        &__wrap-title {}
        // .news__title
        &__title {}
        // .news__tag
        &__tag {}
        // .news__text
        &__text {}
        // .news__date
        &__date {}
    }
    .participation {
        // .participation__title
        &__title {}
        // .participation__wrap
        &__wrap {}
        // .participation__name
        &__name {
            font-size: rem(24);
        }
    }
    .wrap-chalendes {
        padding-top: 92px;
        padding-left: 67px;
        .chalenge-card {
            margin-left: 42px;
            margin-right: 42px;
            &:nth-child(2n) {
                // margin-left: 84px;
                // margin-right: 84px;
            }
        }
    }
    .chalenges-sect-1,
    .chalenges-sect-2,
    .chalenges-sect-3 {
        .chalenge-card {
            &:nth-child(2) {
                margin-left: 84px;
                margin-right: 84px;
            }
        }
    }
    .about-chalenge {
        width: 720px;
        padding-right: 237px;
        padding-left: 96px;
        .back {
            margin-bottom: 50px;
        }
        // .about-chalenge__title
        &__title {}
        // .about-chalenge__wrap
        &__wrap {
            // .about-chalenge__wrap_top
            &_top {
                margin-top: 32px;
                margin-bottom: 39px;
                .about-chalenge__text {
                    margin-bottom: 20px;
                }
            }
            // .about-chalenge__wrap_bottom
            &_bottom {}
        }
        // .about-chalenge__text
        &__text {}
        // .about-chalenge__subtitle
        &__subtitle {}
        // .about-chalenge__price
        &__price {
            margin-top: 49px;
            margin-bottom: 50px;
        }
        // .about-chalenge__btn
        &__btn {}
    }
    .participant {
        padding-left: 771px;
    }
    .statistics-sect {
        .wrapper {
            padding-left: 117px;
            padding-top: 162px;
        }
    }
    .charts {
        width: width(1083, 1677);
        // .charts__title
        &__title {}
        // .charts__wrap
        &__wrap {}
    }
    .chart-form {
        // .chart-form__wrap
        &__wrap {}
        // .chart-form__text
        &__text {}
        // .chart-form__text--run
        &__text--run {}
        // .chart-form__wrap-input
        &__wrap-input {}
        // .chart-form__input
        &__input {}
        // .chart-form__text--drive
        &__text--drive {}
        // .chart-form__text--swim
        &__text--swim {}
        // .chart-form__btn
        &__btn {}
    }
    .no-chart {
        padding-top: 0;
        &__wrap {
            width: 1338px;
        }
    }
}