body {
    font-size: 100%;
    color: $color_text_base;
    @extend %proxima-regular;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
// svg {
//     display: inline-block;
//     width: inherit;
//     height: inherit;
// }
a {
    cursor: pointer;
    &:hover {
        color: $color_link_hover;
    }
}
.main-title {
    @extend %proxima-bold;
    font-size: rem(32);
    text-align: center;
    position: relative;
    margin-bottom: 43px;
    &:after,
    &:before {
        position: absolute;
        content: '';
        display: block;
        z-index: -1;
        margin-top: -3px;
        top: 50%;
        width: 10px;
        height: 10px;
        border: 1px solid $figureColor;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &:before {
        left: 35.5%;
    }
    &:after {
        right: 35.5%;
    }
}
.title-gift,
.subtitle-gift {
    text-align: center;
}
.title-gift {
    @extend %proxima-bold;
    font-size: rem(32);
    margin-bottom: 16px;
}
.subtitle-gift {
    @extend %proxima-regular;
    font-size: rem(26);
    margin-bottom: 45px;
}
.body-acc {
    position: relative;
    @extend %df;
    background-color: #F4F4F4;
}
.main-account {
    width: 100%;
    padding-left: 240px;
}
.wrapper {
    @extend %df;
    width: 100%;
}
.back {
    // .back__link
    &__link {
        @extend %df;
        @extend %aic;
        i {
            display: inline-block;
            height: 15px;
            svg {
                width: 15px;  
                height: 15px;   
            }
        }
        span {
            @extend %proxima-regular;
            font-size: rem(12);
            color: $color_text_base;
            margin-left: 10px;
        }
    }
}
.policy-sect {
    padding-top: 184px;
    padding-bottom: 50px;
    h1 {
        @extend %proxima-bold;
        font-size: rem(32);
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2 {
        @extend %proxima-bold;
        font-size: rem(22);
        margin-top: 22px;
        margin-bottom: 75px;
        text-align: center;
    }
    h3 {
        font-weight: normal;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h3, p, li {
        @extend %proxima-regular;
        font-size: rem(16);
    }
}