
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.b-n {
	border: none;
}
.container-fluid {
	padding: 0;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.m-auto {
	margin: 0 auto;
}
.ttu {
	text-transform: uppercase;
}
.padding-none {
	padding: 0;
}
.cursor {
	cursor: pointer;
}
.bg-none {
	background: none;
}
.transition {
	@include shift(all, .5s, ease);
}
.reset-pad {
	padding-right: 0;
	padding-left: 0;
	height: 100%;
}

.light {
	// Настройки шрифта здесь
	// font-family: 'Roboto-Light', sans-serif;
}
.regular {
	// Настройки шрифта здесь
	// font-family: 'Roboto-Regular',sans-serif;
}
.bold {
	// Настройки шрифта здесь
	// font-family: 'Comfortaa-Bold', sans-serif;
}

.btn {
	// Настройки кнопок здесь
}
