// ================ ProximaNova-Regular ================
@include font_face(ProximaNova-Regular, Proxima-Regular);

%proxima-regular {
    font-family: 'Proxima-Regular', sans-serif;
}
// ################ ProximaNova-Regular ################

// ================ ProximaNova-Bold ==============
@include font_face(ProximaNova-Bold, Proxima-Bold);

%proxima-bold {
    font-family: 'Proxima-Bold', sans-serif;
}
// ################### ProximaNova-Bold ###################

// ================ RacingSansOne-Regula ==================
@include font_face(RacingSansOne-Regular, Racing-Regular);

%racing-regular {
    font-family: 'Racing-Regular', sans-serif;
}
// ################### RacingSansOne-Regula ################