$icomoon-font-family: "sport-skill-icons" !default;
$icomoon-font-path: "../fonts/icons" !default;

$icon-menu-chalenges: "\e900";
$icon-chat-help: "\e901";
$icon-complite: "\e902";
$icon-false: "\e903";
$icon-menu-helpers: "\e904";
$icon-instagram: "\e905";
$icon-menu-logout: "\e906";
$icon-menu-my-reg: "\e907";
$icon-menu-news: "\e908";
$icon-play-button: "\e909";
$icon-menu-profile: "\e90a";
$icon-signin: "\e90b";
$icon-menu-statistics: "\e90c";
$icon-vk: "\e90d";
$icon-youtube: "\e90e";

@font-face {
	font-family: '#{$icomoon-font-family}';
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?hxz3op');
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?hxz3op#iefix') format('embedded-opentype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?hxz3op') format('truetype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?hxz3op') format('woff'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?hxz3op##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	// speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu-chalenges {
	&:before {
		content: $icon-menu-chalenges;
	}
}

.icon-chat-help {
	&:before {
		content: $icon-chat-help;
	}
}

.icon-complite {
	&:before {
		content: $icon-complite;
	}
}

.icon-false {
	&:before {
		content: $icon-false;
	}
}

.icon-menu-helpers {
	&:before {
		content: $icon-menu-helpers;
	}
}

.icon-instagram {
	&:before {
		content: $icon-instagram;
	}
}

.icon-menu-logout {
	&:before {
		content: $icon-menu-logout;
	}
}

.icon-menu-my-reg {
	&:before {
		content: $icon-menu-my-reg;
	}
}

.icon-menu-news {
	&:before {
		content: $icon-menu-news;
	}
}

.icon-play-button {
	&:before {
		content: $icon-play-button;
	}
}

.icon-menu-profile {
	&:before {
		content: $icon-menu-profile;
	}
}

.icon-signin {
	&:before {
		content: $icon-signin;
	}
}

.icon-menu-statistics {
	&:before {
		content: $icon-menu-statistics;
	}
}

.icon-vk {
	&:before {
		content: $icon-vk;
	}
}

.icon-youtube {
	&:before {
		content: $icon-youtube;
	}
}
