$icon_font_name:"Trubman-icons";
@font-face {
	font-family:$icon_font_name;
	src: url('app/fonts/trumpet/Trubman-icons.eot');
	src: url('app/fonts/trumpet/Trubman-icons.eot?#iefix') format('eot'),
	url('app/fonts/trumpet/Trubman-icons.woff') format('woff'),
	url('app/fonts/trumpet/Trubman-icons.ttf') format('truetype'),
	url('app/fonts/trumpet/Trubman-icons.svg#Trubman-icons') format('svg');
}
%icon-icon-email,
%icon-icon-menu-about,
%icon-icon-menu-contact,
%icon-icon-menu-delivery,
%icon-icon-menu-reviev,
%icon-icon-menu-service,
%icon-icon-pdf,
%icon-icon-phone,
%icon-icon-serv-1,
%icon-icon-serv-2,
%icon-icon-serv-3,
%icon-icon-serv-4,
%icon-icon-serv-5,
%icon-icon-serv-6,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icons_before_after {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icons_after {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icon-icon-email:before {
	content:'\E001';
}
%icon-icon-menu-about:before {
	content:'\E002';
}
%icon-icon-menu-contact:before {
	content:'\E003';
}
%icon-icon-menu-delivery:before {
	content:'\E004';
}
%icon-icon-menu-reviev:before {
	content:'\E005';
}
%icon-icon-menu-service:before {
	content:'\E006';
}
%icon-icon-pdf:before {
	content:'\E007';
}
%icon-icon-phone:before {
	content:'\E008';
}
%icon-icon-serv-1:before {
	content:'\E009';
}
%icon-icon-serv-2:before {
	content:'\E00A';
}
%icon-icon-serv-3:before {
	content:'\E00B';
}
%icon-icon-serv-4:before {
	content:'\E00C';
}
%icon-icon-serv-5:before {
	content:'\E00D';
}
%icon-icon-serv-6:before {
	content:'\E00E';
}