body {
  padding: 0;
  margin: 0;
  background: $body_bg;
  // color: ;
  position: relative;
}
html {
  position: relative;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {
  margin: 0;
  margin-bottom: 0;
  // line-height: 1.5em;
  // letter-spacing: 0.04em;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

a {

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: none;
  }
}

:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

//-------------------------------------------------reset*/
/*--------------Style for highlight text----------------*/
p::selection, 
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection, 
a::selection, 
button::selection {
  background-color: #ec2f50;
  color: #fff;
}

ul, 
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
a, 
a:hover, 
a:active {
  text-decoration: none;
}

a, 
button, 
input {
  transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
  outline: none;
  cursor: pointer;
}
textarea {
  resize: none;
}
/*--------------Style for scroll bar----------------*/
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}
::-webkit-scrollbar-track {
background-color:#ecedee
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#ccc;
}
::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}
::-webkit-scrollbar{
width: 4px;
}
/*--------------Style for plaseholder----------------*/
@include placeholder(#000, .6)
// ::-webkit-input-placeholder { color: #090c1e; opacity: .5; }
// ::-moz-placeholder          { color: #090c1e; opacity: .5; }
// :-moz-placeholder           { color: #090c1e; opacity: .5; }
// :-ms-input-placeholder      { color: #090c1e; opacity: .5; }
/*========================Reset attr TITLE===================*/
