@import 'includes';

.wrap-chalendes {
    display: flex;
    justify-content: center;
}
.example {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 100%;
    // height: 100vh;
    // .example__wrap
    &__wrap {
        // max-width: 960px;
        // @extend %df;
        // @extend %fdc;
    }
    &__wrap-inside {
        @extend %df;
        @extend %fw;
    }
    // .example__links
    &__links {
        @extend %simple-btn;
        width: auto;
        margin: 15px;
    }
}
