<section class="chalenges-ad">
    <div class="ad-wrapper">
        <div class="ad-user">
            <div class="ad-user__wrap_top">
                <div class="ad-user__wrap_photo-name">
                    <div class="ad-user__photo"><img src="img/account/user-with-photo.png" alt=""></div>
                    <!-- /.ad-user__photo -->
                    <p class="ad-user__name">Уебан Уебанович</p>
                    <!-- /.ad-user__name -->
                </div>
                <!-- /.ad-user__wrap_photo-name -->
                <div class="ad-user__wrap_gift">
                    <h2 class="ad-user__subtitle">Загрузить фото подарка</h2>
                    <!-- /.ad-user__subtitle -->
                    <form action="#" class="ad-user__form" enctype="multipart/form-data">
                        <div class="ad-user__file-upload">
                            <button type="ad-user__file-btn">Добавить</button>
                            <div>Фаил не выбран</div>
                            <input type="file">
                        </div>
                        <button type="submit" class="ad-user__submit-file">Загрузить</button>
                    </form>
                </div>
                <!-- /.ad-user__wrap_social-gift -->
            </div>
            <!-- /.ad-user__wrap_top -->
            <div class="ad-user__wrap_bottom">
                <div class="ad-user__wrap_left">
                    <h2 class="ad-user__subtitle">Результаты последних челенжей</h2>
                    <!-- /.ad-user__subtitle -->
                    <div class="ad-user__item">
                        <div class="ad-user__wrap_attachment">
                            <a href="" class="ad-user__attachment-link"><img src="img/account/one-news-2.jpg" alt="">
                            </a>
                            <!-- /.ad-user__attachment-link -->
                            <p class="ad-user__data">Дата загрузки<br>25.05.2019</p>
                            <!-- /.ad-user__data -->
                        </div>
                        <!-- /.ad-user__wrap_attachment -->
                    </div>
                    <!-- /.ad-user__item -->
                    <div class="ad-user__item">
                        <div class="ad-user__wrap_attachment">
                            <a href="" class="ad-user__attachment-link"><img src="img/account/one-news-2.jpg" alt="">
                            </a>
                            <!-- /.ad-user__attachment-link -->
                            <p class="ad-user__data">Дата загрузки<br>25.05.2019</p>
                            <!-- /.ad-user__data -->
                        </div>
                        <!-- /.ad-user__wrap_attachment -->
                    </div>
                    <!-- /.ad-user__item -->
                    <div class="ad-user__item">
                        <div class="ad-user__wrap_attachment">
                            <a href="" class="ad-user__attachment-link"><img src="img/account/one-news-2.jpg" alt="">
                            </a>
                            <!-- /.ad-user__attachment-link -->
                            <p class="ad-user__data">Дата загрузки<br>25.05.2019</p>
                            <!-- /.ad-user__data -->
                        </div>
                        <!-- /.ad-user__wrap_attachment -->
                    </div>
                    <!-- /.ad-user__item -->
                    <div class="ad-user__item">
                        <div class="ad-user__wrap_attachment">
                            <a href="" class="ad-user__attachment-link"><img src="img/account/one-news-2.jpg" alt="">
                            </a>
                            <!-- /.ad-user__attachment-link -->
                            <p class="ad-user__data">Дата загрузки<br>25.05.2019</p>
                            <!-- /.ad-user__data -->
                        </div>
                        <!-- /.ad-user__wrap_attachment -->
                    </div>
                    <!-- /.ad-user__item -->
                    <div class="ad-user__item">
                        <div class="ad-user__wrap_attachment">
                            <a href="" class="ad-user__attachment-link"><img src="img/account/one-news-2.jpg" alt="">
                            </a>
                            <!-- /.ad-user__attachment-link -->
                            <p class="ad-user__data">Дата загрузки<br>25.05.2019</p>
                            <!-- /.ad-user__data -->
                        </div>
                        <!-- /.ad-user__wrap_attachment -->
                    </div>
                    <!-- /.ad-user__item -->
                </div>
                <!-- /.ad-user__wrap_left -->
                <div class="ad-user__wrap_right">
                    <div class="ad-user__wrap_data">
                        <h2 class="ad-user__subtitle">Данные пользователя</h2>
                        <div class="ad-user__info-item">
                            <h2 class="ad-user__info-title">Полное имя</h2>
                            <!-- /.ad-user__info-title -->
                            <p class="ad-user__text">Яйцев Богдан Яйцевич</p>
                            <!-- /.ad-user__text -->
                        </div>
                        <!-- /.ad-user__info-item -->
                        <div class="ad-user__info-item">
                            <h2 class="ad-user__info-title">Дата рождения</h2>
                            <!-- /.ad-user__info-title -->
                            <p class="ad-user__text">16.04.1997</p>
                            <!-- /.ad-user__text -->
                        </div>
                        <!-- /.ad-user__info-item -->
                        <div class="ad-user__info-item">
                            <h2 class="ad-user__info-title">Пол</h2>
                            <!-- /.ad-user__info-title -->
                            <p class="ad-user__text">Мужской</p>
                            <!-- /.ad-user__text -->
                        </div>
                        <!-- /.ad-user__info-item -->
                        <div class="ad-user__info-item ad-user__info-item_addres">
                            <h2 class="ad-user__info-title">Полный адрес</h2>
                            <!-- /.ad-user__info-title -->
                            <p class="ad-user__text">Россия, Ульяновская область, г. Ульяновск, Ленинского
                                комсомола
                                дом 1, квартира 448 432051</p>
                            <!-- /.ad-user__text -->
                        </div>
                        <!-- /.ad-user__info-item -->
                        <div class="ad-user__info-item">
                            <h2 class="ad-user__info-title">Номер телефона</h2>
                            <!-- /.ad-user__info-title -->
                            <p class="ad-user__text">+7(925)321-55-55</p>
                            <!-- /.ad-user__text -->
                        </div>
                        <!-- /.ad-user__info-item -->
                        <div class="ad-user__info-item">
                            <h2 class="ad-user__info-title">Социальные сети:</h2>
                            <!-- /.ad-user__info-title -->
                            <ul class="profile-info__social">
                                <li class="profile-info__social-item">
                                    <a href="#" class="profile-info__social-link profile-info__social-link_vk"></a>
                                    <!-- /.profile-info__social-link -->
                                </li>
                                <!-- /.profile-info__social-item -->
                                <li class="profile-info__social-item">
                                    <a href="#" class="profile-info__social-link profile-info__social-link_fb"></a>
                                    <!-- /.profile-info__social-link -->
                                </li>
                                <!-- /.profile-info__social-item -->
                                <li class="profile-info__social-item">
                                    <a href="#" class="profile-info__social-link profile-info__social-link_inst"></a>
                                    <!-- /.profile-info__social-link -->
                                </li>
                                <!-- /.profile-info__social-item -->
                            </ul>
                            <!-- /.profile-info__social -->
                        </div>
                        <!-- /.ad-user__info-item -->
                    </div>
                    <!-- /.ad-user__wrap_data -->
                    <div class="ad-user__wrap_partipant">
                        <h2 class="ad-user__subtitle">Учасник челенжей</h2>
                        <div class="ad-user__part-item">Название челенжа</div>
                        <!-- /.ad-user__part-item -->
                        <div class="ad-user__part-item">Название челенжа</div>
                        <!-- /.ad-user__part-item -->
                    </div>
                    <!-- /.ad-user__partipant-chalenge -->
                </div>
                <!-- /.ad-user__wrap_right -->
            </div>
            <!-- /.ad-user__wrap_bottom -->
        </div>
        <!-- /.ad-user -->
    </div>
    <!-- /.ad-wrapper -->
</section>
<!-- /.chalenges-ad -->