<section class="chalenges-ad">
    <div class="ad-wrapper">
        <div class="view-chalenges">
            <div class="view-chalenges__wrap">
                <h2 class="view-chalenges__title">Беговые челенжи</h2>
                <!-- /.view-chalenges__title -->
                <div class="view-chalenges__wrap view-chalenges__wrap_items">
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 1</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 2</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 3</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                </div>
                <!-- /.view-chalenges__wrap view-chalenges__wrap_items -->
            </div>
            <!-- /.view-chalenges__wrap -->
            <div class="view-chalenges__wrap">
                <h2 class="view-chalenges__title">Велосипедные челенжи</h2>
                <!-- /.view-chalenges__title -->
                <div class="view-chalenges__wrap view-chalenges__wrap_items">
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 1</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 2</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 3</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                </div>
                <!-- /.view-chalenges__wrap view-chalenges__wrap_items -->
            </div>
            <!-- /.view-chalenges__wrap -->
            <div class="view-chalenges__wrap">
                <h2 class="view-chalenges__title">Плавательные челенжи</h2>
                <!-- /.view-chalenges__title -->
                <div class="view-chalenges__wrap view-chalenges__wrap_items">
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 1</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 2</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                    <div class="view-chalenges__item">
                        <h3 class="view-chalenges__item_title">Название челенжа 3</h3>
                        <!-- /.view-chalenges__item_title -->
                        <ul class="view-chalenges__list">
                            <li class="view-chalenges__list-item">
                                <h4 class="view-chalenges__list-title">Количество учасников:</h4>
                                <!-- /.view-chalenges__list-title -->
                                <p class="view-chalenges__text">50</p>
                                <!-- /.view-chalenges__text -->
                            </li>
                            <!-- /.view-chalenges__list-item -->
                        </ul>
                        <!-- /.view-chalenges__list -->
                        <div class="view-chalenges__btns">
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_1">Редактировать</a>
                            <!-- /.view-chalenges__btn -->
                            <a href="#" class="view-chalenges__btn view-chalenges__btn_2">Учасники</a>
                            <!-- /.view-chalenges__btn -->
                        </div>
                        <!-- /.view-chalenges__btns -->
                    </div>
                    <!-- /.view-chalenges__item -->
                </div>
                <!-- /.view-chalenges__wrap view-chalenges__wrap_items -->
            </div>
            <!-- /.view-chalenges__wrap -->
        </div>
        <!-- /.view-chalenges -->
    </div>
    <!-- /.ad-wrappper -->
</section>
<!-- /.ad-chaleges -->