<section class="chalenges-ad">
    <div class="ad-wrapper">
        <form action="" class="edit-chalenge">
            <div class="edit-chalenge__wrap_left">
                <h1 class="edit-chalenge__title">Редактирование челенжа</h1>
                <!-- /.edit-chalenge__title -->
                <div class="edit-chalenge__wrap_title">
                    <h2 class="edit-chalenge__subtitle">Название челенжа</h2>
                    <!-- /.edit-chalenge__subtitle -->
                    <input type="text" class="edit-chalenge__edit-title" name="title">
                </div>
                <!-- /.edit-chalenge__wrap_title -->
                <div class="edit-chalenge__wrap_card-field">
                    <h2 class="edit-chalenge__subtitle">Настройки карточки челенжа</h2>
                    <!-- /.edit-chalenge__subtitle -->
                    <p class="edit-chalenge_about">
                        В первых трех полях с названием "Краткое описание" должны вводится небольшие короткие строки описания челенжа.
                    </p>
                    <!-- /.edit-chalenge_about -->
                    <ul class="edit-chalenge__list-field">
                        <li class="edit-chalenge__item-field">
                            <h3 class="edit-chalenge__name-input">Краткое описание 1</h3>
                            <!-- /.edit-chalenge__name-input -->
                            <input type="text" class="edit-chalenge__input" name="card_settings_1">
                        </li>
                        <!-- /.edit-chalenge__item-field -->
                        <li class="edit-chalenge__item-field">
                            <h3 class="edit-chalenge__name-input">Краткое описание 2</h3>
                            <!-- /.edit-chalenge__name-input -->
                            <input type="text" class="edit-chalenge__input" name="card_settings_2">
                        </li>
                        <!-- /.edit-chalenge__item-field -->
                        <li class="edit-chalenge__item-field">
                            <h3 class="edit-chalenge__name-input">Краткое описание 3</h3>
                            <!-- /.edit-chalenge__name-input -->
                            <input type="text" class="edit-chalenge__input" name="card_settings_3">
                        </li>
                        <!-- /.edit-chalenge__item-field -->
                        <li class="edit-chalenge__item-field">
                            <h3 class="edit-chalenge__name-input">Цена</h3>
                            <!-- /.edit-chalenge__name-input -->
                            <input type="number" class="edit-chalenge__input" name="card_settings_4">
                        </li>
                        <!-- /.edit-chalenge__item-field -->
                    </ul>
                    <!-- /.edit-chalenge__list-field -->
                </div>
                <!-- /.edit-chalenge__wrap_card-field -->
                <div class="edit-chalenge__wrap_editor">
                    <h2 class="edit-chalenge__subtitle">Правила челенжа</h2>
                    <!-- /.edit-chalenge__subtitle -->
                    <textarea name="html" class="edit-chalenge__ruls"></textarea>
                    <!-- /#editor -->
                </div>
                <!-- /.edit-chalenge__wrap_editor -->
                
            </div>
            <!-- /.edit-chalenge__wrap_left -->
            <div class="edit-chalenge__wrap_right">
                <h2 class="edit-chalenge__subtitle">Сохранить изменения</h2>
                <!-- /.edit-chalenge__subtitle -->
                <div class="edit-chalenge__wrapper-save">
                    <h3 class="edit-chalenge__save-title">Последние изменения</h3>
                    <!-- /.edit-chalenge__save-title -->
                    <p class="edit-chalenge__text">25.05.2019</p>
                    <!-- /.edit-chalenge__text -->
                </div>
                <!-- /.edit-chalenge__wrapper-save -->
                <button class="edit-chalenge__btn">Сохранить</button>
            </div>
            <!-- /.edit-chalenge__wrap_right -->
        </form>
        <!-- /.edit-chalenge -->
    </div>
    <!-- /.ad-wrapper -->
</section>