<section class="chalenges-ad">
    <div class="ad-wrapper">
        <div class="ad-chalenge">
            <div class="ad-chalenge__wrap ad-chalenge__wrap_title">
                <h1 class="ad-chalenge__title">Челенжи</h1>
                <!-- /.ad-chalenge__title -->
                <div class="ad-chalenge__wrap_btns_top">
                    <a href="#" data-id="0" data-num="5" class="ad-chalenge__next-cycle admin-users__btn ad-chalenge__next-cycle-new">Создать группу</a>
                    <!-- /.ad-chalenge__next-cycle -->
                    <a href="#" class="ad-chalenge__next-cycle">Следующий цыкл</a>
                    <!-- /.ad-chalenge__next-cycle -->
                </div>
                <!-- /.ad-chalenge__wrap_btns -->
            </div>
            <!-- /.ad-chalenge__wrap ad-chalenge__wrap_title -->
            <div class="ad-chalenge__wrap ad-chalenge__wrap_chalenges">
                <div class="ad-chalenge__wrap ad-chalenge__wrap_item">
                    <h2 class="ad-chalenge__subtitle">Законченные челенжи</h2>
                    <!-- /.ad-chalenge__subtitle -->
                    <div class="ad-chalenge__item">
                        <div class="ad-chalenge__wrap ad-chalenge__wrap_item-title">
                            <h3 class="ad-chalenge__item-title">Апрельский челенжи</h3>
                            <!-- /.ad-chalenge__item-title -->
                            <div class="ad-chalenge__wrap ad-chalenge__wrap_btns">
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_2">Учасники</a>
                            </div>
                            <!-- /.ad-chalenge__wrap ad-chalenge__wrap_btns -->
                        </div>
                        <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item-title -->
                        <ul class="ad-chalenge__list">
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Дата окончания</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">25.04.2019</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Количество участников</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">0</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                        </ul>
                        <!-- /.ad-chalenge__list -->
                    </div>
                    <!-- /.ad-chalenge__item -->
                </div>
                <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item -->
                <div class="ad-chalenge__wrap ad-chalenge__wrap_item">
                    <h2 class="ad-chalenge__subtitle">Начавшиеся челенжи</h2>
                    <!-- /.ad-chalenge__subtitle -->
                    <div class="ad-chalenge__item">
                        <div class="ad-chalenge__wrap ad-chalenge__wrap_item-title">
                            <h3 class="ad-chalenge__item-title">Майский челенж</h3>
                            <!-- /.ad-chalenge__item-title -->
                            <div class="ad-chalenge__wrap ad-chalenge__wrap_btns">
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_2">Учасники</a>
                                <!-- /.ad-chalenge__item-btn -->
                            </div>
                            <!-- /.ad-chalenge__wrap ad-chalenge__wrap_btns -->
                        </div>
                        <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item-title -->
                        <ul class="ad-chalenge__list">
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Дата начала</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">1.05.2019</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Количество учасников</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">0</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                        </ul>
                        <!-- /.ad-chalenge__list -->
                    </div>
                    <!-- /.ad-chalenge__item -->
                </div>
                <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item -->
                <div class="ad-chalenge__wrap ad-chalenge__wrap_item">
                    <h2 class="ad-chalenge__subtitle">Открыта регистрация</h2>
                    <!-- /.ad-chalenge__subtitle -->
                    <div class="ad-chalenge__item">
                        <div class="ad-chalenge__wrap ad-chalenge__wrap_item-title">
                            <h3 class="ad-chalenge__item-title">Июньский челенж</h3>
                            <!-- /.ad-chalenge__item-title -->
                            <div class="ad-chalenge__wrap ad-chalenge__wrap_btns">
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_1">Редактировать</a>
                                <!-- /.ad-chalenge__item-btn -->
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_2">Учасники</a>
                                <!-- /.ad-chalenge__item-btn -->
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_3">Удалить</a>
                            </div>
                            <!-- /.ad-chalenge__wrap ad-chalenge__wrap_btns -->
                        </div>
                        <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item-title -->
                        <ul class="ad-chalenge__list">
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Дата окончания регистрации</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">1.05.2019</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Количество участников</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">1</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                        </ul>
                        <!-- /.ad-chalenge__list -->
                    </div>
                    <!-- /.ad-chalenge__item -->
                </div>
                <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item -->
                <div class="ad-chalenge__wrap ad-chalenge__wrap_item">
                    <h2 class="ad-chalenge__subtitle">Запланированные</h2>
                    <!-- /.ad-chalenge__subtitle -->
                    <div class="ad-chalenge__item">
                        <div class="ad-chalenge__wrap ad-chalenge__wrap_item-title">
                            <h3 class="ad-chalenge__item-title">Июлюский челенж</h3>
                            <!-- /.ad-chalenge__item-title -->
                            <div class="ad-chalenge__wrap ad-chalenge__wrap_btns">
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_1">Редактировать</a>
                                <!-- /.ad-chalenge__item-btn -->
                                <a href="#" class="ad-chalenge__item-btn ad-chalenge__item-btn_3">Удалить</a>
                            </div>
                            <!-- /.ad-chalenge__wrap ad-chalenge__wrap_btns -->
                        </div>
                        <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item-title -->
                        <ul class="ad-chalenge__list">
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Запланированная дата начала регистрации</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">1.05.2019</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                            <li class="ad-chalenge__list-item">
                                <h4 class="ad-chalenge__list-title">Запланированная дата начала</h4>
                                <!-- /.ad-chalenge__list-title -->
                                <p class="ad-chalenge__list-text">1.06.2019</p>
                                <!-- /.ad-chalenge__list-text -->
                            </li>
                            <!-- /.ad-chalenge__list-item -->
                        </ul>
                        <!-- /.ad-chalenge__list -->
                    </div>
                    <!-- /.ad-chalenge__item -->
                </div>
                <!-- /.ad-chalenge__wrap ad-chalenge__wrap_item -->

            </div>
            <!-- /.ad-chalenge__wrap ad-chalenge__wrap_chalenges -->
        </div>
        <!-- /.ad-chalenge -->
    </div>
    <!-- /.ad-wrapper -->
</section>
<!-- /.chalenges-ad -->