<div class="ad-modal">
    
    <div class="ad-modal__wrap ad-modal__wrap_5">
        <h3 class="ad-modal__title">Создать группу челенжей</h3>
        <!-- /.ad-modal__title -->
        <form action="#" class="ad-modal__content">
            <input type="hidden" class="hidden-5">
            <input type="text" class="ad-modal__input" placeholder="Название">
            <input type="number" class="ad-modal__input" placeholder="Дата окончания">
            <button class="ad-modal__save">Сохранить</button>
        </form>
        <!-- /.ad-modal__content -->
    </div>
    <!-- /.ad-modal__wrap ad-modal__wrap_2 -->
</div>
<!-- /.ad-modal -->