<section class="chalenges-ad">
    <div class="ad-wrapper">
        <h1 class="ad-title">Участники челенж <span>Название челенжа</span></h1>
        <ul class="participant-ad">
            <li class="participant-ad__item">
                <div class="participant-ad__wrap_photo-name">
                    <div class="participant-ad__wrap participant-ad__wrap_photo"><img
                            src="img/account/user-with-photo.png" alt=""></div>
                    <h2 class="participant-ad__name">Еблан Ебланович</h2>
                </div>
                <!-- /.participant-ad__wrap_photo-name -->
                <div class="participant-ad__btns">
                    <a href="#" class="participant-ad__btn participant-ad__btn_1">Подробнее</a>
                    <a href="#" class="participant-ad__btn participant-ad__btn_2">Удалить</a>
                </div>
            </li>
            <li class="participant-ad__item">
                <div class="participant-ad__wrap_photo-name">
                    <div class="participant-ad__wrap participant-ad__wrap_photo"><img
                            src="img/account/user-with-photo.png" alt=""></div>
                    <h2 class="participant-ad__name">Еблан Ебланович</h2>
                </div>
                <!-- /.participant-ad__wrap_photo-name -->
                <div class="participant-ad__btns">
                    <a href="#" class="participant-ad__btn participant-ad__btn_1">Подробнее</a>
                    <a href="#" class="participant-ad__btn participant-ad__btn_2">Удалить</a>
                </div>
            </li>
            <li class="participant-ad__item">
                <div class="participant-ad__wrap_photo-name">
                    <div class="participant-ad__wrap participant-ad__wrap_photo"><img
                            src="img/account/user-with-photo.png" alt=""></div>
                    <h2 class="participant-ad__name">Еблан Ебланович</h2>
                </div>
                <!-- /.participant-ad__wrap_photo-name -->
                <div class="participant-ad__btns">
                    <a href="#" class="participant-ad__btn participant-ad__btn_1">Подробнее</a>
                    <a href="#" class="participant-ad__btn participant-ad__btn_2">Удалить</a>
                </div>
            </li>
            <li class="participant-ad__item">
                <div class="participant-ad__wrap_photo-name">
                    <div class="participant-ad__wrap participant-ad__wrap_photo"><img
                            src="img/account/user-with-photo.png" alt=""></div>
                    <h2 class="participant-ad__name">Еблан Ебланович</h2>
                </div>
                <!-- /.participant-ad__wrap_photo-name -->
                <div class="participant-ad__btns">
                    <a href="#" class="participant-ad__btn participant-ad__btn_1">Подробнее</a>
                    <a href="#" class="participant-ad__btn participant-ad__btn_2">Удалить</a>
                </div>
            </li>
        </ul>
    </div>
</section>