<section class="admin-users-sect">
    <div class="ad-wrapper">
        <div class="admin-users">
            <h1 class="admin-users__title">Пользователи</h1>
            <ul class="admin-users__wrapper-settings">
                <li class="admin-users__item-settings">
                    <a href="#" data-id="4" data-num="4" class="admin-users__link-settings">Добавить нового</a>
                    <!-- /.admin-users__link-settings -->
                </li>
                <!-- /.admin-users__item-settings -->
            </ul>
            <!-- /.admin-users__wrapper-settings -->
            <!-- /.admin-users__title -->
            <ul class="admin-users__wrap">
                <li class="admin-users__item">
                    <div class="admin-users__name">Main Admin</div>
                    <!-- /.admin-users__name -->
                    <div class="admin-users__wrap-btns">
                        <a href="#" data-id="3" class="admin-users__btn admin-users__btn_1">Ссылка</a>
                        <!-- /.admin-users__btn admin-users__btn_1 -->
                        <a href="#" data-id="1" data-num="1" class="admin-users__btn admin-users__btn_1">Права
                            доступа</a>
                        <!-- /.admin-users__btn admin-users__btn_1 -->
                        <a href="№" data-id="1" data-num="2" class="admin-users__btn admin-users__btn_2">Изменить
                            пароль</a>
                        <!-- /.admin-users__btn admin-users__btn_2 -->
                        <a href="№" data-id="1" data-num="3" class="admin-users__btn admin-users__btn_3">Удалить</a>
                        <!-- /.admin-users__btn admin-users__btn_3 -->
                    </div>
                    <!-- /.admin-users__wrap-btns -->
                </li>
                <!-- /.admin-users__item -->
                <li class="admin-users__item">
                    <div class="admin-users__name">Вася</div>
                    <!-- /.admin-users__name -->
                    <div class="admin-users__wrap-btns">
                        <a href="#" data-id="3" class="admin-users__btn admin-users__btn_1">Ссылка</a>
                        <!-- /.admin-users__btn admin-users__btn_1 -->
                        <a href="#" data-id="2" data-num="1" class="admin-users__btn admin-users__btn_1">Права
                            доступа</a>
                        <!-- /.admin-users__btn admin-users__btn_1 -->
                        <a href="№" data-id="2" data-num="2" class="admin-users__btn admin-users__btn_2">Изменить
                            пароль</a>
                        <!-- /.admin-users__btn admin-users__btn_2 -->
                        <a href="№" data-id="2" data-num="3" class="admin-users__btn admin-users__btn_3">Удалить</a>
                        <!-- /.admin-users__btn admin-users__btn_3 -->
                    </div>
                    <!-- /.admin-users__wrap-btns -->
                </li>
                <!-- /.admin-users__item -->
                <li class="admin-users__item">
                    <div class="admin-users__name">Admin Коля</div>
                    <!-- /.admin-users__name -->
                    <div class="admin-users__wrap-btns">
                        <a href="#" data-id="3" class="admin-users__btn admin-users__btn_1">Ссылка</a>
                        <!-- /.admin-users__btn admin-users__btn_1 -->
                        <a href="#" data-id="3" data-num="1" class="admin-users__btn admin-users__btn_1">Права
                            доступа</a>
                        <!-- /.admin-users__btn admin-users__btn_1 -->
                        <a href="№" data-id="3" data-num="2" class="admin-users__btn admin-users__btn_2">Изменить
                            пароль</a>
                        <!-- /.admin-users__btn admin-users__btn_2 -->
                        <a href="№" data-id="3" data-num="3" class="admin-users__btn admin-users__btn_3">Удалить</a>
                        <!-- /.admin-users__btn admin-users__btn_3 -->
                    </div>
                    <!-- /.admin-users__wrap-btns -->
                </li>
                <!-- /.admin-users__item -->
            </ul>
            <!-- /.admin-users__wrap -->
        </div>
        <!-- /.admin-users -->
        <div class="ad-pagination">
            <ul class="ad-pagination__wrap">
                <li class="ad-pagination__item ad-pagination__item_active"><a href="#">1</a></li>
                <!-- /.ad-pagination__item -->
                <li class="ad-pagination__item"><a href="#">2</a></li>
                <!-- /.ad-pagination__item -->
                <li class="ad-pagination__item"><a href="#">3</a></li>
                <!-- /.ad-pagination__item -->
                <li class="ad-pagination__item"><a href="#">4</a></li>
                <!-- /.ad-pagination__item -->
                <li class="ad-pagination__item"><a href="#">5</a></li>
                <!-- /.ad-pagination__item -->
            </ul>
            <!-- /.ad-pagination__wrap -->
        </div>
        <!-- /.ad-pagination -->
    </div>
    <!-- /.ad-wrapper -->
</section>
<!-- /.admin-users -->