%simple-btn {
    @extend %proxima-bold;
    display: block;
    width: 256px;
    text-align: center;
    color: $white;
    font-size: rem(16);
    background: linear-gradient(102.34deg, #02AAB0 0%, #00CDAC 100%);
    box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
    border-radius: 40px;
    padding: 19px 34px;
    transition: all .5s ease;
    &:hover {
        color: $white;
    }
    &:focus {
        box-shadow: none;
    }
}
%simple-tag {
    @extend %proxima-bold;
    cursor: pointer;
    display: block;
    width: 84px;
    height: 24px;
    font-size: rem(12);
    text-align: center;
    color: $white;
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    border-radius: 5px;
    padding: 5px 5px;
    transition: all .5s ease;
    &:hover {
        color: $white;
    }
    &:focus {
        box-shadow: none;
    }
}
%simple-input {
    @extend %proxima-regular;
    font-size: rem(16);
    color: $color_text_base;
    background-color: $white;
    display: inline-block;
    padding: 19px 0 19px 12px;
    width: 299px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .5);
    &:focus {
        border: 1px solid rgb(0, 0, 0);
    }
}
%admin-btn-reset {
    border-radius: 3px;
    max-width: 180px;
    padding: 10px;
    font-size: rem(15);
    box-shadow: none;
    border: 1px solid transparent;
    transition: all .5s ease;
    &:hover {
        background: none;
        border-color: $color_link_hover;
        color:$color_link_hover;
    }
}