// @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
// 	$src: null;

// 	$extmods: (
// 		eot: "?",
// 		svg: "#" + str-replace($name, " ", "_")
// 	);

// 	$formats: (
// 		otf: "opentype",
// 		ttf: "truetype"
// 	);

// 	@each $ext in $exts {
// 		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
// 		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
// 		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
// 	}

// 	@font-face {
// 		font-family: quote($name);
// 		font-style: $style;
// 		font-weight: $weight;
// 		src: $src;
// 	}
// }

@mixin font_face($file_name, $font_name:$file_name, $path:$font_path, $weight:normal, $style:normal) {
	@font-face {
		font-family: quote($font_name);
		src: url($path + $file-name + ".woff2") format("woff2"), 
		url($path + $file-name + ".woff") format("woff");
		font-weight: $weight;
		font-style: $style;
	}
}
@mixin placeholder($color, $opacity) {
	::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	::-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	:-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	:-ms-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
}


$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

$percent: 100%;
$myFullWidth: 1920;

@function width($num, $ful: $myFullWidth) {
	@return #{$num * $percent / $ful};
}

@mixin bp($width, $direction:max) {
	@if $direction==min {
		@media screen and (min-width: $width) {
			@content;
		}
	}

	@else {
		@media screen and (max-width: $width) {
			@content;
		}
	}
}

// @mixin flex_block($flex-direction, $flex-wrap, $content, $align-items, $align-content) {
// 	display: flex;
// 	@if $flex-direction {
// 		flex-direction: $flex-direction;
// 	}
// 	@if $flex-wrap {
// 		flex-wrap: $flex-wrap;
// 	}
// 	@if $content {
// 		justify-content: $content;
// 	}
// 	@if $align-content {
// 		align-content: $align-content;
// 	}
// 	@if $align-items {
// 		align-items: $align-items;
// 	}
// }

@mixin position($top: 0, $bottom: false, $right: false, $left: 0) {
	position: absolute;
	top: $top;
	left: $left;
	@if $bottom {
		bottom: $bottom;
	}
	@if $right {
		right: $right;
	}
	
}

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

//usage: @include shift([property],[duration],[easing]);
// @mixin ease($property: all, $duration: .3s, $ease: linear){
// 	-webkit-transition: $property $duration $ease;
// 	-moz-transition: $property $duration $ease;
// 	-o-transition: $property $duration $ease;
// 	transition: $property $duration $ease;
// }