//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$figureColor: #757575;
$accent1: #02AAB0;
$accent2: #00CDAC;
$color_account_bg: #112645;

$color_text_base: $black;
$color_link_base:#0084C2;
$color_link_hover:#0063F9;
$body_bg: $white;
//---------------------------------------------colors###