.user-image {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: $color_account_bg;
    margin: 0 10px;
    &__photo {
        @extend .navigation-ac__user__photo;
        @extend %aic;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #62bbfc;
        span {
            @extend %proxima-bold;
            font-size: rem(45);
        }
    } 
    &__name {
        @extend .navigation-ac__user__name;
        // margin: 0 auto;
        // width: 100%;
    }
    &__wrap {
        // @extend %df;
        position: relative;
    }
    &__drop {
        position: absolute;
        right: -15px;
        bottom: -2px;
        // margin-top: 3px;
        // margin-left: 5px;
        &-menu {
            position: absolute;
            left: 15px;
            top: 11px;
            width: auto;
            background-color: $white;
            display: none;
            opacity: 0;
        }
        &:hover {
            .user-image__drop-menu {
                display: block;
                opacity: 1;
            }
        }
    }
    &__item {
        width: 162px;
        height: 30px;
        @extend %df;
        @extend %aic;
        padding-left: 10px;
    }
    &__link {
        @extend %proxima-regular;
        font-size: rem(16);
        color: $color_text_base;
        display: inline-block;
        width: 100%;
    }
    &__btn {
        position: relative;
        span {
            cursor: pointer;
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 11px solid $white;
        }
    }

}
.user-image,
.user-awards {
  width: calc(100% / 2);
  height: 293px;
  box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
}
.user-awards {
    padding-top: 37px;
    background-color: $white;
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        text-align: center;
    }
    &__wrap {
        width: 100%;
        &--text {
            margin-top: 81px;
        }
        &--img {
            @extend %df;
            @extend %aic;
            @extend %jcsa;
            margin-top: 22px;
        }
    }
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
        text-align: center;
    }
}