// .main-account-chalenges {

// }
.wrap-have-no-chalenges {
    height: 100vh;
    @extend %df;
    @extend %aic;
    @extend %jcc;
}
.haveno-chalenges {
    // .haveno-chalenges__wrap-image
    &__wrap-image {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    // .haveno-chalenges__title
    &__title {
        @extend %proxima-regular;
        font-size: rem(36);
        text-align: center;
        margin-top: 33px;
        margin-bottom: 34px;
    }
    // .haveno-chalenges__btn
    &__btn {
        @extend %simple-btn;
        margin: 0 auto;
    }
}
// i have chalenges
.wrap-chalendes {
    @extend %df;
    @extend %fw;
    padding-top: 46px;
    padding-left: 124px;
    .chalenge-card {
        width: 424px;
        margin-left: 0;
        margin-right: 84px;
        margin-bottom: 64px;
        &:nth-child(2n) {
            // margin-right: 70px;
        }
        &__done {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            height: 56px;
            span {
                display: inline-block;
                @extend %proxima-bold;
                font-size: rem(16);
                margin-left: 12px;
            }
        }
    }
}
// Downloading Result 
.wrap-downloading-result {
    height: 100vh;
    @extend %df;
    @extend %aic;
    @extend %jcc;
}
.dow-chalenge {
    // .dow-chalenge__title
    &__title {
        @extend %df;
        @extend %aic;
        @extend %proxima-bold;
        font-size: rem(32);
        margin-bottom: 34px;
        i {
            margin-right: 17px;
        }
    }
    // .dow-chalenge__btn
    &__btn {
        @extend %simple-btn;
        margin: 0 auto;
    }
}
// All chalenges
[class^="chalenges-sect-"],
[class*="chalenges-sect-"] {
    .chalenge-card {
        &:nth-child(2) {
            margin: 0 12px;
        }
    }
}
.chalenges-sect-3 {
    padding-bottom: 463px;
    .sect-image {
        &--1 {
            bottom: 123px;
        }
        &--2 {
            bottom: 118px;
        }
        &--3 {
            bottom: 42px;
        }
    }
}
// About Chalenge
.about-chalenge {
    position: fixed;
    top: 0;
    left: 240px;
    width: 470px;
    height: 100vh;
    padding-top: 25px;
    // padding-bottom: 82px;
    padding-left: 42px;
    padding-right: 42px;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    // .about-chalenge__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        margin-top: 25px;
    }
    // .about-chalenge__subtitle
    &__subtitle {
        @extend %proxima-bold;
        font-size: rem(24);
        margin-bottom: 17px;
    }
    // .about-chalenge__wrap
    &__wrap {
        // .about-chalenge__wrap_top
        &_top {
            margin: 30px 0;
            .about-chalenge__text {
                margin-bottom: 15px;
            }
        }
        // .about-chalenge__wrap_bottom
        &_bottom {}
    }
    // .about-chalenge__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
    }
    // .about-chalenge__price
    &__price {
        @extend %proxima-regular;
        font-size: rem(18);
        span {
            @extend %proxima-bold;
        }
        margin: 25px 0;
    }
    // .about-chalenge__btn
    &__btn {
        @extend %simple-btn;
    }
}
// Participant of chalenge
.participant {
    padding-left: 521px;
    padding-top: 50px;
    // .participant__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        text-align: center;
    }
    // .participant__wrap
    &__wrap {
        padding-top: 46px;
        @extend %df;
        @extend %fw;    
        @extend %jcsa;    
    }
    // .participant__item
    &__item {
        margin-right: 50px;
        margin-bottom: 50px;
    }
    // .participant__user
    &__user {
        // .participant__user_image
        &_image {
            margin-bottom: 8px;
        }
        // .participant__user_name
        &_name {
            @extend %proxima-bold;
            font-size: rem(16);
            text-align: center;
            color: $black;
        }
    }
}
