.navigation-ac {
    position: fixed;
    top: 0;
    left: 0;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    width: 240px;
    padding-top: 24px;
    background-color: $color_account_bg;
    height: 100vh;
    // .navigation-ac__logo
    &__logo {
        margin: 0 auto;
        margin-bottom: 31px;
        // .navigation-ac__logo__link
        // &__link {}
    }
    // .navigation-ac__user
    &__user {
        margin-bottom: 27px;
        // .navigation-ac__user__photo
        &__photo {
            @extend %df;
            @extend %jcc;
            margin-bottom: 8px;
        }
        // .navigation-ac__user__name 
        &__name {
            @extend %proxima-bold;
            font-size: rem(16);
            text-align: center;
            color: $white;
        }
    }
    // .navigation-ac__menu
    &__menu {
        width: 100%;
        // .navigation-ac__menu__item
        &__item {
            @extend %proxima-bold;
            @extend %df;
            @extend %aic;
            height: 50px;
            transition: all .5s ease;
        }
        // .navigation-ac__menu__link
        &__link {
            @extend %df;
            @extend %aic;
            width: 100%;
            height: 100%;
            padding-left: 24px;
            font-size: rem(16);
            color: $white;
            transition: all .5s ease;
            &:hover {
                color: $white;
                background: linear-gradient(102.94deg, #02AAB0 0%, #00CDAC 100%);
            }
            span {
                margin-left: 16px;
                margin-top: 3px;
            }
        }
        // .navigation-ac__menu__icon
        &__icon {
            display: inline-block;
            &:before {
                font-size: rem(35);
            }
            &_6,
            &_7 {
                margin-top: 2px;
            }
        }
        // .navigation-ac__menu__text-link
        // &__text-link {}
    }
}
