
.faq-sect {
    .wrapper {
        padding-top: 98px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.faq-content {
    width: 100%;
    // .faq-content__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        text-align: center;
        margin-bottom: 33px;
    }
    // .faq-content__wrap
    &__wrap {}
    // .faq-content__item
    &__item {
        width: 100%;
        padding-top: 25px;
        padding-left: 32px;
        padding-right: 32px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        margin-bottom: 16px;
        overflow: hidden;
        &.open {
            .faq-content__quest_wrap-title {
                span {
                    &:before {
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
    // .faq-content__quest
    &__quest {
        // .faq-content__quest_wrap-title
        &_wrap-title {
            position: relative;
            span {
                &:after,
                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 22px;
                    height: 3px;
                    top: 10px;
                    right: 0;
                    background-color: #000;
                    border-radius: 3px;
                    transition: all .5s ease;
                }
                &:before {
                    -moz-transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }
        }
        // .faq-content__quest_title
        &_title {
            @extend %proxima-bold;
            font-size: rem(16);
            text-align: center;
            margin-bottom: 21px;
        }
        // .faq-content__quest_content
        &_content {
            // -webkit-transition: height .25s ease;
            // -o-transition: height .25s ease;
            // transition: height .25s ease;
            // overflow: hidden;
            &:not(.active) {
                display: none;
            }
        }
        // .faq-content__quest_text
        &_text {
            @extend %proxima-regular;
            font-size: rem(16);
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 37px;
        }
    }
}