.profile-edit {
    padding-top: 39px;
    padding-left: 36px;
    padding-bottom: 100px;
    &__wrap {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
        // .profile-edit__wrap-name
        &-name {
            input {
                margin-right: 24px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        // .profile-edit__wrap-birth
        &-birth {}
         // .profile-edit__wrap-male
        &-male {}
        // .profile-edit__wrap-address
        &-address {}
        // .profile-edit__wrap-inside
        &-inside {
            input {
                margin-right: 24px;
                &:nth-child(2), 
                &:last-child {
                    width: 120px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        // .profile-edit__wrap-social
        &-social {
            margin-bottom: 32px;
        } 
    }
    // .profile-edit__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(16);
        margin-bottom: 12px;
    }
    // .profile-edit__wrap-input
    &__wrap-input {
        // .profile-edit__wrap-input_addres
        &_addres {
            @extend %df;
            @extend %fdc;
            input {
                margin-bottom: 16px;
            }
        }
    }
    // .profile-edit__input
    &__input {
        @extend %simple-input;
    }
    // .profile-edit__date
    &__date {}
    // .profile-edit__labe
    &__label {
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 10px 0 0 7px;
            &:checked + span:after {
                opacity: 1;
            }
        }
        span {
            display: inline-block;
            position: relative;
            padding: 0 0 0 28px;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                top: -3px;
                left: 0;
                width: 21px;
                height: 21px;
                border: 1px solid $black;
                border-radius: 50%;
                background: $white;
            }
            &:after {
                content: '';
                position: absolute;
                top: -.2px;
                left: 2.5px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $black;
                // box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
                opacity: 0;
                transition: .2s;
            }
        }
    }
    // .profile-edit__checkbox
    &__checkbox {}
    // .profile-edit__phone
    &__phone {}
    // .profile-edit__input-phone
    &__input-phone {}
    // .profile-edit__item
    &__item {
        @extend %df;
        @extend %aic;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        input {
            width: 196px;
            padding: 4px 0px 4px 10px;
        }
    }
    // .profile-edit__ico-social
    &__ico-social {
        @extend .profile-info__social-link;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        // .profile-edit__ico-social_vk
        &_vk {
            @extend .profile-info__social-link_vk;
        }
        // .profile-edit__ico-social_fb
        &_fb {
            @extend .profile-info__social-link_fb;
        }
        // .profile-edit__ico-social_inst
        &_inst {
            @extend .profile-info__social-link_inst;
        }
    }
    &__btn {
        @extend %simple-btn;
        width: 299px;
    }
}