.main-login {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 100%;
    height: 100vh;
}
.login {
    position: relative;
    width: 570px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 126px;
    padding-right: 126px;
    // .login__logo
    &-forgot {
        .login__logo {
            margin-bottom: 20px;
        }
    }
    &__logo {
        display: block;
        margin-bottom: 35px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__error {
        @extend %proxima-regular;
        font-size: rem(16);
        margin-bottom: 20px;
        color: #EB3232;
        opacity: 0;
        // position: absolute;
        // left: 0;
        // top: 0;
    }
    // .login__tab
    &__tab {
        @extend %df;
        @extend %jcc;
        margin-bottom: 50px;
        // .login__tab_item
        &_item {
            @extend %proxima-regular;
            font-size: rem(16);
            width: 191px;
            height: 50px;
            border: 1px solid $black;
            text-align: center;
            line-height: 45px;
            transition: all .5s ease;
            cursor: pointer;
            &:nth-child(2) {
                width: 125px;
            }
            &:hover {
                background: #0084C2;
                border-color: transparent;
                color: #fff;
            }
            &.active {
                background: #0084C2;
                border-color: transparent;
                color: #fff;
            }
        }
    }
    // .login__content
    &__content {
        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }
    }
    // .login__form
    &__form {}
    // .login__wrap
    &__wrap {
        // .login__wrap_input
        &_input {}
        // .login__wrap_links
        &_links {}
    }
    // .login__input
    &__input {
        display: block;
        width: 100%;
        @extend %proxima-regular;
        font-size: rem(16);
        padding: 13px 0 13px 15px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
        &:last-child {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    // .login__forgout-pas
    &__forgout-pas {
        @extend %proxima-regular;
        font-size: rem(16);
        color: $color_link_base;
        &:hover {
            color: $color_link_hover;
        }
    }
    // .login__btn
    &__btn {
        @extend %simple-btn;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 28px;
    }
    // .login__link
    &__link {
        @extend %proxima-regular;
        font-size: rem(16);
        text-align: center;
        &:first-child {
            margin-bottom: 15px;
        }
        a {
            color: $color_link_base;
            &:hover {
                color: $color_link_hover;
            }
        }
    }
    // .login__links
    &__links {
        // .login__links_first
        &_first {}
    }
}
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.remember-pass {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
    padding: 150px 0;
    @extend %df;
    @extend %jcc;
    @extend %aic;
    @extend %fdc;
    // .remember-pass__logo-link
    &__logo-link {
        display: block;
    }

    // .remember-pass__title

    &__title {
        @extend %df;
        @extend %jcc;
        @extend %aic;
        margin-top: 20px;
        i {
            margin-right: 15px;
        }
    }
}
