.news-sect {
    .wrapper {
        @extend %df;
        @extend %fdc;
        padding-top: 32px;
        padding-left: 94px;
    }
}
.one-news-sect {
    .wrapper {
        @extend %df;
        @extend %fdc;
        padding-top: 32px;
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 36px;
        .back {
            margin-bottom: 47px;
        }
    }
}
.news-tags {
    @extend %df;
    padding-bottom: 34px;
    // .news-tags__item
    &__item {
        @extend %simple-tag;
        margin-right: 12px;
    }
}

.events-tag {
    background: linear-gradient(99.51deg, #02AAB0 0%, #00CDAC 100%);
}

.motivation-tag {
    background: linear-gradient(99.51deg, #0683DE 0%, #05A6EB 100%);
}

.nutrition-tag {
    background: linear-gradient(99.51deg, #0286B0 0%, #00A8CD 100%);
}

.equipment-tag {
    background: linear-gradient(99.51deg, #01B292 0%, #3ECF56 100%);
}

.news {
    @extend %df;
    @extend %fw;
    // .news-block__item
    &__item {
        scroll-snap-align: center;
        white-space: normal;
        width: 455px;
        height: 600px;
        padding: 8px;
        background-color: $white;
        box-shadow: 0px 8px 16px rgba(8, 35, 48, 0.2);
        margin-right: 56px;
        margin-bottom: 75px;
        cursor: pointer;
    }
    // .news-block__img
    &__img {
        overflow: hidden;
        max-height: 350px;
        box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
    }
    // .news-block__content
    &__content {
        padding: 22px 16px 0;
    }
    // .news-block__wrap-title
    &__wrap {
        &-title {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            margin-bottom: 10px;
        }
        &-tag {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
        }
    }
    // .news-block__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(26);
    }
    // .news-block__tag
    &__tag {
        @extend %simple-tag;
        &:nth-child(2) {
            margin-left: 12px;
        }
    }
    // .news-block__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
        margin-bottom: 17px;
    }
    // .news-block__date
    &__date {
        @extend %proxima-regular;
        font-size: rem(16);
    }
}
// One page news
.back {

    // .back__link

    &__link {}
}
.news-content {
    position: relative;
    padding: 0 34px;
    padding-top: 57px;
    padding-bottom: 39px;
    background-color: $white;
    box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
    // .news-content__wrap
    &__wrap {
        // .news-content__wrap_title
        &_title {
           
        }
        // .news-content__wrap_tag
        &_tag {
            position: absolute;
            top: 66px;
            right: 34px;
            z-index: 5;
            @extend %df;
        }
        // .news-content__wrap_user
        &_user {
            @extend %df;
            margin-bottom: 35px;
        }
    }
    // .news-content__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        text-align: center;
        margin-bottom: 63px;
    }
    // .news-content__tag
    &__tag {
        @extend %simple-tag;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
    // .news-content__user
    &__user {
        margin-right: 15px;
    }
    // .news-content__user-img
    &__user-img {}
    // .news-content__user-name
    &__user-name {
        @extend .participant__user_name;
    }
    // .news-content__text
    &__text {}
    // .news-content__content-all
    &__content-all {
        p {
            @extend %proxima-regular;
            font-size: rem(16);
            margin-bottom: 69px;
            &:last-child {
                margin-bottom: 20px;
            }
        }
        img {
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        iframe {
            width: 100%;
            height: 710px;
            margin-bottom: 30px;
        }
    }
}
.chart-tooltip {
    // opacity: 1;
    // position: absolute;
    @extend %proxima-bold;
    font-size: rem(16);
    box-shadow: 0px 10px 24px rgba(29, 42, 68, 0.12);
    background-color: $white;
}