.profile-info, 
.news-block {
    width: calc(100% / 2)
}
.profile-info {
    min-width: 604px;
    padding-top: 36px;
    // .profile-info__wrap
    &__wrap {
        padding-left: 36px;
        padding-bottom: 47px;
        padding-right: 260px;
    }
    // .profile-info__item
    &__item {
        @extend %proxima-bold;
        font-size: rem(16);
        margin-bottom: 40px;
        &:nth-child(5) {
            margin-bottom: 20px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    // .profile-info__social
    &__social {
        @extend %df;
        width: 80px;
    }
    // .profile-info__social-item
    &__social-item {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    // .profile-info__social-link
    &__social-link {
        display: inline-block;
        width: inherit;
        height: inherit;
        @extend %bg-reset;
        // .profile-info__social-link_vk
        &_vk {
            background-image: url(../img/account/vk-profile.svg);
        }
        // .profile-info__social-link_fb
        &_fb {
            background-image: url(../img/account/fb-profile.svg);
        }
        // .profile-info__social-link_inst
        &_inst {
            background-image: url(../img/account/inst-profile.svg);
        }
    }
}
.advantages {
    max-width: 604px;
    @extend %bg-reset;
    height: 244px;
    // .advantages__wrap
    &__wrap {
        width: 100%;
        height: 100%;
        @extend %df;
        @extend %aic;
        @extend %jcc;
    }
    // .advantages__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(24);
        color: $white;
        text-align: center;
    }
}
.news-block {
    @extend %df;
    // width: 926;
    padding-top: 13px;
    padding-left: 10px;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(60%);
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
        height: 4px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #D6DEFF;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        margin: 0 12px;
    }
    .news__item {
        &:first-child {
            margin-left: 27px;
            margin-right: 170px;
        }

    }
}
.participation {
    max-width: 604px;
    height: 244px;
    padding: 40px 33px 0;
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    background-color: #fff;
    // .participation__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(24);
        margin-bottom: 37px;
        text-align: center;
    }
    // .participation__wrap
    &__wrap {
        width: 100%;
        @extend %df;
        @extend %fw;
        @extend %jcsa;
    }
    // .participation__name
    &__name {
        @extend %proxima-bold;
        font-size: rem(20);
        margin-right: 15px;
        margin-bottom: 61px;
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin-bottom: 0;
        }
    }
}


