.statistics-sect {
    .wrapper {
        padding-left: 26px;
        padding-top: 186px;
    }
}
.charts {
    // .charts__title
    &__title {
     @extend %proxima-bold;
     font-size: rem(25);
     text-align: center;
     margin-bottom: 43px;
    }
    // .charts__wrap
    &__wrap {
        min-width: 760px;
    }
}
.chart-form {
    width: 264px;
    padding-top: 116px;
    margin-left: 6px;
    position: relative;
    &--you-cant {
        &:before {
            position: absolute;
            top: 76px;
            bottom: 0;
            width: 320px;
            content: 'Данные можно будет ввести через неделю';
            @extend %proxima-regular;
            font-size: rem(16);
            color: #EB3232;
        }
        .chart-form__wrap {
            opacity: 0.4;
        }
        button[disabled] {
            opacity: .4;
            cursor: no-drop;
        }
    }
    // .chart-form__wrap
    &__wrap {
        @extend %df;
        @extend %jcsb;
    }
    // .chart-form__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
        position: relative;
        margin-bottom: 40px;
        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            bottom: -10px;
            width: 50px;
            height: 5px;
        }
        &--run {
            &:after {
                background-color: #FF6C40;
            }
        }
        &--drive {
            &:after {
                background-color: #826AF9;
            }
        }
        &--swim {
            &:after {
                background-color: #FFE700;
            }
        }
    }
    // .chart-form__wrap-input
    &__wrap-input {
        position: relative;
        &:after {
            position: absolute;
            content: 'км';
            @extend %proxima-regular;
            bottom: 28px;
            right: 7px;
            font-size: rem(16);
        }
    }
    // .chart-form__input
    &__input {
        @extend %simple-input;
        width: 156px;
        padding: 6px 0 6px 8px;
    }
    // .chart-form__btn
    &__btn {
        @extend %simple-btn;
        width: 100%;
    }
}
.chart-cant-change {
    // .chart-cant-change__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        margin-bottom: 30px;
    }
    // .chart-cant-change__wrap
    &__wrap {
        display: flex;
        filter: blur(10px) 
    }
}
