<div class="about-chalenge">
    <div class="back">
        <a href="#" class="back__link">
            <i>
                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M32 8.88889H6.75556L13.1556 2.48889L10.6667 0L0 10.6667L10.6667 21.3333L13.1556 18.8444L6.75556 12.4444H32V8.88889Z"
                        fill="black" />
                </svg>
            </i>
            <span>Вернуться</span>
        </a>
        <!-- /.back__link -->
    </div>
    <!-- /.back -->
    <h1 class="about-chalenge__title">Челлендж «<span>Новичок</span>»</h1>
    <!-- /.about-chalenge__title -->
    <div class="about-chalenge__wrap about-chalenge__wrap_top">
        <p class="about-chalenge__text">Необходимо начать бегать 3 раза в неделю по 3 км.</p>
        <!-- /.about-chalenge__text -->
        <p class="about-chalenge__text">Этим самым вы знакомитесь с бегом,
            понимаете как надо дышать и чувствуете с каждым
            разом,что вам все проще даются эти 3 км.</p>
        <!-- /.about-chalenge__text -->
        <p class="about-chalenge__text">За неделею у вас получится 9км, за месяц 36км. </p>
        <!-- /.about-chalenge__text -->
    </div>
    <!-- /.about-chalenge__wrap about-chalenge__wrap_top -->
    <div class="about-chalenge__wrap about-chalenge__wrap_bottom">
        <h1 class="about-chalenge__subtitle">Правила участия</h1>
        <!-- /.about-chalenge__subtitle -->
        <p class="about-chalenge__text">Мы вынуждены отталкиваться от того, что перспективное планирование способствует
            повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое тестирование
            представляет собой интересный эксперимент проверки соответствующих условий активизации. Безусловно,
            дальнейшее развитие различных форм деятельности, в своем классическом представлении, допускает внедрение
            своевременного выполнения сверхзадачи.Безусловно, дальнейшее развитие различных форм деятельности, в своем
            классическом представлении, допускает</p>
        <!-- /.about-chalenge__text -->
        <p class="about-chalenge__price">Стоимость: <span>1 500 рублей</span></p>
        <!-- /.about-chalenge__price -->
    </div>
    <!-- /.about-chalenge__wrap about-chalenge__wrap_bottom -->
    <button class="about-chalenge__btn">Зарегистрироваться</button>
    <!-- /.about-chalenge__btn -->
</div>
<!-- /.about-chalenge -->