<div class="news-tags">
    <a href="#" class="news-tags__item events-tag"><span>События</span></a>
    <!-- /.news-tags__item -->
    <a href="#" class="news-tags__item motivation-tag"><span>Мотивация</span></a>
    <!-- /.news-tags__item -->
    <a href="#" class="news-tags__item nutrition-tag"><span>Питание</span></a>
    <!-- /.news-tags__item -->
    <a href="#" class="news-tags__item equipment-tag"><span>Экипировка</span></a>
    <!-- /.news-tags__item -->
</div>
<!-- /.news-tags -->
<div class="news">
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                    <div class="news__tag motivation-tag">Экипировка</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__wrap-tag">
                    <div class="news__tag events-tag">События</div>
                    <!-- /.news__tag -->
                </div>
                <!-- /.news__wrap-tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
</div>
<!-- /.news -->
