<div class="back">
    <a href="#" class="back__link">
        <i>
            <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M32 8.88889H6.75556L13.1556 2.48889L10.6667 0L0 10.6667L10.6667 21.3333L13.1556 18.8444L6.75556 12.4444H32V8.88889Z"
                    fill="black" />
            </svg>
        </i>
        <span>Вернуться</span>
    </a>
    <!-- /.back__link -->
</div>
<!-- /.back -->
<div class="news-content">
    <div class="news-content__wrap_title">
        <h1 class="news-content__title">Заголовок </h1>
        <!-- /.news-content__title -->
        <div class="news-content__wrap_tag">
            <a href="#" class="news-content__tag events-tag">События</a>
            <!-- /.news-content__tag -->
            <a href="#" class="news-content__tag motivation-tag">Мотивация</a> 
            <!-- /.news-content__tag -->
        </div>
        <!-- /.news-content__wrap_tag -->
    </div>
    <!-- /.news-content__wrap_title -->
    <div class="news-content__wrap_user">
        <div class="news-content__user">
            <div class="news-content__user-img"><img src="img/account/user-with-photo.png" alt="User name"></div>
            <!-- /.news-content__user-img -->
            <p class="news-content__user-name">Богдан Яйцев</p>
            <!-- /.news-content__user-name -->
        </div>
        <!-- /.news-content__user -->
        <p class="news-content__text">
            Кстати, реплицированные с зарубежных источников, современные исследования освещают
            чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, разоблачены. Также
            как граница обучения кадров в значительной степени обусловливает важность распределения внутренних резервов
            и ресурсов! Принимая во внимание показатели успешности, понимание сути ресурсосберегающих технологий
            предоставляет широкие возможности для прогресса профессионального сообщества. Господа, сложившаяся структура
            организации обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения
            сверхзадачи. Не следует, однако, забывать, что выбранный нами инновационный путь не оставляет шанса для как
            самодостаточных, так и внешне зависимых концептуальных решений. Являясь всего лишь частью общей картины,
            независимые государства набирают популярность среди определенных слоев населения.
        </p>
        <!-- /.news-content__text -->
    </div>
    <!-- /.news-content__wrap_user -->
    <div class="news-content__content-all">
        <p>
            Кстати, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные
            особенности картины в целом, однако конкретные выводы, разумеется, разоблачены. Также как граница обучения
            кадров в значительной степени обусловливает важность распределения внутренних резервов и ресурсов! Принимая
            во внимание показатели успешности, понимание сути ресурсосберегающих технологий предоставляет широкие
            возможности для прогресса профессионального сообщества. Господа, сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи. Не
            следует, однако, забывать, что выбранный нами инновационный путь не оставляет шанса для как самодостаточных,
            так и внешне зависимых концептуальных решений. Являясь всего лишь частью общей картины, независимые
            государства набирают популярность среди определенных слоев населения, а значит, должны быть объективно
            рассмотрены соответствующими инстанциями.
        </p>
        <img src="img/account/one-news.jpg" alt="">
        <p>
            Кстати, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные
            особенности картины в целом, однако конкретные выводы, разумеется, разоблачены. Также как граница обучения
            кадров в значительной степени обусловливает важность распределения внутренних резервов и ресурсов! Принимая
            во внимание показатели успешности, понимание сути ресурсосберегающих технологий предоставляет широкие
            возможности для прогресса профессионального сообщества. Господа, сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи. Не
            следует, однако, забывать, что выбранный нами инновационный путь не оставляет шанса для как самодостаточных,
            так и внешне зависимых концептуальных решений. Являясь всего лишь частью общей картины, независимые
            государства набирают популярность среди определенных слоев населения, а значит, должны быть объективно
            рассмотрены соответствующими инстанциями.
        </p>
        <img src="img/account/one-news-2.jpg" alt="">
        <p>
            Кстати, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные
            особенности картины в целом, однако конкретные выводы, разумеется, разоблачены. Также как граница обучения
            кадров в значительной степени обусловливает важность распределения внутренних резервов и ресурсов! Принимая
            во внимание показатели успешности, понимание сути ресурсосберегающих технологий предоставляет широкие
            возможности для прогресса профессионального сообщества. Господа, сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи. Не
            следует, однако, забывать, что выбранный нами инновационный путь не оставляет шанса для как самодостаточных,
            так и внешне зависимых концептуальных решений. Являясь всего лишь частью общей картины, независимые
            государства набирают популярность среди определенных слоев населения, а значит, должны быть объективно
            рассмотрены соответствующими инстанциями.
        </p>
        <p>
            Кстати, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные
            особенности картины в целом, однако конкретные выводы, разумеется, разоблачены. Также как граница обучения
            кадров в значительной степени обусловливает важность распределения внутренних резервов и ресурсов! Принимая
            во внимание показатели успешности, понимание сути ресурсосберегающих технологий предоставляет широкие
            возможности для прогресса профессионального сообщества. Господа, сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи. Не
            следует, однако, забывать, что выбранный нами инновационный путь не оставляет шанса для как самодостаточных,
            так и внешне зависимых концептуальных решений. Являясь всего лишь частью общей картины, независимые
            государства набирают популярность среди определенных слоев населения, а значит, должны быть объективно
            рассмотрены соответствующими инстанциями.
        </p>
        <iframe src="https://www.youtube.com/embed/NeQM1c-XCDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        <p>
            Кстати, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные
            особенности картины в целом, однако конкретные выводы, разумеется, разоблачены. Также как граница обучения
            кадров в значительной степени обусловливает важность распределения внутренних резервов и ресурсов! Принимая
            во внимание показатели успешности, понимание сути ресурсосберегающих технологий предоставляет широкие
            возможности для прогресса профессионального сообщества. Господа, сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи. Не
            следует, однако, забывать, что выбранный нами инновационный путь не оставляет шанса для как самодостаточных,
            так и внешне зависимых концептуальных решений. Являясь всего лишь частью общей картины, независимые
            государства набирают популярность среди определенных слоев населения, а значит, должны быть объективно
            рассмотрены соответствующими инстанциями.
        </p>
    </div>
    <!-- /.news-content__content-all -->
    <div class="news-content__date">
        26.03.2019
    </div>
    <!-- /.news-content__date -->
</div>
<!-- /.news-content -->