<div class="user-image">
    <div class="user-image__wrap">
        <div class="user-image__photo"><img src="img/account/user-with-photo.png" alt="User Name"></div>
        <!-- /.user-image__photo -->
        <div class="user-image__wrap-name">
            <h1 class="user-image__name">Богдан Яйцев</h1>
            <!-- /.user-image__name -->
            <ul class="user-image__drop">
                <li class="user-image__btn">
                    <span></span>
                    <ul class="user-image__drop-menu">
                        <li class="user-image__item">
                        <a href="#" class="user-image__link">Редактировать</a>
                        <!-- /.user-image__link -->
                        </li>
                        <!-- /.user-image__item -->
                        <li class="user-image__item">
                            <a href="#" class="user-image__link user-image__link-photo">Загрузить фото</a>
                            <!-- /.user-image__link -->
                        </li>
                        <!-- /.user-image__item -->
                    </ul>
                    <!-- /.user-image__drop-menu -->
                </li>
                <!-- /.user-image__btn -->
            </ul>
            <!-- /.user-image__drop -->
        </div>
        <!-- /.user-image__wrap-name -->
    </div>
    <!-- /.user-image__wrap -->
    <div class="user-image__upload">
        <div class="user-image__drop-zone drop">
            <!-- <div class="user-image__remove" data-dz-remove>X</div> -->
            <!-- /.user-image__remove -->
            <div class="dz-default dz-message">
                <span>Поместите файлы сюда, чтобы загрузить</span>
            </div>
            <div class="dz-preview dz-file-preview">
                <a class="dz-remove" href="javascript:undefined;" data-dz-remove></a>
            </div>
        </div>
        <!-- /.user-image__drop-zone -->
    </div>
    <!-- /.user-image__upload -->
</div>
<!-- /.user-image -->
<div class="user-awards">
    <h2 class="user-awards__title">Награды</h2>
    <!-- /.user-awards__title -->
    <div class="user-awards__wrap--img">
        <div class="user-awards__images"><img src="img/account/medal-cab.png" alt=""></div>
        <!-- /.user-awards__images -->
        <div class="user-awards__images"><img src="img/account/short-medal.jpg" alt=""></div>
        <!-- /.user-awards__images -->
        <div class="user-awards__images"><img src="img/account/short-medal.jpg" alt=""></div>
        <!-- /.user-awards__images -->
    </div>
    <!-- /.user-awards__wrap -->
</div>
<!-- /.user-awards -->