<div class="user-image">
    <div class="user-image__wrap">
        <div class="user-image__photo"><span>Б</span></div>
        <!-- /.user-image__photo -->
        <div class="user-image__wrap-name">
            <h1 class="user-image__name">Богдан Яйцев</h1>
            <!-- /.user-image__name -->
            <ul class="user-image__drop">
                <li class="user-image__btn">
                    <span></span>
                    <ul class="user-image__drop-menu">
                        <li class="user-image__item">
                            <a href="#" class="user-image__link">Редактировать</a>
                            <!-- /.user-image__link -->
                        </li>
                        <!-- /.user-image__item -->
                        <li class="user-image__item">
                            <a href="#" class="user-image__link">Загрузить фото</a>
                            <!-- /.user-image__link -->
                        </li>
                        <!-- /.user-image__item -->
                    </ul>
                    <!-- /.user-image__drop-menu -->
                </li>
                <!-- /.user-image__btn -->
            </ul>
            <!-- /.user-image__drop -->
        </div>
        <!-- /.user-image__wrap-name -->
    </div>
    <!-- /.user-image__wrap -->
</div>
<!-- /.user-image -->
<div class="user-awards">
    <h2 class="user-awards__title">Награды</h2>
    <!-- /.user-awards__title -->
    <div class="user-awards__wrap--img">
        <div class="user-awards__images"><img src="img/account/medal-cab.png" alt=""></div>
        <!-- /.user-awards__images -->
        <div class="user-awards__images"><img src="img/account/short-medal.jpg" alt=""></div>
        <!-- /.user-awards__images -->
        <div class="user-awards__images"><img src="img/account/short-medal.jpg" alt=""></div>
        <!-- /.user-awards__images -->
    </div>
    <!-- /.user-awards__wrap -->
</div>
<!-- /.user-awards -->