<div class="profile-info">
    <ul class="profile-info__wrap">
        <li class="profile-info__item">Яйцев Богдан Яйцевич</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">16.04.1997</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">Мужской</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">Россия, Ульяновская область, г. Ульяновск,
            Ленинского комсомола дом 1, квартира 448
            432051</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">+7(925)321-55-55</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">
            <ul class="profile-info__social">
                <li class="profile-info__social-item">
                    <a href="#" class="profile-info__social-link profile-info__social-link_vk"></a>
                    <!-- /.profile-info__social-link -->
                </li>
                <!-- /.profile-info__social-item -->
                <li class="profile-info__social-item">
                    <a href="#" class="profile-info__social-link profile-info__social-link_fb"></a>
                    <!-- /.profile-info__social-link -->
                </li>
                <!-- /.profile-info__social-item -->
                <li class="profile-info__social-item">
                    <a href="#" class="profile-info__social-link profile-info__social-link_inst"></a>
                    <!-- /.profile-info__social-link -->
                </li>
                <!-- /.profile-info__social-item -->
            </ul>
            <!-- /.profile-info__social -->
        </li>
        <!-- /.profile-info__item -->
    </ul>
    <!-- /.profile-info__wrap -->
    <div class="participation">
        <div class="participation__title">Участник челленджей</div>
        <!-- /.participation__title -->
        <div class="participation__wrap">
            <p class="participation__name">Начинающий</p>
            <!-- /.participation__name -->
            <p class="participation__name">Новичек</p>
            <!-- /.participation__name -->
            <p class="participation__name">Плыви Марафон</p>
            <!-- /.participation__name -->
            <p class="participation__name">Начинающий</p>
            <!-- /.participation__name -->
            <p class="participation__name">Новичек</p>
            <!-- /.participation__name -->
            <p class="participation__name">Плыви Марафон</p>
            <!-- /.participation__name -->
        </div>
        <!-- /.participation__wrap -->
    </div>
    <!-- /.participation -->
</div>
<!-- /.profile-info -->
<div class="news-block">
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__tag events-tag">События</div>
                <!-- /.news__tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__tag events-tag">События</div>
                <!-- /.news__tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
</div>
<!-- /.news -->