<div class="faq-content">
    <h1 class="faq-content__title">Вопрос ответ</h1>
    <!-- /.faq-content__title -->
    <div class="faq-content__wrap">
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Что будет, если я не выполню задание за неделю?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Если это не уважительная причина,то автоматически будет вылет с
                    участия в челлендже.
                    На то это и челлендж)</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Что будет если я загружу данные с трекера позже установленного
                    срока?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Читай первый пункт</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Какое приложение лучше использовать для записи трека?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Самые распространенные приложения: Strava, NikeRunClub или любое
                    другое на свое усмотрение.</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Как подгружать запись трекера в личный кабинет?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Вам всего лишь нужно сделать скрин экрана вашей тренировки, с личного
                    аккаунта в приложении и загрузить его в поле загрузки результата</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Что нужно , чтобы получить призы?
</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Заполните полностью свой профиль, вовремя выполняйте свои задания
                    челленджа, и загружайте данные в свой личный кабинет. Приз отправим службой доставки или можете
                    забрать свой приз лично, если вы из Санкт-Петербурга</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Можно ли бегать на дорожке?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Читай выше)</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Можно ли ездить на велосипеде в зале?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Да, можно. В этом случае вы делаете фото показателей на экране самой
                    беговой дорожки.</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Можно ли плавать в бассейне?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Читай пункт выше)</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Можно ли сменить челлендж после покупки?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Пропущенные задания вы сами распределяете в оставшиеся недели
                    челленджа.</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Как быть если по семейным обстоятельствам не смог/ не смогу
                    выполнить недельное задание?</h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">После оплаты деньги не возвращаются, но вы можете перенести
                    выполнение челленджа, написав нам об этом с указанием причины</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
        <div class="faq-content__item">
            <div class="faq-content__quest_wrap-title">
                <h2 class="faq-content__quest_title">Могу ли я отказаться от выполнения челленджа и вернуть свои деньги?
                </h2>
                <!-- /.faq-content__quest_title -->
                <span></span>
            </div>
            <!-- /.faq-content__quest_wrap-title -->
            <div class="faq-content__quest_content">
                <p class="faq-content__quest_text">Задания стартуют с 1 числа каждого месяца.
                    Списки участников формируются за 1 день до начала челленджа</p>
                <!-- /.faq-content__quest_text -->
            </div>
            <!-- /.faq-content__quest_content -->
        </div>
        <!-- /.faq-content__item -->
    </div>
    <!-- /.faq-content__wrap -->
</div>
<!-- /.faq-content -->