<div class="login__content">
    <form action="#" class="login__form">
        <div class="login__wrap_input">
            <input type="email" class="login__input" placeholder="Введите Email">
            <input type="password" class="login__input" placeholder="Введите пароль">
        </div>
        <!-- /.login__wrap_input -->
        <a href="#" class="login__forgout-pas">Напомнить пароль</a>
        <!-- /.login__forgout-pas -->
        <button class="login__btn">Войти</button>
        <!-- /.login__btn -->
        <div class="login__wrap_links">
            <p class="login__link login__links_first">
                Первый раз на сайте? <a href="#">Регистрация</a>
            </p>
            <!-- /.login__link login__links_first -->
            <div class="login__link">
                Регистрируясь, вы соглашаетесь с
                <a href="#">Публичной офертой</a>
                и <a href="#">Политикой конфиденциальности</a>.
            </div>
            <!-- /.login__links -->
        </div>
        <!-- /.login__wrap_links -->
    </form>
    <!-- /.login__form -->
</div>
<!-- /.login__content -->