<div class="menu-mob">
    <button class="menu-mob__btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <!-- /.menu-mob -->
    <div class="menu-mob__logo">
        <img src="img/logo.svg" alt="">
    </div>
    <!-- /.menu-mob__logo -->
</div>
<!-- /.menu-mob -->
<nav class="navigation-ac">
    <div class="navigation-ac__logo">
        <a href="" class="navigation-ac__logo__link">
            <img src="img/logo-white.svg" alt="Логотип Sport Skill">
        </a>
        <!-- /.navigation-ac__logo-link -->
    </div>
    <!-- /.navigation-ac__logo -->
    <div class="navigation-ac__user">
        <div class="navigation-ac__user__photo">
            <img src="img/account/user-with-photo.png" alt="Имя пользователя">
        </div>
        <!-- /.navigation-ac__user-photo -->
        <p class="navigation-ac__user__name">Богдан Яйцев</p>
        <!-- /.navigation-ac__user-name -->
    </div>
    <!-- /.navigation-ac__user -->
    <ul class="navigation-ac__menu">
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_1 icon-menu-profile"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_1 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Профиль</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_2 icon-menu-my-reg"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_2 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Мои регистрации</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_3 icon-menu-chalenges"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_3 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Челленджи</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_4 icon-menu-statistics"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_4 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Статистика</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_5 icon-menu-news"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_5 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Новости</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_6 icon-menu-helpers"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_6 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Поддержка</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
        <li class="navigation-ac__menu__item">
            <a href="#" class="navigation-ac__menu__link">
                <i class="navigation-ac__menu__icon navigation-ac__menu__icon_7 icon-menu-logout"></i>
                <!-- /.navigation-ac__menu__icon navigation-ac__menu__icon_7 icon-menu- -->
                <span class="navigation-ac__menu__text-link">Выход</span>
                <!-- /.navigation-ac__menu__text-link -->
            </a>
            <!-- /.navigation-ac__menu__link -->
        </li>
        <!-- /.navigation-ac__menu__item -->
    </ul>
    <!-- /.navigation-ac__menu -->
</nav>
<!-- /.navigation-ac -->