<div class="dow-chalenge">
    <h1 class="dow-chalenge__title">Загрузка результата челленджа «<span>Новичок</span>»</h1>
    <!-- /.dow-chalenge__title -->
    <button class="dow-chalenge__btn">Загрузить результат</button>
    <!-- /.dow-chalenge__btn -->
</div>
<!-- /.dow-chalenge -->