<div class="haveno-chalenges">
    <div class="haveno-chalenges__wrap-image">
        <img src="img/account/have-no-chalenge.png" alt="У тебя отвутствуют регистрации черенжей">
    </div>
    <!-- /.haveno-chalenges__wrap-image -->
    <h1 class="haveno-chalenges__title">Ты еще не принимал участие в челленджах.<br>
        Начни свой путь прямо сейчас!</h1>
    <!-- /.haveno-chalenges__title -->
    <a href="#" class="haveno-chalenges__btn">Зарегистрироваться</a>
    <!-- /.haveno-chalenges__btn -->
</div>
<!-- /.haveno-chalenges -->