<div class="participant">
    <h2 class="participant__title">В данном челлендже уже учавствуют</h2>
    <!-- /.participant__title -->
    <div class="participant__wrap">
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-without-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Игорь Севастьянов</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/new-user.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">IgorSev@gmail.com</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-without-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Игорь Севастьянов</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-with-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Богдан Яйцев</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/new-user.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">IgorSev@gmail.com</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-without-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Игорь Севастьянов</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-with-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Богдан Яйцев</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-without-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Игорь Севастьянов</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-with-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Богдан Яйцев</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-without-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Игорь Севастьянов</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-with-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Богдан Яйцев</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/new-user.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">IgorSev@gmail.com</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-without-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Игорь Севастьянов</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/user-with-photo.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">Богдан Яйцев</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/new-user.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">IgorSev@gmail.com</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
        <a href="#" class="participant__item" title="User Name">
            <div class="participant__user_image"><img src="img/account/new-user.png" alt="UserName"></div>
            <!-- /.participant__user_image -->
            <p class="participant__user_name">IgorSev@gmail.com</p>
            <!-- /.participant__user_name -->
        </a>
        <!-- /.participant__item -->
    </div>
    <!-- /.participant__wrap -->
</div>
<!-- /.participant -->