<form action="" class="profile-edit">
    <div class="profile-edit__wrap profile-edit__wrap-name">
        <h2 class="profile-edit__title">ФИО</h2>
        <!-- /.profile-edit__title -->
        <div class="profile-edit__wrap-input">
            <input type="text" class="profile-edit__input" placeholder="Фамилия" />
            <input type="text" class="profile-edit__input" placeholder="Имя" />
            <input type="text" class="profile-edit__input" placeholder="Отчество" />
        </div>
        <!-- /.profile-edit__wrap-input -->
    </div>
    <!-- /.profile-edit__wrap-name -->
    <div class="profile-edit__wrap profile-edit__wrap-birth">
        <h2 class="profile-edit__title">Дата рождения</h2>
        <!-- /.profile-edit__title -->
        <input type="text" class="profile-edit__input profile-edit__date" placeholder="ДД.ММ.ГГГГ">
    </div>
    <!-- /.profile-edit__wrap-birth -->
    <div class="profile-edit__wrap profile-edit__wrap-male">
        <h2 class="profile-edit__title">Пол</h2>
        <!-- /.profile-edit__title -->
        <div class="profile-edit__wrap-input">
            <label for="radio-1" class="profile-edit__label">
                <input type="radio" name="male" id="radio-1" checked class="profile-edit__checkbox">
                <span>Мужской</span>
            </label>
             <!-- /.profile-edit__labe -->
             <label for="radio-2" class="profile-edit__label">
                <input type="radio" name="male" id="radio-2" class="profile-edit__checkbox">
                <span>Женский</span>
             </label>
            <!-- /.profile-edit__labe -->
        </div>
        <!-- /.profile-edit__wrap-input -->
    </div>
    <!-- /.profile-edit__wrap-male -->
    <div class="profile-edit__wrap profile-edit__wrap-address">
        <h2 class="profile-edit__title">Адрес</h2>
        <!-- /.profile-edit__title -->
        <div class="profile-edit__wrap-input_addres">
            <input class="profile-edit__input" placeholder="Страна" />
            <!-- /.profile-edit__input -->
            <input class="profile-edit__input" placeholder="Область" />
            <!-- /.profile-edit__input -->
            <input class="profile-edit__input" placeholder="Город" />
            <!-- /.profile-edit__input -->
            <div class="profile-edit__wrap-inside">
                <input class="profile-edit__input" placeholder="Улица" />
                <!-- /.profile-edit__input -->
                <input class="profile-edit__input" placeholder="Дом" />
                <!-- /.profile-edit__input -->
                <input class="profile-edit__input" placeholder="Квартира" />
                <!-- /.profile-edit__input -->
            </div>
            <!-- /.profile-edit__wrap-inside -->
            <input class="profile-edit__input" placeholder="Почтовый индекс" />
            <!-- /.profile-edit__input -->
        </div>
        <!-- /.profile-edit__wrap-input_addres -->
    </div>
    <!-- /.profile-edit__wrap-address -->
    <div class="profile-edit__wrap profile-edit__phone">
        <h2 class="profile-edit__title">Телефон</h2>
        <!-- /.profile-edit__title -->
        <input type="text" class="profile-edit__input profile-edit__input-phone" placeholder="+7 (___) ___ - __ - __">
    </div>
    <!-- /.profile-edit__phone -->
    <ul class="profile-edit__wrap profile-edit__wrap-social">
        <li class="profile-edit__item">
            <i class="profile-edit__ico-social profile-edit__ico-social_vk"></i> 
            <!-- /.profile-edit__ico-social profile-edit__ico-social_1 -->
            <input type="text" class="profile-edit__input">
        </li>
        <!-- /.profile-edit__item -->
        <li class="profile-edit__item">
            <i class="profile-edit__ico-social profile-edit__ico-social_fb"></i> 
            <!-- /.profile-edit__ico-social profile-edit__ico-social_2 -->
            <input type="text" class="profile-edit__input">
        </li>
        <!-- /.profile-edit__item -->
        <li class="profile-edit__item">
            <i class="profile-edit__ico-social profile-edit__ico-social_inst"></i> 
            <!-- /.profile-edit__ico-social profile-edit__ico-social_3 -->
            <input type="text" class="profile-edit__input">
        </li>
        <!-- /.profile-edit__item -->
    </ul>
    <!-- /.profile-edit__wrap-social -->
    <button class="profile-edit__btn">Сохранить</button>
    <!-- /.profile-edit__btn -->
</form>
<!-- /.profile-edit -->