<div class="user-image">
    <div class="user-image__wrap">
        <div class="user-image__photo"><img src="img/account/new-user.png" alt="User Name"></div>
        <!-- /.user-image__photo -->
        <div class="user-image__wrap-name">
            <h1 class="user-image__name">IgorSev@gmail.com</h1>
            <!-- /.user-image__name -->
            <ul class="user-image__drop">
                <li class="user-image__btn">
                    <span></span>
                    <ul class="user-image__drop-menu">
                        <li class="user-image__item">
                            <a href="#" class="user-image__link">Редактировать</a>
                            <!-- /.user-image__link -->
                        </li>
                        <!-- /.user-image__item -->
                        <li class="user-image__item">
                            <a href="#" class="user-image__link">Загрузить фото</a>
                            <!-- /.user-image__link -->
                        </li>
                        <!-- /.user-image__item -->
                    </ul>
                    <!-- /.user-image__drop-menu -->
                </li>
                <!-- /.user-image__btn -->
            </ul>
            <!-- /.user-image__drop -->
        </div>
        <!-- /.user-image__wrap-name -->
    </div>
    <!-- /.user-image__wrap -->
</div>
<!-- /.user-image -->
<div class="user-awards">
    <h2 class="user-awards__title">Награды</h2>
    <!-- /.user-awards__title -->
    <div class="user-awards__wrap--text">
        <p class="user-awards__text">Информация будет обновлена после участия в челлендже</p>
        <!-- /.user-awards__text -->
    </div>
    <!-- /.user-awards__wrap -->
</div>
<!-- /.user-awards -->