<div class="profile-info">
    <ul class="profile-info__wrap">
        <li class="profile-info__item">ФИО</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">Дата рождения</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">Пол</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">Адрес</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">Телефон</li>
        <!-- /.profile-info__item -->
        <li class="profile-info__item">
            <ul class="profile-info__social">
                <li class="profile-info__social-item">
                    <a href="#" class="profile-info__social-link profile-info__social-link_vk"></a>
                    <!-- /.profile-info__social-link -->
                </li>
                <!-- /.profile-info__social-item -->
                <li class="profile-info__social-item">
                    <a href="#" class="profile-info__social-link profile-info__social-link_fb"></a>
                    <!-- /.profile-info__social-link -->
                </li>
                <!-- /.profile-info__social-item -->
                <li class="profile-info__social-item">
                    <a href="#" class="profile-info__social-link profile-info__social-link_inst"></a>
                    <!-- /.profile-info__social-link -->
                </li>
                <!-- /.profile-info__social-item -->
            </ul>
            <!-- /.profile-info__social -->
        </li>
        <!-- /.profile-info__item -->
    </ul>
    <!-- /.profile-info__wrap -->
    <div class="advantages" style="background-image: url(img/account/advantages.jpg);">
        <a href="#" class="advantages__wrap">
            <h4 class="advantages__title">Скидка 50% на функциональное<br> тестирование в лаборатории бега RUNLAB</h4>
        </a>
    </div>
</div>
<!-- /.profile-info -->
<div class="news-block">
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__tag events-tag">События</div>
                <!-- /.news__tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
    <figure data-href="#" class="news__item">
        <div class="news__img">
            <img src="img/account/news-1.jpg" alt="Название статьи/новости">
        </div>
        <!-- /.news__img -->
        <figcaption class="news__content">
            <div class="news__wrap-title">
                <h2 class="news__title">Заголовок</h2>
                <!-- /.news__title -->
                <div class="news__tag events-tag">События</div>
                <!-- /.news__tag -->
            </div>
            <!-- /.news__wrap-title -->
            <p class="news__text">Мы вынуждены отталкиваться от того, что перспективное планирование
                способствует
                повышению качества распределения внутренних резервов и ресурсов. Равным образом, синтетическое
                тестирование представляет собой интересный эксперимент проверки соответствующих условий</p>
            <!-- /.news__text -->
            <span class="news__date">26.03.2019</span>
            <!-- /.news__date -->
        </figcaption>
        <!-- /.news__content -->
    </figure>
    <!-- /.news__item -->
</div>
<!-- /.news -->