<div class="charts">
    <h1 class="charts__title">
        Загрузи статистику и получи график своих достижений
    </h1>
    <!-- /.charts__title -->
    <div class="charts__wrap">
        <canvas id="charts"></canvas>
    </div>
    <!-- /.charts-wrap -->
</div>
<!-- /.charts -->
<form action="#" class="chart-form chart-form--you-cant">
    <div class="chart-form__wrap">
        <p class="chart-form__text chart-form__text--run">
            Бег
        </p>
        <!-- /.chart-form__text -->
        <div class="chart-form__wrap-input">
            <input type="text" class="chart-form__input" placeholder="Растояние">
        </div>
        <!-- /.chart-form__wrap-input -->
    </div>
    <!-- /.chart-form__wrap -->
    <div class="chart-form__wrap">
        <p class="chart-form__text chart-form__text--drive">
            Велосипед
        </p>
        <!-- /.chart-form__text -->
        <div class="chart-form__wrap-input">
            <input type="text" class="chart-form__input" placeholder="Растояние">
        </div>
        <!-- /.chart-form__wrap-input -->
    </div>
    <!-- /.chart-form__wrap -->
    <div class="chart-form__wrap">
        <p class="chart-form__text chart-form__text--swim">
            Плавание
        </p>
        <!-- /.chart-form__text -->
        <div class="chart-form__wrap-input">
            <input type="text" class="chart-form__input" placeholder="Растояние">
        </div>
        <!-- /.chart-form__wrap-input -->
    </div>
    <!-- /.chart-form__wrap -->
    <button disabled class="chart-form__btn">
        Загрузить
    </button> <!-- /.chart-form__btn -->
</form>
<!-- /.chart-form -->