//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="faq-sect">
            <div class="wrapper">
                //= account/faq-account.html
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- /.faq-sect -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>
</html>