//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="one-chalenge">
            <div class="wrapper">
                //= account/about-chalenge.html
            </div>
            <!-- /.wrapper -->
            <div class="wrapper">
                //= account/one-calenge-participant.html
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- /.one-chalenge -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>