//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="one-news-sect">
            <div class="wrapper">
                //= account/ac-one-news-content.html
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- /.news -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>