//= mainhtml/head.html
<!-- Это пример профиля нового юзера в котором вообще никакой иформации нет -->
<body class="body-acc">
    //= account/menu-new-user.html
    <main class="main-account">
        <header class="ac-header">
            <div class="wrapper">
                //= account/profile_header.html
            </div>
            <!-- /.wrapper -->
        </header>
        <!-- /.ac-header -->
        <section class="content">
            <div class="wrapper">
                //= account/profile_eidt.html
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- /.content -->
    </main>
    <!-- /.main-account -->
</body>
</html>