//= mainhtml/head.html
<!-- Это пример профиля нового юзера в котором вообще никакой иформации нет -->
<body class="body-acc">
    //= account/menu-without-photo.html
    <main class="main-account">
        <header class="ac-header">
            <div class="wrapper">
                //= account/acc-whithout-photo-header.html
            </div>
            <!-- /.wrapper -->
        </header>
        <!-- /.ac-header -->
        <section class="content">
            <div class="wrapper">
                //= account/acc-full-info-content.html
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- /.content -->
    </main>
    <!-- /.main-account -->
    //= mainhtml/scripts.html
</body>

</html>