//= mainhtml/head.html
<body class="body-acc admin-acc">
    //= admin/menu-admin.html
    <main class="main-account">
        <header class="ac-header">
            <div class="wrapper">
                    <!-- //= account/acc-full-info-header.html -->
            </div>
            <!-- /.wrapper -->
        </header>
        <!-- /.ac-header -->
        <!-- //= admin/users-ad.html -->
        <!-- //= admin/main-chalenge.html -->
        <!-- //= admin/chalenge-inside.html -->
        <!-- //= admin/participant.html -->
        <!-- //= admin/_ad-user-profile.html -->
        //= admin/edit-chalenge.html
    </main>
    <!-- /.main-account -->
    //= admin/modal-ad.html
    <div class="message">
        <p class="message__text"></p>
        <!-- /.message__text -->
    </div>
    <!-- /.message -->
    <div class="overlay"></div>
    //= mainhtml/scripts.html
    <!-- ЭТО ЗДЕСЬ НЕ НУЖНО -->
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
    <script>
        document.querySelector( '#editor' ).addEventListener('change', function (){
            console.log(this);
        });
        ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
            // console.log( editor );
            const data = editor.getData();
            console.log(data)
        } )
        .catch( error => {
            console.error( error );
        } );    
    </script> -->
</body>

</html>