//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="chalenges chalenges-sect-1 sect-4">
            <div class="sect-image sect-image--1"><img src="img/serv/serv-1.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/serv/serv-1.2.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/serv/serv-circle-1.png" alt=""></div>
            
            <h2 class="main-title">Беговые челленджи</h2>
            <!-- /.main-title -->
            <div class="chalenge-wrapper">
                //= landingHtml/land-run-chalenge.html
            </div>
            <!-- /.chalenge-wraapper -->
        </section>
        <!-- /.chalenges .chalenges-sect-1 -->
        <section class="chalenges chalenges-sect-2 sect-5">
            <div class="sect-image sect-image--1"><img src="img/serv/serv-2.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/serv/serv-2.1.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/serv/serv-circle-2.png" alt=""></div>
            
            <h2 class="main-title">Велосипедные челленджи</h2>
            <!-- /.main-title -->
            <div class="chalenge-wrapper">
                //= landingHtml/land-drive-chalenge.html
            </div>
            <!-- /.chalenge-wrapper -->
        </section>
        <!-- /.chalenges .chalenges-sect-1 -->
        <section class="chalenges chalenges-sect-3 sect-6">
            <div class="sect-image sect-image--1"><img src="img/serv/serv-3.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/serv/serv-3.1.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/serv/serv-circle-3.png" alt=""></div>
            
            <h2 class="main-title">Плавательные челленджи</h2>
            <!-- /.main-title -->
            <div class="chalenge-wrapper">
                //= landingHtml/land-swim-chalenge.html
            </div>
            <!-- /.chalenge-wrapper -->
        </section>
        <!-- /.chalenges .chalenges-sect-1 -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>