//= mainhtml/head.html

<body class="body-acc">
    <main class="main-login">
        <div class="remember-pass">
            <a href="#" class="remember-pass__logo-link">
                <img src="img/logo.svg" alt="Логотип">
            </a>
            <h1 class="remember-pass__title">
                <i>
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.2967 0L0 12.2967V29.7033L12.2967 42H29.7033L42 29.7033V12.2967L29.7033 0H12.2967ZM12.6233 9.33333L21 17.71L29.3767 9.33333L32.6667 12.6233L24.29 21L32.6667 29.3767L29.3767 32.6667L21 24.29L12.6233 32.6667L9.33333 29.3767L17.71 21L9.33333 12.6233"
                            fill="#FF3333" />
                    </svg>
                </i>
                К сожалению, введенный Вами Email не зарегистрирован, пропробуйте снова.
            </h1>
        </div>
    </main>
    <!-- /.main-wrap -->
</body>

</html>