//= mainhtml/head.html

<body class="body-acc">
    <main class="main-login">
        <div class="login login-forgot">
            <a href="#" class="login__logo"><img src="img/logo.svg" alt="Логотип"></a>
            <div class="login__content fade">
                <form action="#" class="login__form">
                    <div class="login__wrap_input">
                        <input type="email" class="login__input" placeholder="Введите Email">
                        <!-- <input type="password" class="login__input" placeholder="Введите пароль"> -->
                    </div>
                    <!-- /.login__wrap_input -->
                    <button class="login__btn">Восстановить пароль</button>
                    <!-- /.login__btn -->
                </form>
                <!-- /.login__form -->
            </div>
            <!-- /.login__content -->
        </div>
        <!-- /.login -->
    </main>
    <!-- /.main-wrap -->
</body>

</html>