//= mainhtml/head.html
<body>
    //= landingHtml/navigation-landing.html
    <div class="main-wrap">
        //= landingHtml/header-land.html
        <section class="sect-go">
            <div class="container">
                <div class="row">
                    //= landingHtml/land-sect-1.html
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-go -->
        <section class="sect-3">
            <div class="container">
                <div class="row">
                    //= landingHtml/land-sect-3.html
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-2 -->
        <section class="sect-4">
            <div class="sect-image sect-image--1"><img src="img/serv/serv-1.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/serv/serv-1.2.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/serv/serv-circle-1.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="main-title">Беговые челленджи</h2>
                        <!-- /.main-title -->
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
                <div class="chalenge-wrapper">
                    //= landingHtml/land-run-chalenge.html
                </div>
                <!-- /.chalenge-wraapper -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-4 -->
        <section class="sect-5">
            <div class="sect-image sect-image--1"><img src="img/serv/serv-2.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/serv/serv-2.1.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/serv/serv-circle-2.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="main-title">Велосипедные челленджи</h2>
                        <!-- /.main-title -->
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
                <div class="chalenge-wrapper">
                    //= landingHtml/land-drive-chalenge.html
                </div>
                <!-- /.chalenge-wrapper -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-5 -->
        <section class="sect-6">
            <div class="sect-image sect-image--1"><img src="img/serv/serv-3.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/serv/serv-3.1.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/serv/serv-circle-3.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="main-title">Плавательные челленджи</h2>
                        <!-- /.main-title -->
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
                <div class="chalenge-wrapper">
                    //= landingHtml/land-swim-chalenge.html
                </div>
                <!-- /.chalenge-wrapper -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-6 -->
        <section class="sect-7">
            <div class="container">
                <div class="row">
                    //= landingHtml/land-sect-git-1.html
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-7 -->
        <section class="sect-8">
            <div class="sect-image sect-image--1"><img src="img/land/gifts/land-gift-bg-1.png" alt=""></div>
            <div class="sect-image sect-image--2"><img src="img/land/gifts/land-gift-bg-2.png" alt=""></div>
            <div class="sect-image sect-image--3"><img src="img/land/gifts/land-gift-bg-3.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title-gift">Получи возможность выйграть ценные призы</h2>
                        <!-- /.title-gift -->
                        <h3 class="subtitle-gift">Учавствуй в челленджах 3 месяца подряд</h3>
                        <!-- /.subtitle-gift -->
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
                <div class="chalenge-wrapper">
                    //= landingHtml/land-big-gifts.html
                </div>
                <!-- /.chalenge-wrapper -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-8 -->
        <section class="sect-9">
            <div class="sect-image sect-image_start"><img src="img/land/land-starting-now.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    //= landingHtml/land-start-now.html
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.sect-9 -->
    </div>
    <!-- /.main-wrap -->
    <div class="support">
        <div class="support__wrap">
            <a href="#" class="support__btn">
                <span></span>
            </a>

            <nav class="support__items-wrap">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </nav>

        </div>
    </div>
    <!-- /.support -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                //= landingHtml/footer.html
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.footer -->
    //= mainhtml/scripts.html
    
</body>
</html>