//= mainhtml/head.html
<body class="body-acc">
    <div class="example">
        <div class="example__wrap">
            <p>С данной страницы осуществляется переход на остальные страницы сайта<br>
                на страницах сайта не стоит обратных ссылок и каких либо других ссылок<br>
                поэтому используйте функцию браузера "вернуться" для того чтобы попасть на эту страницу
            </p>
            <p><b>ВАЖНО</b>
                На сайте не работает никакой функционал, это статичная верстка, весь функционал будет адекватно работать после интеграции!
            </p>
            <div class="example__wrap-inside">
                <a href="main-acc-without-all.html" class="example__links">Страница нового пользователя</a>
                <!-- /.example__links -->
                <a href="acc-full-info.html" class="example__links">Страница пользователя полностью заполненная</a>
                <!-- /.example__links -->
                <a href="acc-without-photo.html" class="example__links">Страница пользователя без фотографии</a>
                <!-- /.example__links -->
                <a href="my-chalenge-empty.html" class="example__links">Страница мои регистрации (пустая)</a>
                <!-- /.example__links -->
                <a href="my-chalenge-full.html" class="example__links">Страница мои регистрации (заполненная)</a>
                <!-- /.example__links -->
                <a href="my-chalenges-download.html" class="example__links">Загрузка результата челенжа</a>
                <!-- /.example__links -->
                <a href="chalenges.html" class="example__links">Страница челенжей</a>
                <!-- /.example__links -->
                <a href="ac-one-chalenge.html" class="example__links">Страница одного челенжа</a>
                <!-- /.example__links -->
                <a href="ac-all-news.html" class="example__links">Страница всех нововстей</a>
                <!-- /.example__links -->
                <a href="ac-one-news.html" class="example__links">Страница одной новости</a>
                <!-- /.example__links -->
                <a href="statistics-ready.html" class="example__links">Страница статистики (готова к загрузке результатов)</a>
                <!-- /.example__links -->
                <a href="statistics-wait.html" class="example__links">Страница статистики (нельзя вводить)</a>
                <!-- /.example__links -->
                <a href="statistics-fuck-you-bitch.html" class="example__links">Страница статистики (нет челенжей)</a>
                <!-- /.example__links -->
                <a href="ac-faq.html" class="example__links">Страница вопрос ответ</a>
                <!-- /.example__links -->
                <a href="login.html" class="example__links">Страница логин</a>
                <!-- /.example__links -->
                <a href="policy.html" class="example__links">Страница политики конфединциальности</a>
                <!-- /.example__links -->
                <a href="public-offer.html" class="example__links">Страница публичной оферты</a>
                <!-- /.example__links -->
            </div>
        </div>
        <!-- /.example__wrap -->
    </div>
    <!-- /.example -->
    <script src="js/main.js"></script>
</body>
</html>