//= mainhtml/head.html
<body class="body-acc">
    <main class="main-login">
        <div class="login">
            <a href="#" class="login__logo"><img src="img/logo.svg" alt="Логотип"></a>
            <!-- /.login__logo -->
            <div class="login__error">Неправильный логи или пароль</div>
            <!-- /.login__error -->
            <ul class="login__tab">
                <li class="login__tab_item active">Регистрация</li>
                <!-- /.login__tab_item -->
                <li class="login__tab_item">Вход</li>
                <!-- /.login__tab_item -->
            </ul>
            <!-- /.login__tab -->
            <div class="login__content fade">
                <form action="#" class="login__form">
                    <div class="login__wrap_input">
                        <input type="email" class="login__input" placeholder="Введите Email">
                        <input type="password" class="login__input" placeholder="Введите пароль">
                    </div>
                    <!-- /.login__wrap_input -->
                    <!-- <a href="#" class="login__forgout-pas">Напомнить пароль</a> -->
                    <!-- /.login__forgout-pas -->
                    <button class="login__btn">Войти</button>
                    <!-- /.login__btn -->
                    <div class="login__wrap_links">
                        <p class="login__link login__links_first">
                            У Вас уже есть аккаунт? <a href="#" id="sign">Войти</a>
                        </p>
                        <!-- /.login__link login__links_first -->
                        <div class="login__link">
                            Регистрируясь, вы соглашаетесь с
                            <a href="#">Публичной офертой</a>
                            и <a href="#">Политикой конфиденциальности</a>.
                        </div>
                        <!-- /.login__links -->
                    </div>
                    <!-- /.login__wrap_links -->
                </form>
                <!-- /.login__form -->
            </div>
            <!-- /.login__content -->
            <div class="login__content fade">
                <form action="#" class="login__form">
                    <div class="login__wrap_input">
                        <input type="email" class="login__input" placeholder="Введите Email">
                        <input type="password" class="login__input" placeholder="Введите пароль">
                    </div>
                    <!-- /.login__wrap_input -->
                    <a href="#" class="login__forgout-pas">Напомнить пароль</a>
                    <!-- /.login__forgout-pas -->
                    <button class="login__btn">Войти</button>
                    <!-- /.login__btn -->
                    <div class="login__wrap_links">
                        <p class="login__link login__links_first">
                            Первый раз на сайте? <a href="#" id="reg">Регистрация</a>
                        </p>
                        <!-- /.login__link login__links_first -->
                        <div class="login__link">
                            Регистрируясь, вы соглашаетесь с
                            <a href="#">Публичной офертой</a>
                            и <a href="#">Политикой конфиденциальности</a>.
                        </div>
                        <!-- /.login__links -->
                    </div>
                    <!-- /.login__wrap_links -->
                </form>
                <!-- /.login__form -->
            </div>
            <!-- /.login__content -->
        </div>
        <!-- /.login -->
    </main>
    <!-- /.main-wrap -->
    <script>
        'use strict';
        let tab = document.querySelectorAll('.login__tab_item'),
            info = document.querySelector('.login__tab'),
            tabContent = document.querySelectorAll('.login__content'),
            signBtn = document.getElementById('sign'),
            regBtn = document.getElementById('reg');

        function hideTabContent(a, b) {
            for(let i = a; i < tabContent.length; i++) {
                tabContent[i].classList.remove('show');
                tabContent[i].classList.add('hide');
            }
        }
        hideTabContent(1);

        function showTabContent(b) {
            console.log(b)
            if(tabContent[b].classList.contains('hide')) {
                tabContent[b].classList.remove('hide');
                tabContent[b].classList.add('show');
            }
        }
        signBtn.addEventListener('click', function(e) {
            e.preventDefault()
            tab[1].classList.add('active');
            tab[0].classList.remove('active');
            hideTabContent(0);
            showTabContent(1);
        });
        regBtn.addEventListener('click', function(e) {
            e.preventDefault()
            tab[0].classList.add('active');
            tab[1].classList.remove('active');
            hideTabContent(0);
            showTabContent(0);
        });
        document.getElementById('sign').a
        info.addEventListener('click', function (event) {
            let target = event.target;
            target
            if(target && target.classList.contains('login__tab_item')) {
                for(let i = 0; i < tab.length; i++) {
                    if(target == tab[i]) {
                        if(i == 0) {
                            tab[i].classList.add('active');
                            tab[1].classList.remove('active');
                        } else {
                            tab[i].classList.add('active');
                            tab[0].classList.remove('active');
                        }
                        // console.log(i)
                        hideTabContent(0);
                        showTabContent(i);
                        break;
                    }
                }
            }
        });
    </script>
</body>

</html>