//= mainhtml/head.html
<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="chalenges">
            <div class="wrap-chalendes">
                 <div class="wrap-downloading-result">
                    //= account/my-chalenges-dow-res.html
                 </div>
                 <!-- /.wrap-downloading-result -->
            </div>
        </section>
        <!-- /.chalenges -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>