//= mainhtml/head.html
<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="chalenges">
            <div class="wrap-chalendes">
                //= account/my-chalenges-i-have.html
            </div>
        </section>
        <!-- /.chalenges -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>