//= mainhtml/head.html

<body>
    //= landingHtml/navigation-landing.html
    <div class="main-wrap">
        <section class="policy-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Политика конфиденциальности</h1>
                        <h2>Согласие на обработку персональных данных. Конфиденциальность персональной информации </h2>
                        <h3>1. Предоставление информации Клиентом:</h3>
                        <p>
                            1.1. При регистрации на сайте onlinesportskill.ru (далее - "Сайт"), Участник предоставляет
                            следующую информацию:
                            Фамилия, Имя, адрес электронной почты. При регистрации на Мероприятие, Клиент может
                            предоставить также следующую
                            информацию: Фамилия, Имя, Отчество участника, размер одежды и обуви, адрес для доставки
                            оплаченных товаров и наград,
                            номер контактного телефона.
                        </p>
                        <p>
                            1.2. Предоставляя свои персональные данные, Участник соглашается на их обработку (вплоть до
                            отзыва Участником своего
                            согласия на обработку его персональных данных) компанией ООО "ГТО" (далее - "Организатор"),
                            в целях исполнения
                            Организатором и/или его партнерами своих обязательств перед Участником, продажи товаров и
                            предоставления услуг,
                            предоставления справочной информации, а также в целях продвижения товаров, работ и услуг, а
                            также соглашается на
                            получение сообщений рекламно-информационного характера и сервисных сообщений. При обработке
                            персональных данных
                            Участника Организатор руководствуется Федеральным законом "О персональных данных",
                            Федеральным законом "О рекламе" и
                            локальными нормативными документами.
                        </p>
                        <p>
                            1.2.1. Если Клиент желает уточнения его персональных данных, их блокирования или уничтожения
                            в случае, если персональные
                            данные являются неполными, устаревшими, неточными, незаконно полученными или не являются
                            необходимыми для заявленной
                            цели обработки, либо в случае желания клиента отозвать свое согласие на обработку
                            персональных данных или устранения
                            неправомерных действий ООО "ГТО" в отношении его персональных данных то он должен направить
                            официальный запрос
                            Организатору в порядке, предусмотренном Политикой ООО "ГТО" в отношении обработки
                            персональных данных.
                            Если Участник желает удалить свою учетную запись на Сайте, Участник обращается ООО «ГТО» по
                            адресу
                            info@onlinesportskill.ru с соответствующим заявлением. Данное действие не подразумевает
                            отзыв согласия Участника на
                            обработку его персональных данных, который согласно действующему законодательству происходит
                            в порядке, предусмотренном
                            абзацем 1 настоящего пункта.
                        </p>
                        <p>
                            1.3. Использование информации предоставленной Участником и получаемой Организатором.
                        </p>
                        <p>
                            1.3.1 Организатор использует предоставленные Участником данные в течение всего срока регистрации Участника на Сайте в
                            целях:  регистрации/авторизации Участника на Сайте;  обработки Регистраций и Заказов Участника и
                            для выполнения своих
                            обязательств перед Участником;  для осуществления деятельности по продвижению товаров и
                            услуг;  оценки и анализа
                            работы Сайта;  определения победителя в акциях, проводимых Организатором;  анализа
                            покупательских особенностей
                            Участников и предоставления персональных рекомендаций;  информирования Участников об
                            акциях, скидках и специальных
                            предложениях посредством электронных и СМС-рассылок.
                        </p>
                        <p>
                            1.3.2. Организатор вправе направлять Участнику сообщения рекламно- информационного
                            характера. Если Участник не желает
                            получать сообщения рекламноинформационного характера от Организатора, он должен изменить
                            соответствующие настройки
                            подписки в соответствующем разделе каждого из получаемых писем (отписаться от рассылки). С
                            момента изменения указанных
                            настроек, получение рассылок Организатора возможно в течение 30 дней, что обусловлено
                            особенностями работы и
                            взаимодействия информационных систем, а так же условиями договоров с контрагентами,
                            осуществляющими в интересах
                            Организатора рассылки сообщений рекламно-информационного характера. Отказ Участника от
                            получения сервисных сообщений
                            невозможен по техническим причинам. Сервисными сообщениями являются направляемые на адрес
                            электронной почты, указанный
                            при регистрации на Сайте, а также посредством смс-сообщений и/или push-уведомлений и через
                            Службу по работе с клиентами
                            на номер телефона, указанный при регистрации и/или при регистрации на участие в мероприятии,
                            о состоянии доставки,
                            товарах Участника, а также все сообщения, необходимые для полноценного информационного
                            обмена между Сайтом и
                            Участниками.
                        </p>
                        <h3>2. Предоставление и передача информации, полученной Организатором:</h3>
                        <p>
                            2.1. Организатор обязуется не передавать полученную от Участника информацию третьим лицам.
                            Не считается таким нарушением
                            предоставление Организатором информации агентам и третьим лицам, действующим на основании
                            договора с Организатором, для
                            исполнения обязательств перед Участником, и только в рамках договоров. Не считается
                            нарушением настоящего пункта
                            передача Огранизатором третьим лицам данных об Участнике в обезличенной форме в целях оценки
                            и анализа работы Сайта,
                            анализа покупательских особенностей Участника и предоставления персональных рекомендаций.
                        </p>
                        <p>
                            2.2. Не считается нарушением обязательств передача информации в соответствии с обоснованными
                            и применимыми требованиями
                            законодательства Российской Федерации.
                        </p>
                        <p>
                            2.3. Организатор вправе использовать технологию "cookies". "Cookies" не содержат
                            конфиденциальную информацию и не
                            передаются третьим лицам.
                        </p>
                        <p>
                            2.4. Организатор получает информацию об ip-адресе посетителя Сайта www.onlinesportskill.ru и
                            сведения о том, по ссылке с
                            какого интернет-сайта пришел посетитель. Данная информация не используется для установления
                            личности посетителя.
                        </p>
                        <p>
                            2.5. Организатор не несет ответственности за сведения, предоставленные Участником на Сайте в
                            общедоступной форме.
                        </p>
                        <p>
                            2.6. Организатор при обработке персональных данных принимает необходимые и достаточные
                            организационные и технические
                            меры для защиты персональных данных от неправомерного доступа к ним, а также от иных
                            неправомерных действий в отношении
                            персональных данных.
                        </p>
                        <h3>3. Хранение и использование информации Участником</h3>
                        <p>
                            3.1. Участник обязуется не сообщать третьим лицам логин и пароль, используемые им для
                            идентификации на Сайте.
                        </p>
                        <p>
                            3.2. Участник обязуется обеспечить должную осмотрительность при хранении и использовании
                            логина и пароля (в том числе,
                            но не ограничиваясь: использовать лицензионные антивирусные программы, использовать сложные
                            буквенно-цифровые сочетания
                            при создании пароля, не предоставлять в распоряжение третьих лиц компьютер или иное
                            оборудование с введенными на нем
                            логином и паролем Клиента и т.п.)
                        </p>
                        <p>
                            3.3. В случае возникновения у Организатора подозрений относительно использования учетной
                            записи Клиента третьим лицом,
                            или вредоносным программным обеспечением Организатор вправе в одностороннем порядке изменить
                            пароль Участника.
                        </p>
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.policy-sect -->
    </div>
    <!-- /.main-wrap -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                //= landingHtml/footer.html
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.footer -->
</body>

</html>