//= mainhtml/head.html

<body>
    //= landingHtml/navigation-landing.html
    <div class="main-wrap">
        <section class="policy-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>ДОГОВОР - ПУБЛИЧНАЯ ОФЕРТА </h1>
                        <h3>1. Нормативные положения</h3>
                        <p>
                            Гражданский кодекс Российской Федерации (далее – ГК РФ). Извлечения.
                            Статья 435. Оферта 1. Офертой признается адресованное одному или нескольким конкретным лицам
                            предложение, которое
                            достаточно определенно, и выражает намерение лица, сделавшего предложение, считать себя
                            заключившим договор с адресатом,
                            которым будет принято предложение. Оферта должна содержать существенные условия договора. 2.
                            Оферта связывает
                            направившее ее лицо с момента ее получения адресатом. Если извещение об отзыве оферты
                            поступило ранее или одновременно с
                            самой офертой, оферта считается не полученной.
                        </p>
                        <p>
                            Статья 437. Приглашение делать оферты. Публичная оферта 1. Реклама и иные предложения, адресованные неопределенному
кругу лиц, рассматриваются как приглашение делать оферты, если иное прямо не указано в предложении. 2. Содержащее все
существенные условия договора предложение, из которого усматривается воля лица, делающего предложение, заключить договор
на указанных в предложении условиях с любым, кто отзовется, признается офертой (публичная оферта).
                        </p>
                        <h3>
                            2. Общие положения
                        </h3>
                        <p>
                            2.1. Предметом настоящего Соглашения является предоставление Пользователю Сайта доступа к содержащимся на Сайте товарам
и оказываемым услугам. Данный документ является договором - публичной офертой ООО «ГТО», в дальнейшем именуемого
«Организатор», в адрес физических лиц и содержит все существенные условия по оказанию услуг, являющихся предметом
настоящего договора.
                        </p>
                        <p>
                            2.2. В соответствии с пунктом 2 статьи 437 ГК РФ в случае принятия изложенных ниже условий и оплаты услуг физическое
лицо, производящее акцепт этой Оферты, становится Участником (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт Оферты
равносилен заключению договора на условиях, изложенных в Оферте), а Организатор и Участник совместно - Сторонами
договора-публичной оферты.
                        </p>
                        <p>
                            2.3. В связи с вышеизложенным, внимательно прочитайте текст данного договора. Если Вы не согласны с каким-либо пунктом
настоящего договора, Организатор предлагает Вам отказаться от использования услуг, или обратиться за разъяснениями в ООО
«ГТО».
                        </p>
                        <p>
                            2.4. Заключая настоящий договор, Участник подтверждает, что ознакомился, понял и согласился со всеми правилами,
включенными в настоящий договор, и принимает их безусловно и в полном объеме.
                        </p>
                        <p>
                            2.5. Ответственность за соответствие информации, указанной в настоящем документе, действующему законодательству РФ, а
также фактическим обстоятельствам, несет Организатор.
                        </p>
                        <p>
                            2.6. Сайт http://onlinesportskill.ru (далее – Сайт) является собственностью ООО «ГТО».
                        </p>
                        <p>
                            2.7. Содержание Сайта (далее – Содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты
литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с
текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения,
пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных,
а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в
состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на Сайте.
                        </p>
                        <h3>
                            3. Предмет договора
                        </h3>
                        <p>
                            3.1. Предметом настоящего договора является предоставление лицу, желающему принять участие в любом (одном или
нескольких) из мероприятий на свое усмотрение, организованном Организатором (далее по тексту – Мероприятие), услуги в
виде организации и проведения Мероприятия в порядке и на условиях, предусмотренных настоящим договором, Положением о
Мероприятии, включая услуги по регистрации в качестве Участника, но, не ограничиваясь ими.
                        </p>
                        <p>
                            3.2. В процессе регистрации на Мероприятие Участник посредством личного кабинета, зарегистрированного на сайте
http://onlinesportskill.ru (далее, также – личный кабинет), вправе приобретать сопутствующие товары и услуги
(дополнительные опции).
                        </p>
                        <p>
                            3.3. Описание Мероприятия, характеристика Мероприятия, основные условия и правила участия в Мероприятии указаны в
Положении о проведении мероприятия, размещенном на странице регистрации, с которым Участник должен ознакомиться в
процессе регистрации на Мероприятие.
                        </p>
                        <p>
                            3.4. Регистрация считается успешно законченной при полной оплате регистрационного взноса (далее, также - плата за
участие или стартовый взнос), или, при подтверждении регистрации, при бесплатном участии.
                        </p>
                        <p>
                            3.5. Участник обязан самостоятельно следить за своим здоровьем и проходить медицинское обследование на предмет наличия
противопоказаний к длительным физическим нагрузкам. Участник подтверждает, что состояние здоровья проверял регулярно,
физически годен для участия в Мероприятиях и не имеет к этому каких- либо противопоказаний. Принимая условия настоящего
договора, Участник гарантирует, что он находится в надлежащей физической форме, не имеет каких-либо медицинских или иных
ограничений по здоровью, которые могут подвергнуть его опасности или ограничить его участие в Мероприятии, и состояние
его здоровья позволяет ему участвовать в Мероприятиях. Участник Мероприятия не возражает против оказания ему в случае
необходимости первой медицинской помощи.
                        </p>
                        <h3>
                            4. Фото- и видеосъемка. Персональные данные
                        </h3>
                        <p>
                            4.1. Организатор имеет право осуществлять фото- и видеосъемку Мероприятия, или получать такие фото из общедоступных
источников. Участник Мероприятия согласен с использованием Организатором имени, портретов, фотографий или других аудио-,
видео-, фотоматериалов, полученных в результате проведения Мероприятия, предоставленных самим Участником, или полученных
из общедоступных источников, для рекламной деятельности, в иных целях, с учетом ограничений, установленных нормативными
правовыми актами, без ограничения сроков и мест использования данных материалов; Организатор вправе редактировать
указанные материалы и
передавать их третьим лицам; Участник не вправе требовать от Организатора компенсации в каком-либо виде о себе.
                        </p>
                        <p>
                            4.2. Участник несет ответственность за предоставление полных и достоверных данных Организатор гарантирует
конфиденциальность предоставляемых данных и неразглашение этой информации третьим лицам.
                        </p>
                        <p>
                            4.3. Участник не возражает получать от Организатора или лица, уполномоченного Организатором, короткие текстовые
сообщения (SMS) или электронную почту (e-mail) с информацией о Мероприятии, с иной информацией, касающейся Участника и
связанной с Мероприятием и деятельностью Организатора.
                        </p>
                        <p>
                            4.4. Во исполнение части 1 статьи 9 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» Участник,
заполняя регистрационную форму для участия в Мероприятии и присоединяясь к настоящему договору, дает свое согласие на
обработку своих персональных данных Организатору. Под обработкой персональных данных понимается любое действие
(операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без
использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ),
обезличивание, блокирование, удаление, уничтожение персональных данных. Обработка персональных данных Участника
осуществляется исключительно в целях обеспечения регистрации Участника для участия в Мероприятии и последующего
направления Участнику коротких текстовых сообщений (SMS) или электронной почты (e- mail) с информацией о Мероприятии, с
иной информацией, касающейся Участника и связанной с Мероприятием и деятельностью Организатора. Датой выдачи согласия на
обработку персональных данных Участника является дата отправки посредством личного кабинета регистрационной формы
Организатору. Согласие не имеет срока давности, и действует с момента передачи персональных данных. Согласие на
обработку персональных данных может быть отозвано Участником посредством направления Организатору по электронной почте
info@bestdontrest.com по электронной почте письменного заявления в произвольной форме об отзыве согласия на обработку
персональных данных.
                        </p>
                        <h3>
                            5. Реквизиты Организатора
                        </h3>
                        <p>
                            Организатор:<br>
                            ООО «ГТО» ИНН 7814565595 ОГРН 1137847098630
                        </p>
                        <h1>
                            Правила пользования
                        </h1>
                        <p>
                            Платформа «Onlinesportskill» (далее по тексту Платформа или Система) –
                            информационнотехническое средство для проведения
                            спортивных челленджей в формате онлайн. Спецификой таких челленджей является отсутствие
                            определенного места старта и
                            финиша, удаленный хронометраж и предоставление результатов, расширенные временные рамки
                            проведения челленджей.
                            Хронометраж (контроль времени прохождения дистанций) осуществляется при помощи личных
                            электронных устройств участников
                            соревнований и специального программного обеспечения. Достоверность предоставления
                            результатов возлагается на участников
                            в полной мере. Наряду с этим, платформа имеет техническую возможность контролировать
                            предоставленные участниками
                            результаты, и, в случае возникновения спорных ситуаций, направлять участникам запросы для
                            предоставления уточняющих
                            данных. Также результаты выборочно могут быть проверены техническими специалистами и
                            судейской коллегией соревнований.
                            По завершении каждой недели челленджа платформа автоматически формирует финишный протокол
                            согласно предоставленным
                            участниками результатам и если соблюдены все условия, участник автоматически допускается на
                            следующую неделю челленджа.
                            Если участник не выполнил условия челленджа( трижды в неделю выполнять условие челленджа и
                            загружать их в личный
                            кабинет), то участник выбывает из участия и не получает футболку и медаль.  При удачном
                            прохождении челленджа участник
                            получает оригинальную спортивную футболку с символикой sportskill и медаль. Так же
                            появляется возможность выиграть
                            ценные призы, для этого надо участвовать в челленджах 3 раза подряд. Список ценных призов
                            указан на сайте
                            www.olinesportskill.ru
                        </p>
                        <p>
                            На платформе представлены 3 (три) вида спорта: бег, плавание, велоспорт. Организатор
                            самостоятельно принимает решение о
                            включении разных видов спорта в Мероприятия. В каждом из видов спорта обязательно
                            присутствует несколько дистанций, для
                            разного уровня подготовки участников. Вид спорта и дистанцию участник соревнований выбирает
                            самостоятельно, в
                            зависимости от спортивного стажа, уровня подготовки, и состояния здоровья. Участник обязан
                            самостоятельно следить за
                            своим здоровьем и проходить медицинское обследование на предмет наличия противопоказаний к
                            длительным физическим
                            нагрузкам. Каждый участник, регистрируясь на участие в любом из челленджа, представленных на
                            платформе, подтверждает,
                            что состояние здоровья проверял регулярно, физически годен для участия в челлендже и не
                            имеет к этому каких-либо
                            противопоказаний и иных ограничений по здоровью, которые могут подвергнуть его опасности или
                            ограничить его участие в
                            челлендже.
                        </p>
                        <p>
                            Участникам платформы запрещается:
                        </p>
                        <ul>
                            <li>
                                - создавать несколько аккаунтов для одного участника;
                            </li>
                            <li>
                                - размещать на аватаре нецензурные фото, и фото которое может дискредитировать других участников платформы;
                            </li>
                            <li>
                                - предоставлять заведомо ложные результаты (использовать для прохождения дистанций непредусмотренные видом спорта
технические средства, домашних животных, корректировать данные тренировки).
                            </li>
                        </ul>
                        <p>
                            Соглашаясь с данными правилами, участник платформы обязуется неукоснительно выполнять эти и
                            другие правила Платформы. В
                            случае нарушения данных правил, участник может быть дисквалифицирован, либо его аккаунт
                            может быть заблокирован
                            администрацией Платформы. По всем интересующим Вас вопросам вы можете написать письмо на
                            почту info@onlinesportskill.ru
                            Администрация оставляет за собой право в любой момент без предварительного предупреждения
                            вносить изменения и дополнения
                            в данные правила.
                        </p>
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.policy-sect -->
    </div>
    <!-- /.main-wrap -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                //= landingHtml/footer.html
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.footer -->
</body>

</html>




































