//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="statistics-sect">
            <div class="wrapper">
                //= account/statistics-wait-to-change.html
            </div>
            <!-- /.wrapper -->

            <!-- /.no-chart -->
        </section>
        <!-- /.news -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>