//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="statistics-sect">
            <div class="wrapper">
                //= account/statistics-ready-to-change.html
                <!-- //= account/statistics-wait-to-change.html -->
                <!-- //= account/statistics-cnat-to-change.html -->
                <!-- <div class="no-chart"> -->
                    <!-- <h1 class="no-chart__title">Для загрузки своей статистики зарегистрируйся в челлендже </h1> -->
                    <!-- /.no-chart -->
                    <!-- <div class="no-chart__wrap"><img src="img/account/blur-statistics.jpg" alt=""></div> -->
                    <!-- /.no-chart__wrap -->
                <!-- </div> -->
            </div>
            <!-- /.wrapper -->
            
            <!-- /.no-chart -->
        </section>
        <!-- /.news -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>