//= mainhtml/head.html

<body class="body-acc">
    //= account/menu-with-photo.html
    <main class="main-account">
        <section class="statistics-sect">
            <div class="wrapper">
                <!-- //= account/statistics-ready-to-change.html -->
                <!-- //= account/statistics-wait-to-change.html -->
                <div class="chart-cant-change">
                    <div class="chart-cant-change__title">
                        Для загрузки своей статистики зарегистрируйся в челлендже
                    </div>
                    <!-- /.chart-cant-change__title -->
                    <div class="chart-cant-change__wrap">
                        //= account/statistics-cnat-to-change.html
                    </div>
                    <!-- /.chart-cant-change__wrap -->
                </div>
            </div>
            <!-- /.wrapper -->

            <!-- /.no-chart -->
        </section>
        <!-- /.news -->
    </main>
    <!-- /.main-account .main-account-chalenges -->
    //= mainhtml/scripts.html
</body>

</html>