//= mainhtml/head.html

<body class="body-acc">
    <main class="main-login">
        <div class="remember-pass">
            <a href="#" class="remember-pass__logo-link">
                <img src="img/logo.svg" alt="Логотип">
            </a>
            <h1 class="remember-pass__title">
                <i>
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M24.6667 14C24.6667 19.8933 19.8934 24.6666 14.0001 24.6666C8.10675 24.6666 3.33341 19.8933 3.33341 14C3.33341 8.10663 8.10675 3.33329 14.0001 3.33329C15.0134 3.33329 16.0001 3.47996 16.9334 3.74663L19.0267 1.65329C17.4801 1.01329 15.7867 0.666626 14.0001 0.666626C6.64008 0.666626 0.666748 6.63996 0.666748 14C0.666748 21.36 6.64008 27.3333 14.0001 27.3333C21.3601 27.3333 27.3334 21.36 27.3334 14H24.6667ZM8.54675 11.44L6.66675 13.3333L12.6667 19.3333L26.0001 5.99996L24.1201 4.10663L12.6667 15.56L8.54675 11.44Z"
                            fill="#27C200" />
                    </svg>
                </i>
                Запрос на восстановление пароля отправлен. Пожалуйста проверьте свою почту.
            </h1>
        </div>
    </main>
    <!-- /.main-wrap -->
</body>

</html>