@media screen and (max-width: 1301px) {
    .header {
        &__img {
            &--1 {
                width: 550px;
                height: 532px;
            }
        }
    }
    .offer__propose {
        padding-bottom: 51px;
    }
    .free_reg {
        &__wrap {
            &--img {
                width: 526px;
            }
        }
    }
    .sect-3 {
        &:before {
            left: 49px;
            width: 92.5%;
        }
    }
}