@media screen and (max-width: 800px) {
    .header {
        height: 422px;
        &__img {
            &--1 {
                width: 339px;
                height: 339px;
            }
            &--2 {
               width: 347px;
               height: 249px;
            }
        }
    }
    .logotype__link {
        width: 130px;
        margin-left: 71px;
        margin-top: 16px;
    }
    .signin {
        // .signin__wrapper
        &__wrapper {}
        // .signin__item
        &__item {}
        // .signin__item--icon
        &__item--icon {}
        // .signin__icon
        &__icon {}
        // .signin__item--link
        &__item--link {}
        // .signin__link
        &__link {
            font-size: rem(16);
        }
        // .signin__link--sign
        &__link--sign {}
        // .signin__link--reg
        &__link--reg {}
    }
    .user-cabinet__link {
        span {
            font-size: rem(13);
        }
    }
    .offer {
        margin-right: -3px;
        // .offer__propose
        &__propose {
            padding-top: 83px;
            padding-bottom: 23px;
        }
        // .offer__title
        &__title {
            font-size: rem(16);
            letter-spacing: 1px;
        }
        // .offer__text
        &__text {
            font-size: rem(13);
            margin: 5px 0px 12px;
        }
        // .offer__btn
        &__btn {
            width: 180px;
            height: 41px;
            padding: 12px;
            font-size: rem(14);
        }
        // .offer__img
        &__img {
            width: 168px;
            height: 168px;
            margin-right: 5px;
            img {
                width: 160px;
                height: 160px;
            }
        }
    }
    .video-play {
        margin-right: 84px;
        padding-top: 243px;
        // .video-play__link
        &__link {}
        // .video-play__wrap-text
        &__wrap-text {}
        // .video-play__title
        &__title {
            &::before,
            &::after {
                margin-top: -5px;
            }
            &::before {
                right: 30px;
            }
            &::after {
                left: 30px;
            }
        }
        // .video-play__text
        &__text {
            font-size: rem(72);
            margin-top: -14px;
             &::before {
                width: 210px;
                top: 38px;
                left: -35px;
                transform: rotate(40.69deg);
            }
            &::after {
                margin-top: -6px;
                margin-left: 1px;
            }
        }
    }
    .sect-go {
        padding-top: 29px;
    }
    .sect-3 {
        margin-top: 48px;
        &::before {
            left: 30px;
            width: 91%;
            height: 260px;
            top: -6px;
        }
    }
    .free-reg {
        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            width: 230px;
            margin-top: 45px;
            margin-left: 3px;
        }
        // .free-reg__title
        &__title {
            font-size: rem(13);
            width: 219px;
        }
        // .free-reg__text
        &__text {
            font-size: rem(10);
        }
        // .free-reg__text--1
        &__text--1 {
            margin-top: 10px;
            margin-left: 7px;
            margin-bottom: 11px;
        }
        // .free-reg__text--2
        &__text--2 {
            margin-left: 17px;
            margin-bottom: 12px;
        }
        // .free-reg__btn
        &__btn {
            margin-left: 26px;
            width: 160px;
            height: 36px;
            padding: 8px;
            font-size: rem(11);
        }
        // .free-reg__wrap--img
        &__wrap--img {
            width: 263px;
            margin-left: 0px;
            height: 301px;
            img {
                margin-left: -35px;
                width: 130%;
            }
        }
        // .free-reg__wrap--right
        &__wrap--right {
            margin-top: 27px;
            padding-left: 2px;
        }
        // .free-reg__text--3
        &__text--3 {
            margin-top: 8px;
            margin-left: 8px;
            margin-bottom: 6px;
            width: 194px;
        }
        // .free-reg__text--4
        &__text--4 {
            margin-top: 8px;
            margin-left: 16px;
            margin-bottom: 6px;
            width: 177px;
        }
        // .free-reg__text--5
        &__text--5 {
            margin-left: 25px;
            width: 177px;
            margin-bottom: 5px;
        }
        // .free-reg__text--6
        &__text--6 {
            margin-left: 33px;
            width: 188px;
        }
    }
    .chalenge-wrapper {
        padding-left: 10px;
    }
    .main-title {
        margin-bottom: 30px;
    }
    .sect-4 {
        .sect-image {
            &--1 {
                width: 495px;
                height: 423px;
                left: -174px;
            }
            &--2 {
                width: 451px;
                height: 322px;
                right: -198px;
                bottom: 93px;
            }
            &--3 {
                width: 192px;
                height: 192px;
                margin-left: -95px;
            }
        }
    }
    .sect-5 {
        padding-bottom: 288px;
        .sect-image {
            &--1 {
                width: 621px;
                height: 549px;
                left: -213px;
                bottom: 48px;
            }

            &--2 {
                width: 770px;
                height: 452px;
                right: -529px;
                bottom: 113px;
            }

            &--3 {
                width: 211px;
                height: 211px;
                bottom: 23px;
                margin-left: -122px;
            }
        }
    }
    .sect-6 {
        padding-bottom: 253px;
        .sect-image {
            &--1 {
                width: 441px;
                height: 323px;
                left: -103px;
            }

            &--2 {
                width: 498px;
                height: 398px;
                right: -278px;
                bottom: 34px;
            }

            &--3 {
                width: 212px;
                height: 212px;
                bottom: -26px;
                margin-left: -98px;
            }
        }
    }
    .sect-7 {
        padding-top: 35px;
    }
    .gifts-main {
        margin-left: 24px;
        margin-top: 97px;
        &:after {
            width: 254px;
            height: 254px;
        }

        img {
            width: 251px;
            height: 215px;
        }
    }
    .about-gift {
        padding-left: 24px;
        // .about-gift__wrap--title
        &__wrap--title {}
        // .about-gift__title
        &__title {}
        // .about-gift__subtitle
        &__subtitle {}
        // .about-gift__text
        &__text {
            margin-top: 8px;
            margin-bottom: 19px;
        }
        // .about-gift__list
        &__list {}
        // .about-gift__list-item
        &__list-item {}
        // .about-gift__list-item--title
        &__list-item--title {}
    }
    .sect-8 {
        padding-top: 74px;
        padding-bottom: 200px;
        .chalenge-wrapper {
            padding-left: 4px;
        }
        .sect-image {
            &--1 {
                width: 329px;
                height: 383px;
                left: -121px;
                bottom: 49px;
            }
            &--2 {
                width: 331px;
                height: 146px;
                left: 221px;
                bottom: 48px;
            }
            &--3 {
                width: 331px;
                height: 371px;
                right: -175px;
                bottom: 71px;
            }
        }
    }
    .subtitle-gift {
        margin-bottom: 35px;
    }
    .sect-9 {
        padding-bottom: 69px;
        .sect-image_start {
            width: 86.2%;
            left: 55px;
            height: 170px;
        }
    }
    .start-now {
        padding-top: 33px;
        // .start-now__title
        &__title {
            font-size: rem(26);
        }
        // .start-now__subtitle
        &__subtitle {
            font-size: rem(16);
            margin-top: 4px;
            margin-bottom: 12px;
        }
        // .start-now__btn
        &__btn {
            width: 200px;
            padding: 10px;
            font-size: rem(14);
        }
    }
    .policy-sect {
        padding-left: 8px;
        padding-right: 8px;
        h1 {
            font-size: rem(18);
        }
        h2 {
            font-size: rem(14);
        }
    }
}