@media screen and (max-width: 470px) {
    .header {
        height: 357px;
        &__img {
            &--1 {
                width: 264px;
                height: 264px;
                left: -69px;
            }
        }
    }
    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
    .sect-4,
    .sect-5,
    .sect-6,
    .sect-8 {
        .container {
            margin-right: 0;
        }
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
    .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        padding-right: 8px;
        padding-left: 8px;
    }
    .container {
        overflow: hidden;
    }
    .offer {
        // .offer__propose
        &__propose {
            padding-top: 82px;
            padding-bottom: 10px;
        }
        // .offer__title
        &__title {
            font-size: rem(13);
        }
        // .offer__text
        &__text {
            font-size: rem(12);
            margin: 6px 0px 17px;
        }
        // .offer__btn
        &__btn {}
        // .offer__img
        &__img {
            margin-right: 59px;
            width: 119px;
            height: 119px;
            img {
                width: 114px;
                height: 114px;
            }
        }
    }
    .video-play__link {
        top: -116px;
        left: 325px;
        
    }
    .sect-go {
        padding-top: 34px;
    }
    .sect-3 {
        padding-bottom: 0;
        &:before {
            top: 10px;
            width: 110%;
        }
    }
    .free-reg {
        flex-direction: column;
        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            margin-top: 4px;
            margin-left: 76px;
        }
        // .free-reg__title
        &__title {}
        // .free-reg__text
        &__text {}
        // .free-reg__text--1
        &__text--1 {
            width: 222px;
            margin-top: 8px;
            margin-bottom: 9px;
        }
        // .free-reg__text--2
        &__text--2 {
            margin-left: 15px;
            margin-bottom: 9px;
        }
        // .free-reg__btn
        &__btn {}
        // .free-reg__wrap--img
        &__wrap--img {
            position: relative;
            width: 155px;
            // width: 190px;
            height: 169px;
            margin-top: 25px;
            margin-left: -40px;
            margin-bottom: 20px;
            img {
                margin-left: -17px;
            }
        }
        // .free-reg__wrap--right
        &__wrap--right {}
        // .free-reg__text--3
        &__text--3 {}
        // .free-reg__text--4
        &__text--4 {}
        // .free-reg__text--5
        &__text--5 {}
        // .free-reg__text--6
        &__text--6 {}
    }
    
    .sect-4,
    .sect-5,
    .sect-6 {
        .sect-image {
            &--1,
            &--2 {
                display: none;
            }
            &--3 {
                width: 200px;
                height: 200px;
                border: none;
                box-sizing: border-box;
                margin-left: -100px;
            }
        }
        .main-title {
            font-size: rem(26);
            margin-bottom: 229px;
        }
    }
    .sect-4 {
        padding-top: 13px;
        padding-bottom: 54px;
        .sect-image {
            &--3 {
                top: 62px;
            }
        }
    }
    .chalenge-wrapper {
        padding-left: 3px;
        margin: 0 -5px;
        padding-bottom: 10px;
        &::-webkit-scrollbar {
            height: 4px;
            background-color: $white;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000;
            border-radius: 40px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(253, 252, 252);
            margin: 0 12px;
        }
    }
    secction {
        overflow: hidden;
    }
    .chalenge-card {
        min-width: 305px;
        height: 373px;
        padding: 16px 19px 20px;
        margin-right: 20px;
        // .chalenge-card__title
        margin-right: 16px;
        
        &:nth-child(2) {
            margin-left: 0;
            margin-right: 16px;
        }
        &:nth-child(3) {
            // margin-right: 220px;
        }
        &--gift {
            .chalenge-card__title {
                font-size: rem(26);
            }
            .chalenge-card__subtitle {
                font-size: rem(18);
            }
            .chalenge-card__wrap--img {
                margin-bottom: 0;
            }
            &--1 {
                .chalenge-card__wrap--img {
                    margin-bottom: -6px;
                }
            }
        }
        &__title {
            font-size: rem(24);
            margin-bottom: 11px;
        }
        
        // .chalenge-card__wrap
        &__wrap {
            min-height: 188px;
            & > p {
                font-size: rem(14);
            }
        }
        // .chalenge-card__text
        &__text {
            font-size: rem(14);
        }
        // .chalenge-card__text--center
        &__text--center {}
        // .chalenge-card__wrap--proce
        &__wrap--proce {
            margin-top: 0px;
            margin-bottom: 26px;
        }
        // .chalenge-card__price
        &__price {
            font-size: rem(16);
        }
        // .chalenge-card__btn
        &__btn {
            width: 212px;
            height: 45px;
            padding: 15px;
            font-size: rem(14);
        }
    }
    .sect-5 {
        padding-bottom: 42px;
        .sect-image {
            &--3 {
                top: 89px;
            }
        }
        .main-title {
            margin-bottom: 277px;
        }
    }
    .sect-6 {
        padding-bottom: 48px;
        .sect-image {
            &--3 {
                top: 88px;
            }
        }
        .main-title {
            margin-bottom: 278px;
        }
    }
    .gifts-main {
        margin-left: 8px;
        margin-top: 121px;
        &:after {
            top: -28px;
            left: 8px;
            width: 285px;
            height: 285px;
        }
        img {
            width: 287px;
            height: 244px;
            margin-left: 0px;
            margin-bottom: 61px;
        }
    }
    .about-gift {
        padding-left: 6px;
        // .about-gift__wrap--title
        &__wrap--title {}
        // .about-gift__title
        &__title {
            width: 299px;
            margin-bottom: 4px;
        }
        // .about-gift__subtitle
        &__subtitle {
            font-size: rem(16);
        }
        // .about-gift__text
        &__text {
            font-size: rem(14);
            margin-top: 20px;
            margin-bottom: 13px;
        }
        // .about-gift__list
        &__list {
            padding-left: 1px;
        }
        // .about-gift__list-item
        &__list-item {
            font-size: rem(14);
            margin-left: 8px;
        }
        // .about-gift__list-item--title
        &__list-item--title {
            font-size: rem(14);
        }
    }
    .sect-7 {
        padding-bottom: 32px;
    }
    .sect-8 {
        padding-bottom: 132px;
        .chalenge-wrapper {
            padding-left: 3px;
        }
        .sect-image {
            &--1 {
                display: none;
            }
            &--2 {
                left: -137px;
                bottom: 33px;
            }
            &--3 {
                display: none;
            }
        }
    }
    .title-gift {
        font-size: rem(26);
        margin-bottom: 10px;
    }
    .subtitle-gift {
        font-size: rem(16);
        margin-bottom: 17px;
    }
    .title-gift,
    .subtitle-gift {
        text-align: left;
        margin-left: 7px;
    }
    .sect-9 {
        padding-bottom: 55px;
    }
    .start-now {
        padding-top: 29px;
        // .start-now__title
        &__title {}
        // .start-now__subtitle
        &__subtitle {
            font-size: rem(12);
            width: 288px;
            margin: 3px auto 12px;
        }
        // .start-now__btn
        &__btn {}
    }
    .footer {
        padding-left: 8px;
        padding-right: 8px;
    }
    .support {
        right: 62px;
    }
}
@media screen and (min-width: 410px) and (max-width: 450px) {
    .offer__img {
        margin-right: 109px;
    }
}

@media screen and (max-width: 360px) {
    .video-play__link {
        left: 269px;
    }
    .header {
        &__img {
            &--1 {
                width: 229px;
                height: 229px;
            }
        }
    }
    .sect-5,
    .sect-6 {
        .main-title {
            margin-bottom: 247px;
            padding: 0 20px;
        }
    }
    .gifts-main {
        margin-left: 36px;
        &:after {
            top: -15px;
            width: 265px;
            height: 265px;
        }
    }
    .support {
        right: 50px;
    }
    .support__items-wrap {
        a {
            width: 35px;
            height: 35px;
        }
    }
}