@media screen and (min-width: 1650px) {
    .signin {
        margin-left: 10px;
    }
    .logotype__link {
        margin-left: 129px;
    }
    .header {
        height: 989px;
        &__img {
            &--1 {
                width: 836px;
                height: 884px;
            }
            &--2 {
                width: 799px;
                height: 624px;
            } 
        }
    }
    .offer {
        &__propose {
            padding-top: 235px;
            padding-bottom: 71px;
        }
        &__title {
            font-size: rem(32);
        }
        &__text {
            margin: 20px 0 33px;
        }
        &__img {
            margin-right: -13px;
            width: 420px;
            height: 420px;
            img {
                width: 400px;
                height: 400px;
            }
        }
    }
    .video-play {
        padding-top: 569px;
        margin-right: 20px;
        &__link {
            width: 110px;
            height: 110px;
        }
        &__wrap-text {
            margin-top: 19px;
            margin-right: 18px;
        }
        &__title {
            font-size: rem(72);
        }
        &__text {
            font-size: rem(160);
            margin-top: -45px;
        }
    }
    .way {
        &__title {
            font-size: rem(24);
        }
    }
    .sect-3 {
        &:before {
            width: 85%;
            height: 619px;
            left: 145px;
        }
        .container {
            max-width: 1649px;
        }
    }
    .free-reg {
        // width: 465px;
        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            width: 445px;
            margin-top: 176px;
            margin-left: 18px;
        }
        // .free-reg__title
        &__title {
            width: 420px;
            font-size: rem(26);
        }
        // .free-reg__text
        &__text {}
        // .free-reg__text--1
        &__text--1 {
            margin-top: 24px;
            margin-left: 22px;
            margin-bottom: 16px;
        }
        // .free-reg__text--2
        &__text--2 {
            width: 348px;
            margin-left: 36px;
            margin-bottom: 25px;
        }
        // .free-reg__btn
        &__btn {
            margin-left: 55px;
        }
        // .free-reg__wrap--img
        &__wrap--img {
            margin-top: -58px;
            margin-left: 20px;
            width: 665px;
            height: 729px;
            img {
                margin-left: -77px;
                width: 130%;
            }
        }
        // .free-reg__wrap--right
        &__wrap--right {
            width: 398px;
            margin-left: 4px;
            margin-top: 177px;
        }
        // .free-reg__text--3
        &__text--3 {
            br {
                display: none;
            }
        }
        // .free-reg__text--4
        &__text--4 {
            margin-top: 20px;
            margin-bottom: 18px;
        }
        // .free-reg__text--5
        &__text--5 {
            margin-left: 32px;
            margin-bottom: 18px;
        }
        // .free-reg__text--6
        &__text--6 {
            margin-left: 49px;
        }
    }
    .sect-4 {
        padding-top: 120px;
    }
    .chalenge-wrapper {
        padding: 0 37px;
    }
    .chalenge-card {
        height: 512px;
        padding: 28px 80px 41px;
        &:nth-child(2) {
            margin: 0 82px;
        }
        // .chalenge-card__title
        &__title {}
        // .chalenge-card__wrap
        &__wrap {
            min-height: 265px;
        }
        // .chalenge-card__text
        &__text {}
        // .chalenge-card__text--center
        &__text--center {}
        // .chalenge-card__wrap--proce
        &__wrap--proce {}
        // .chalenge-card__price
        &__price {}
        // .chalenge-card__btn
        &__btn {}
    }
    .sect-4,
    .sect-5,
    .sect-6 {
        .sect-image {
            &--3 {
                border: 71px solid #fff;
            }
        }
    }
    .sect-4 {
        padding-bottom: 506px;
        .sect-image {
            &--1 {
                width: 1008px;
                height: 882px;
                left: 0px;
                bottom: 125px;
            }
            &--2 {
                width: 927px;
                height: 673px;
                right: -332px;
                bottom: 185px;
            }
            &--3 {
                width: 402px;
                height: 399px;
                margin-left: -111px;
                bottom: 29px;
            }
        }
    }
    .sect-5 {
        padding-bottom: 562px;
        .sect-image {
            &--1 {
                width: 1178px;
                height: 1039px;
                left: -197px;
                bottom: 88px;
            }
            &--2 {
                width: 1455px;
                height: 855px;
                right: -728px;
                bottom: 192px;
            }
            &--3 {
                width: 400px;
                height: 400px;
                bottom: 45px;
                margin-left: -242px;
            }
        }
    }
    .sect-6 {
        padding-bottom: 455px;
        .sect-image {
            &--1 {
                width: 831px;
                height: 614px;
                left: 0px;
                bottom: 83px;
            }
            &--2 {
                width: 947px;
                height: 751px;
                right: -251px;
                bottom: 44px;
            }
            &--3 {
                width: 400px;
                height: 400px;
                bottom: -46px;
                margin-left: -207px;
            }
        }
    }
    .gifts-main {
        margin-left: 21px;
        margin-top: 20px;
        &:after {
            top: -53px;
            left: 11px;
            width: 622px;
            height: 622px;
        }
        img {
            width: 606px;
            height: 533px;
        }
    }
    .sect-8 {
        padding-top: 223px;
        padding-bottom: 415px;
        .sect-image {
            &--1 {
                width: 784px;
                height: 911px;
                left: -246px;
                bottom: 123px;
            }
            &--2 {
                width: 784px;
                height: 345px;
                left: 568px;
                bottom: 122px;
            }
            &--3 {
                width: 787px;
                height: 885px;
            }
        }
    }
    .subtitle-gift {
        margin-bottom: 54px;
    }
    .chalenge-card--gift {
        // .chalenge-card--gift_1
        &_1 {}
        .chalenge-card {
            // .chalenge-card__title
            &__title {
                margin-bottom: 78px;
            }
            // .chalenge-card__wrap--img
            &__wrap--img {}
            // .chalenge-card__subtitle
            &__subtitle {}
        }
    }
    .sect-9 {
        padding-bottom: 196px;
        .sect-image_start {
            left: 99px;
            width: 89.4%;
            height: 440px;
            img {
                margin-left: -99px;
            }
        }
    }
    .start-now {
        padding-top: 130px;
    }
}