@media screen and (max-width: 905px) {
   section {
    //    overflow: hidden;
   }
   .main-title {
       &:after,
       &:before {
           display: none;
       }
   }
   .about-gift__subtitle {
       width: auto;
   }
    .header {
        &__img {
            &--1 {
                width: 359px;
                height: 359px;
            }
            &--2 {
               width: 407px;
               height: 289px;
            }
        }
    }
    .offer__propose {
        padding-bottom: 61px;
    }
    .offer__img {
        width: 200px;
        height: 200px;
        img {
            width: 192px;
            height: 192px;
        }
    }
    .sect-3 {
        &:before {
            left: 39px;
            width: 90%;
        }
    }
    .free-reg {
        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            margin-left: 19px;
        }
        // .free-reg__title
        &__title {}
        // .free-reg__text
        &__text {}
        // .free-reg__text--1
        &__text--1 {}
        // .free-reg__text--2
        &__text--2 {}
        // .free-reg__btn
        &__btn {}
        // .free-reg__wrap--img
        &__wrap--img {
            width: 293px;
        }
        // .free-reg__wrap--right
        &__wrap--right {
            width: 233px;
        }
        // .free-reg__text--3
        &__text--3 {}
        // .free-reg__text--4
        &__text--4 {}
        // .free-reg__text--5
        &__text--5 {}
        // .free-reg__text--6
        &__text--6 {}
    }
    .sect-9 {
        .sect-image_start {
            width: 85.9%;
            left: 66px;
            img {
                margin-left: -53px;
                width: 117%;
            }
        }
    }
}