@media screen and (max-width: 1251px) {
    .user-cabinet__link  {
        span {
            font-size: rem(16);
        }
    }
    .header {
        // .header__img
        &__img {}
        // .header__img--1
        &__img--1 {
            width: 521px;
            height: 521px;
            bottom: 69px;
        }
        // .header__img--2
        &__img--2 {
            width: 511px;
            height: 381px;
        }
    }
    .offer {
        // .offer__propose
        &__propose {}
        // .offer__title
        &__title {
            font-size: rem(20);
        }
        // .offer__text
        &__text {
            font-size: rem(16);
        }
        // .offer__btn
        &__btn {}
        // .offer__img
        &__img {
            width: 227px;
            height: 227px;
            img {
                width: 212px;
                height: 212px;
            }
        }
    }
    .video-play {
        // .video-play__link
        &__link {}
        // .video-play__wrap-text
        &__wrap-text {}
        // .video-play__title
        &__title {
            font-size: rem(42);
        }
        // .video-play__text
        &__text {
            font-size: rem(100);
        }
    }
    .way {
        margin: 0;
        // .way__num
        &__num {}
        // .way__title
        &__title {
            font-size: rem(20);
        }
        // .way__text
        &__text {}
    }
    .sect-3 {
        &:before {
            height: 350px;
            left: 129px;
            width: 80.5%;
        }
    }
    .free-reg {
        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            margin-top: 52px;
        }
        // .free-reg__title
        &__title {
            font-size: rem(19);
        }
        // .free-reg__text
        &__text {
            font-size: rem(15);
        }
        // .free-reg__text--1
        &__text--1 {}
        // .free-reg__text--2
        &__text--2 {}
        // .free-reg__btn
        &__btn {}
        // .free-reg__wrap--img
        &__wrap--img {
            margin-top: -28px;
            width: 462px;
            height: 408px;
        }
        // .free-reg__wrap--right
        &__wrap--right {
            margin-top: 62px;
        }
        // .free-reg__text--3
        &__text--3 {}
        // .free-reg__text--4
        &__text--4 {}
        // .free-reg__text--5
        &__text--5 {}
        // .free-reg__text--6
        &__text--6 {}
    }
    .gifts-main {
        margin-left: 0;
        margin-top: 50px;
        &:after {
            width: 438px;
            height: 438px;
        }
        img {
            width: 430px;
            margin-left: 10px;
        }
    }
    .footer-follow {
        &__input {
            width: 174px;
        }
        &__btn {
            width: 121px;
        }
    }
    .footer-menu__link {
        font-size: rem(13);
    }
    .lg-none {
        display: block;
    }
}