@media screen and (max-width: 1025px) {
    .header {
        height: 561px;
        &__img {
            &--1 {
                width: 451px;
                height: 451px;
                bottom: 12px;
            }
            &--2 {
                width: 461px;
                height: 331px;
            }
        }
    }
    .logotype__link {
        width: 166px;
    }
    .sect-3 {
        &:before {
            left: 38px;
            width: 92.5%;
        }
    }
    .offer {
        // .offer__propose
        &__propose {
            padding-top: 123px;
            padding-bottom: 31px;
        }
        // .offer__title
        &__title {}
        // .offer__text
        &__text {
            margin: 8px 0 15px;
        }
        // .offer__btn
        &__btn {
            width: 229px;
            height: 48px;
            padding-top: 16px;
            padding-bottom: 13px;
        }
        // .offer__img
        &__img {
            margin-right: 9px;
        }
    }
    .video-play {
        padding-top: 328px;
        // .video-play__link
        &__link {
            width: 58px;
            height: 58px;
            svg {
                width: 41px;
                height: 41px;
            }
        }
        // .video-play__wrap-text
        &__wrap-text {}
        // .video-play__title
        &__title {}
        // .video-play__text
        &__text {}
    }
    .way {
        // .way__num
        &__num {
            font-size: rem(42);
        }
        // .way__title
        &__title {}
        // .way__text
        &__text {
            font-size: rem(14);
        }
    }
    .sect-3 {
        margin-top: 43px;
    }
    .free-reg {

        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            margin-top: 78px;
            width: 262px;
            margin-left: 43px;
        }
        // .free-reg__title
        &__title {
            font-size: rem(16);
            width: auto;
        }
        // .free-reg__text
        &__text {
            font-size: rem(12);
        }
        // .free-reg__text--1
        &__text--1 {
            width: auto;
            margin-top: 17px;
            margin-left: 13px;
            margin-bottom: 17px;
        }
        // .free-reg__text--2
        &__text--2 {
            margin-left: 25px;
            margin-bottom: 22px;
        }
        // .free-reg__btn
        &__btn {
            margin-left: 43px;
            width: 229px;
            height: 48px;
            padding: 17px 23px;
            font-size: rem(13);
        }
        // .free-reg__wrap--img
        &__wrap--img {
            width: 542px;
            margin-left: 15px;
        }
        // .free-reg__wrap--right
        &__wrap--right {
            margin-top: 81px;
        }
        // .free-reg__text--3
        &__text--3 {}
        // .free-reg__text--4
        &__text--4 {
            width: 210px;
            margin-top: 9px;
            margin-left: 13px;
            margin-bottom: 8px;
        }
        // .free-reg__text--5
        &__text--5 {
            width: 220px;
            margin-left: 25px;
            margin-bottom: 10px;
        }
        // .free-reg__text--6
        &__text--6 {
            margin-left: 36px;
        }
    }
    .sect-4 {
        padding-top: 54px;
    }
    // .sect-8 {
    //     .container {
    //         overflow: hidden;
    //     } 
    // }
    .chalenge-wrapper {
        overflow-x: scroll; 
        white-space: nowrap;
        margin: 0 -12px;
        scroll-snap-type: mandatory;
        scroll-snap-points-x: repeat(60%);
        scroll-snap-type: x mandatory;
        padding-left: 38px;
        &::-webkit-scrollbar {
            height: 4px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
            margin: 0 12px;
        }
    }
    .chalenge-card {
        scroll-snap-align: center;
        min-width: 384px;
        // margin: 0 16px;
        margin-right: 16px;
        white-space: normal;
        &:nth-child(2) {
            margin-left: 0;
            margin-right: 16px;
        }
        // .chalenge-card__title
        &__title {}
        // .chalenge-card__wrap
        &__wrap {}
        // .chalenge-card__text
        &__text {}
        // .chalenge-card__text--center
        &__text--center {}
        // .chalenge-card__wrap--proce
        &__wrap--proce {}
        // .chalenge-card__price
        &__price {}
        // .chalenge-card__btn
        &__btn {}
    }
    .sect-4 {
        padding-bottom: 259px;
        .sect-image {
            &--1 {
              width: 495px;
              height: 423px;
              left: -35px;
              bottom: 64px;
            }
            &--2 {
                width: 447px;
                height: 322px;
                right: -79px;
                bottom: 91px;
            }
            &--3 {
                width: 192px;
                height: 192px;
                bottom: 19px;
                border-width: 33px;
                margin-left: -84px;
            }
        }
    }
    .sect-5 {
        padding-bottom: 336px;
        .sect-image {
            &--1 {
                width: 714px;
                height: 629px;
                left: -155px;
                bottom: 63px;
            }
            &--2 {
                width: 881px;
                height: 518px;
                right: -543px;
                bottom: 122px;
            }
            &--3 {
                width: 242px;
                height: 242px;
                bottom: 27px;
                margin-left: -119px;
            }
        }
    }
    .sect-6 {
        padding-bottom: 283px;
        .sect-image {
            &--1 {
                width: 515px;
                height: 380px;
                left: -33px;
                bottom: 57px;
            }
            &--2 {
                width: 583px;
                height: 466px;
                right: -286px;
                bottom: 29px;
            }
            &--3 {
                width: 247px;
                height: 247px;
                bottom: -30px;
                left: 50%;
                margin-left: -83px;
            }
        }
    }
    .sect-7 {
        padding-top: 37px;
        [class^="col-"],
        [class*=" col-"] {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .gifts-main {
        margin-left: 49px;
        margin-top: 13px;
        &:after {
            top: -32px;
            left: 15px;
            width: 368px;
            height: 368px;
        }
        img {
            width: 358px;
            height: 319px;
        }
    }
    .about-gift {
        padding: 0;
        // .about-gift__wrap--title
        &__wrap--title {}
        // .about-gift__title
        &__title {
            font-size: rem(26);
            margin-bottom: 25px;
        }
        // .about-gift__subtitle
        &__subtitle {
            font-size: rem(18);
            width: 466px;
        }
        // .about-gift__text
        &__text {
            margin-top: 8px;
            margin-bottom: 4px;
        }
        // .about-gift__list
        &__list {
            padding: 0;
        }
        // .about-gift__list-item
        &__list-item {
            margin-bottom: 12px;
        }
        // .about-gift__list-item--title
        &__list-item--title {
            margin-bottom: 10px;
        }
    }
    .sect-8 {
        padding-top: 109px;
        padding-bottom: 281px;
        .sect-image {
            &--1 {
                width: 459px;
                height: 534px;
                left: -165px;
                bottom: 66px;
            }
            &--2 {
                width: 459px;
                height: 203px;
                left: 312px;
                bottom: 63px;
            }
            &--3 {
                width: 465px;
                height: 561px;
                right: -300px;
                bottom: 83px;
            }
        }
    }
    .sect-9 {
        .sect-image {
            &_start {
                height: 232px;
                left: 64px;
                img {
                    margin-left: -55px;
                }
            }
        }
    }
    .start-now {
        padding-top: 36px;
    }
    .lg-none {
        display: none;
    }
}  