@media screen and (max-width: 767px) {
    .header {
        height: 434px;
        &__img {
            &--1 {
                left: -82px;
            }
            &--2 {
               display: none;
            }
        }
    }
    .signin {
        // .signin__wrapper
        &__wrapper {}
        // .signin__item
        &__item {
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }
        // .signin__item--icon
        &__item--icon {}
        // .signin__icon
        &__icon {}
        // .signin__item--link
        &__item--link {}
        // .signin__link
        &__link {}
        // .signin__link--sign
        &__link--sign {}
        // .signin__link--reg
        &__link--reg {}
    }
    .video-play {
        // .video-play__link
        &__link {
            position: absolute;
            top: -176px;
            left: 394px;
        }
        // .video-play__wrap-text
        &__wrap-text {
            display: none;
        }
        // .video-play__title
        &__title {
            display: none;
        }
        // .video-play__text
        &__text {
            display: none;
        }
    }
    .offer {
        // .offer__propose
        &__propose {
            padding-top: 85px;
            padding-right: 11px;
            padding-bottom: 32px;
        }
        // .offer__title
        &__title {
        }
        // .offer__text
        &__text {
        }
        // .offer__btn
        &__btn {}
        // .offer__img
        &__img {
            margin-right: 60px;
        }
    }
    .sect-go {
        padding-top: 14px;
    }
    .way {
        margin-bottom: 16px;
        // .way__num
        &__num {}
        // .way__title
        &__title {
            margin-bottom: 5px;
            margin-top: -1px;
        }
        // .way__text
        &__text {}
    }
    .sect-3 {
        margin-top: 0;
        padding-top: 38px;
        padding-bottom: 88px;
        overflow: hidden;
        &:before {
            top: 38px;
        }
    }
    .free-reg {
        position: relative;
        // .free-reg__wrap
        &__wrap {}
        // .free-reg__wrap--left
        &__wrap--left {
            margin-top: 48px;
            margin-left: 9px;
        }
        // .free-reg__title
        &__title {}
        // .free-reg__text
        &__text {}
        // .free-reg__text--1
        &__text--1 {
            width: 212px;
        }
        // .free-reg__text--2
        &__text--2 {
            width: 212px;
        }
        // .free-reg__btn
        &__btn {}
        // .free-reg__wrap--img
        &__wrap--img {
            position: absolute;
            left: 50%;
            width: 293px;
            margin-left: 12px;
        }
        // .free-reg__wrap--right
        &__wrap--right {
            display: none;
        }
        // .free-reg__text--3
        &__text--3 {}
        // .free-reg__text--4
        &__text--4 {}
        // .free-reg__text--5
        &__text--5 {}
        // .free-reg__text--6
        &__text--6 {}
    }
    .main-title {
        font-size: rem(28);
        margin-bottom: 34px;
        &:before {
            left: 15%;
        }
        &::after {
            right: 15%;
        }
    }
    .sect-4,
    .sect-5,
    .sect-6 {
        .sect-image {
            &--2 {
                display: none;
            }
        }
    }
    .sect-4 {
        padding-top: 42px;
        .sect-image {
            &--1 {
                width: 495px;
                height: 423px;
                left: -237px;
                bottom: 68px;
            }
            &--3 {
                margin-left: -10px;
                bottom: 22px;
            }
        }
    }
    .sect-5 {
        padding-bottom: 300px;
        .sect-image {
            &--1 {
                left: -283px;
                bottom: 54px;
            }
            &--3 {
                bottom: 29px;
                margin-left: -47px;
            }
        }
    }
    .sect-6 {
        padding-bottom: 279px;  
        .sect-image {
            &--1 {
                left: -193px;
                bottom: 85px;
            }
            &--3 {
                bottom: 4px;
                margin-left: -47px;
            }
        }
    }
    .chalenge-wrapper {
        padding-left: 18px;
    }
    .sect-7 {
        padding-top: 0;
        padding-bottom: 152px;
        overflow: hidden; 
    }
    .gifts-main {
        margin-left: 234px;
        margin-top: -22px;
        img {
            width: 207px;
            height: 175px;
            margin-left: 12px;
        }
    }
    .about-gift {
        padding-left: 16px;
    }
    .title-gift {
        font-size: rem(28);
        margin-bottom: 8px;
    }
    .subtitle-gift {
        font-size: rem(20);
        margin-bottom: 31px;
    }
    .sect-8 {
        padding-top: 0;
        .chalenge-wrapper {
            padding-left: 18px;
        }
        .sect-image {
            &--1 {
                left: -130px;
                bottom: 53px;
            }
            &--2 {
                display: block;
                left: 213px;
                bottom: 51px;
            }
            &--3 {
                display: none;
            }
        }
    }
    .sect-9 {
        padding-bottom: 58px;
        overflow: hidden;
        .sect-image_start {
            left: 0;
            width: 100%;
            // height: 300px;
            transform: skew(0deg, 0deg);
            box-shadow: rgba(8, 35, 48, 0.24) 0px 4px 8px;
            overflow: hidden;
            img {
                margin-left: 0;
                width: 100%;
                transform: skew(0deg, 0deg);
            }
        }
    }
    .start-now {
        // .start-now__title
        &__title {}
        // .start-now__subtitle
        &__subtitle {
            font-size: rem(12);
            width: 348px;
            margin: -2px auto 8px;
        }
        // .start-now__btn
        &__btn {}
    }
    .footer-dev {
        margin-bottom: 20px;
    }
}