@media screen and (max-width: 993px) {
    .header {
        &__img {
            &--1 {
                width: 389px;
                height: 389px;
            }
            &--2 {
                width: 427px;
                height: 309px;
            }
        }
    }
    .offer {
        // .offer__propose
        &__propose {}
        // .offer__title
        &__title {}
        // .offer__text
        &__text {}
        // .offer__btn
        &__btn {}
        // .offer__img
        &__img {}
    }
    .video-play {
        // .video-play__link
        &__link {
            width: 46px;
            height: 46px;
            span {
                border-width: 2px;
            }
            svg {
                width: 32px;
                height: 32px;
            }
        }
        // .video-play__wrap-text
        &__wrap-text {}
        // .video-play__title
        &__title {
            font-size: rem(36);
            &:before,
            &:after {
                margin-top: -4px;
            }
            &::before {
                right: 61px;
            }
            &::after {
                left: 62px;
            }
        }
        // .video-play__text
        &__text {
            font-size: rem(92);
            &:before {
                width: 300px;
                left: -38px;
            }
        }
    }
    .way {
        width: 262px;
        margin: 0 auto;
        &--1, 
        &--2 {
            margin-bottom: 16px;
        }
        // .way__num
        &__num {}
        // .way__title
        &__title {}
        // .way__text
        &__text {}
    }
    .sect-3 {
        margin-top: 73px;
        &::before {
            left: 75px;
            width: 88%;
        }
    }
    .sect-4,
    .sect-5,
    .sect-6,
    .sect-8 {
        .container {
            margin-right: -2px;
        }
    }
    .gifts-main {
        margin-left: -20px;
        margin-top: 13px;
        &:after {
            width: 335px;
            height: 335px;
        }
        img {
            width: 338px;
            height: 289px;
        }
    }
    .about-gift {
        // .about-gift__wrap--title
        &__wrap--title {}
        // .about-gift__title
        &__title {}
        // .about-gift__subtitle
        &__subtitle {}
        // .about-gift__text
        &__text {}
        // .about-gift__list
        &__list {}
        // .about-gift__list-item
        &__list-item {}
        // .about-gift__list-item--title
        &__list-item--title {}
    }
}