@import '../../grid';
.header {
    height: 729px;
    position: relative;
    &__img {
        position: absolute;
        &--1 {
            left: 0;
            bottom: 0;
            width: 600px;
            height: 592px;
        }
        &--2 {
            right: 0;
            top: 0;
            width: 631px;
            height: 447px;
        }
    }
}
// =========================== Offer text and Button
.offer {
    // .offer__propose
    margin-right: 2px;
    &__propose {
        padding-top: 185px;
        padding-bottom: 31px;
    }
    // .offer__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(26);
        letter-spacing: rem(2);
    }
    &__title,
    &__text {
        text-align: right;
    }
    // .offer__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(20);
        margin: 8px 0 22px;
    }
    // .offer__btn
    &__btn {
        @extend %simple-btn;
        margin-left: auto;
    }
    // .offer__img
    &__img {
        @extend %bg-reset;
        @extend %df;
        @extend %jcc;
        @extend %aic;
        width: 297px;
        height: 297px;
        margin-left: auto;
        overflow: hidden;
        img {
            border-radius: 50%;
            width: 282px;
            height: 282px;
        }
    }
}
//======================= Style for video link 
.video-play {
    padding-top: 418px;
    // .video-play__link
    &__link {
        display: block;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        span {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: inherit;
            height: inherit;
            border: 5px solid $black inset;
            border-radius: 50%;
        }
    }
    // .video-play__wrap-text
    &__wrap-text {
        margin-top: 3px;
    }
    // .video-play__title
    &__title,
    &__text {
        @extend %racing-regular;
        text-align: center;
        position: relative;
        &:after, 
        &:before {
            position: absolute;
            content: '';
            display: block;
            z-index: -1;
        }
        // line-height: normal;
    }
    &__title {
        font-size: rem(62);
        &:after,
        &:before {
            top: 50%;
            width: 10px;
            height: 10px;
            border: 1px solid $figureColor;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            left: 82px;
        }
        &:before {
            right: 81px;
        }
    }
    // .video-play__text
    &__text {
        font-size: rem(140);
        margin-top: -34px;
        &:after {
            left: 50%;
            top: 50%;
            width: 10px;
            height: 10px;
            margin-top: -6px;
            margin-left: 5px;
            border: 1px solid $figureColor;
            background-color: $white;
        }
        &:before {
            width: 360px;
            height: 1px;
            top: 57px;
            left: -58px;
            -moz-transform: rotate(46.69deg);
            -webkit-transform: rotate(46.69deg);
            -o-transform: rotate(46.69deg);
            -ms-transform: rotate(46.69deg);
            transform: rotate(46.69deg);
            background-color: $figureColor;
        }
    }
}
