.sect-7 {
    padding-top: 94px;
}
.gifts-main {
    margin-left: 50px;
    margin-top: 37px;
    position: relative;
    &:after {
        position: absolute;
        top: -43px;
        left: 8px;
        content: '';
        display: block;
        width: 498px;
        height: 498px;
        border: 1px solid $black;
        box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
        transform: rotate(23.43deg);
    }
}

.about-gift {
    padding-left: 63px;
    // .about-gift__wrap--title
    // &__wrap--title {}
    // .about-gift__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
        margin-bottom: 18px;
    }
    // .about-gift__subtitle
    &__subtitle {
        @extend %proxima-regular;
        font-size: rem(24);
    }
    // .about-gift__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(18);
        margin-top: 28px;
        margin-bottom: 25px;
    }
    // .about-gift__list
    &__list {
        padding-left: 9px;
    }
    // .about-gift__list-item
    &__list-item {
        font-size: rem(18);
        margin-bottom: 22px;
        position: relative;
        &:after {
            position: absolute;
            left: -9px;
            top: 0;
            content: '-';
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--title {
            @extend %proxima-bold;
            margin-bottom: 18px;
            &:after {
                display: none;
            }
        }

    }
}
