.sect {
    &-4,
    &-5,
    &-6 {
        position: relative;
        padding-bottom: 405px;
        overflow: hidden;
    }
    &-4 {
        padding-top: 100px;
        .sect-image {
            &--1 {
                left: -39px;
                bottom: 122px;
                width: 722px;
                height: 622px;
            }
            &--2 {
                right: -99px;
                bottom: 165px;
                width: 659px;
                height: 473px;
            }
            &--3 {
                bottom: 50px;
                left: 50%;
                margin-left: -126px;
                box-sizing: content-box;
                width: 283px;
                height: 283px;
                border-radius: 50%;
                border: 51px solid $white;
            }
        }
    }
    &-5 {
        padding-bottom: 443px;
        .main-title {
            margin-bottom: 38px;
            &:before {
                left: 31.5%;
            }
            &:after {
                right: 31.5%;
            }
        }
        .sect-image {
            &--1 {
                left: -110px;
                bottom: 101px;
                width: 817px;
                height: 724px;
            }
            &--2 {
                right: -401px;
                bottom: 172px;
                width: 1015px;
                height: 595px;
            }
            &--3 {
                bottom: 67px;
                left: 50%;
                margin-left: -199px;
            }
        }
    }
    &-6 {
        padding-bottom: 370px;
        .main-title {
            &:before {
                left: 31.5%;
            }
            &:after {
                right: 31.5%;
            }
        }
        .sect-image {
            &--1 {
                left: 0px;
                bottom: 43px;
                width: 636px;
                height: 456px;
            }
            &--2 {
                right: -61px;
                bottom: 12px;
                width: 666px;
                height: 532px;
            }
            &--3 {
                bottom: -49px;
                left: 50%;
                margin-left: -170px;
            }
        }
    }
}
// .sect-5,
// .sect-6
.sect-image {
    position: absolute;
    &--3 {
        box-sizing: content-box;
        width: 283px;
        height: 283px;
        border-radius: 50%;
        border: 51px solid $white;
    }
}

.chalenge-wrapper {
    @extend %df;
    position: relative;
    padding: 0 5px;
}
.chalenge-card {
    width: calc(100% / 3);
    height: 453px;
    padding: 28px 33px 41px;
    background-color: $white;
    border: 1px solid #C8C8C8;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.19);
    text-align: center;
    &:nth-child(2) {
        margin: 0 32px;
    }
    // .chalenge-card__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(24);
    }
    // .chalenge-card__wrap
    &__wrap {
        @extend %df;
        @extend %fdc;
        @extend %jcc;
        min-height: 216px;
        & > p {
            @extend %proxima-regular;
            font-size: rem(16);
            margin-bottom: 7px;
            color: $color_text_base;
            &:nth-child(2) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    // .chalenge-card__text
    &__text {
        
    }
    // .chalenge-card__wrap--proce
    &__wrap--proce {
        margin-top: 23px;
        margin-bottom: 32px;
    }
    // .chalenge-card__price
    &__price {
        @extend %proxima-regular;
        font-size: rem(18);
        b {
            @extend %proxima-bold;
            display: inline-block;
            margin-left: 7px;
        }
    }
    // .chalenge-card__btn
    &__btn {
        @extend %simple-btn;
        margin: 0 auto;
    }
}
