.sect-8 {
    position: relative;
    padding-top: 171px;
    padding-bottom: 366px;
    overflow: hidden;
    .sect-image {
        &--1 {
            left: -195px;
            bottom: 104px;
            width: 567px;
            height: 663px;
        }
        &--2 {
            left: 395px;
            bottom: 102px;
            width: 571px;
            height: 250px;
        }
        &--3 {
            // display: none;
            right: -282px;
            bottom: 141px;
            width: 572px;
            height: 642px;
            border: none;
            border-radius: 0;
            box-sizing: border-box;
        }
    }
}
.chalenge-card {
    &--gift {
        padding: 36px 18px 36px;
        // .chalenge-card__title
        .chalenge-card__title {
            @extend %proxima-bold;
            font-size: rem(32);
            
        }

        // .chalenge-card__subtitle
        .chalenge-card__subtitle {
            @extend %proxima-regular;
            font-size: rem(26);
        }
        &_1 {
            .chalenge-card {
                &__title {
                    margin-bottom: 43px;
                }
                &__wrap--img {
                    margin-bottom: 9px;
                }
            }
        }
        &_2 {
            .chalenge-card {
                &__title {
                    margin-bottom: 39px;
                }
                &__wrap--img {
                    margin-bottom: 33px;
                }
            }
        }
        &_3 {
            .chalenge-card {
                &__title {
                    margin-bottom: 54px;
                }
                &__wrap--img {
                    margin-bottom: 48px;
                }
            }
        }
    }
}
