.sect-9 {
    padding-bottom: 122px;
    .sect-image_start {
        left: 84px;
        // width: 93.55%;
        width: 87.9%;
        height: 300px;
        -moz-transform: skew(-25deg, 0deg);
        -webkit-transform: skew(-25deg, 0deg);
        -o-transform: skew(-25deg, 0deg);
        -ms-transform: skew(-25deg, 0deg);
        transform: skew(-25deg, 0deg);
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
        img {
            width: 112%;
            margin-left: -69px;
            -moz-transform: skew(25deg, 0deg);
            -webkit-transform: skew(25deg, 0deg);
            -o-transform: skew(25deg, 0deg);
            -ms-transform: skew(25deg, 0deg);
            transform: skew(25deg, 0deg);
        }
    }
}
.start-now {
    color: $white;
    text-align: center;
    padding-top: 68px;
    // .start-now__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(32);
    }
    // .start-now__subtitle
    &__subtitle {
        @extend %proxima-bold;
        font-size: rem(18);
        margin-top: 17px;
        margin-bottom: 29px;
    }
    // .start-now__btn
    &__btn {
        @extend %simple-btn;
        margin: 0 auto;
    }
}
