.navidation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    z-index: 999;
}
.logotype {
    &__link {
        display: inline-block;
        width: auto;
        margin-left: 97px;
    }
}
// =================== Block Sighn in and Registration link ====================
.signin {
    margin-top: 17px;
    // margin-left: -3px;
    // .signin__wrapper
    &__wrapper {
        @extend %df;
    }
    // .signin__item
    &__item {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        &--icon {
            height: 36px;
            margin-right: 6px;
        }
        &--link {
            margin-right: 10px;
        }
    }
    // .signin__item--icon
    &__item
    // .signin__icon
    &__icon {
        &:before {
            color: #000;
            font-size: rem(36);
        }
    }
    // .signin__link
    &__link {
        @extend %proxima-regular;
        @extend %ease;
        font-size: rem(20);
        color: $color_text_base;
        margin-top: 3px;
        &:hover {
            color: $color_link_hover;
        }
    }
    // .signin__link--sign
    &__link--sign {
        @extend %proxima-bold;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            display: block;
            right: -5px;
            width: 1px;
            height: 24px;
            background-color: $black;
        }
    }
    // .signin__middle-line
    &__middle-line {}
    // .signin__link--reg
    &__link--reg {}
}
.user-cabinet {
    margin-top: 20px;
    // .user-cabinet__link
    &__link {
        @extend %df;
        @extend %aic;
        span {
            @extend %proxima-bold;
            font-size: rem(20);
            margin-left: 12px;
            color: $color_text_base;
        }
    }
    // .user-cabinet__img-wrap
    &__img-wrap {
        width: 43px;
        height: 43px;
    }
}
