.sect-go {
    padding-top: 39px;
}
.way {
    margin: 0 auto;
    &__num,
    &__title {
        @extend %proxima-bold;
    }
    &__num,
    &__title,
    &__text {
        text-align: center;
    }
    // .way__num
    &__num {
        font-size: rem(64);
    }
    // .way__title
    &__title {
        font-size: rem(24);
        margin-top: 2px;
        margin-bottom: 12px;
    }
    // .way__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
    }
    &--1 {
    }
    &--2 {
        margin-left: 20px;
        .way {
            &__title {
                margin-left: 3px;
                margin-top: 5px;
            }
        }
    }
    &--3 {

    }
    &--4 {

    }
}
