.sect-3 {
    position: relative;
    margin-top: 120px;
    &:before {
        position: absolute;
        top: 0;
        left: 75px;
        content: '';
        display: block;
        width: 89%;
        height: 469px;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        background-color: #F8F8F8;
        -moz-transform: skew(12deg, 0deg);
        -webkit-transform: skew(12deg, 0deg);
        -o-transform: skew(12deg, 0deg);
        -ms-transform: skew(12deg, 0deg);
        transform: skew(12deg, 0deg);
    }
}
.free-reg {
    @extend %df;
    // .free-reg__wrap
    &__wrap {
        &--img {
            @extend %bg-reset;
            margin-left: 7px;
            width: 616px;
            height: 546px;
            overflow: hidden;
            margin-top: -38px;
            -moz-transform: skew(12deg, 0deg);
            -webkit-transform: skew(12deg, 0deg);
            -o-transform: skew(12deg, 0deg);
            -ms-transform: skew(12deg, 0deg);
            transform: skew(12deg, 0deg);
            box-shadow: 0px 8px 16px rgba(8, 35, 48, 0.2);
            img {
                -moz-transform: skew(-12deg, 0deg);
                -webkit-transform: skew(-12deg, 0deg);
                -o-transform: skew(-12deg, 0deg);
                -ms-transform: skew(-12deg, 0deg);
                transform: skew(-12deg, 0deg);
                margin-left: -65px;
            }
        }
        &--left {
            width: 365px;
            margin-top: 104px;
            margin-left: 4px;
        }
        &--right {
            width: 448px;
            margin-top: 111px;
            // margin-left: 2px;
        }
    }
    // .free-reg__title
    &__title {
        @extend %proxima-bold;
        width: 340px;
        font-size: rem(21);
    }
    // .free-reg__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
        &--1 {
            width: 350px;
            margin-top: 26px;
            margin-left: 15px;
            margin-bottom: 22px;
        }
        &--2 {
            margin-left: 31px;
            margin-bottom: 26px;
        }
        &--4 {
            margin-top: 17px;
            margin-left: 15px;
            margin-bottom: 14px;
        }
        &--5 {
            margin-left: 32px;
            margin-bottom: 16px;
        }
        &--6 {
            margin-left: 46px;
        }
        &--3,
        &--4,
        &--5,
        &--6 {
            font-size: rem(15);
        }
    }
    // .free-reg__btn
    &__btn {
        @extend %simple-btn;
        margin-left: 79px;
    }
}
