.view-chalenges {
    // .view-chalenges__wrap
    &__wrap {
        // .view-chalenges__wrap_items
        &_items {
            @extend %df;
            @extend %fw;
            margin-bottom: 30px;
        }
    }
    // .view-chalenges__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(30);
        margin-bottom: 30px;
    }
    // .view-chalenges__item
    &__item {
        @extend %df;
        @extend %fdc;
        @extend %jcsb;
        width: calc(calc(100% / 3) - 15px);
        min-height: 200px;
        padding: 15px;
        margin-right: 15px;
        border-radius: 3px;
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        &:last-child {
            margin-right: 0;
        }
        // .view-chalenges__item_title
        &_title {
            @extend %proxima-bold;
            font-size: rem(20);
            text-align: center;
            margin-bottom: 15px;
        }
    }
    // .view-chalenges__list
    &__list {
        // border: 1px solid #000;
    }
    // .view-chalenges__list-item
    &__list-item {
        padding: 10px;
        @extend %df;
        @extend %jcsb;
    }
    // .view-chalenges__list-title
    &__list-title{
        @extend %proxima-bold;
        font-size: rem(16);
    }
    // .view-chalenges__text
    &__text {
        @extend %proxima-regular;
        font-size: rem(16);
    }
    // .view-chalenges__btns
    &__btns {
        @extend %df;
        @extend %jcsa;
    }
    // .view-chalenges__btn
    &__btn {
        @extend %simple-btn;
        @extend %admin-btn-reset;
        &_1 {
            @extend .motivation-tag;
            margin-right: 15px;
        }
        &_2 {
            @extend .equipment-tag;
        }
    }
}