.chalenges-ad {}

.ad-wrapper {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.ad-chalenge {
    // .ad-chalenge__wrap
    &__wrap {
        // .ad-chalenge__wrap_title
        &_title {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
        }
        // .ad-chalenge__wrap_chalenges
        &_chalenges {
            padding-top: 50px;
            padding-bottom: 100px;
        }
        // .ad-chalenge__wrap_btns
        &_btns {
            @extend %df;
        }
        // .ad-chalenge__wrap_item
        &_item {
            margin-bottom: 35px;
            overflow: hidden;
            &:last-child {
                margin-bottom: 0;
            }
        }
        // .ad-chalenge__wrap_item-title
        &_item-title {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            padding: 15px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        }
    }
    // .ad-chalenge__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(38);
    }
    // .ad-chalenge__next-cycle
    &__next-cycle {
        @extend %simple-btn;
        @extend .motivation-tag;
        @extend %admin-btn-reset;
    }
    // .ad-chalenge__subtitle
    &__subtitle {
        @extend %proxima-bold;
        font-size: rem(25);
        margin-bottom: 15px;
    }
    // .ad-chalenge__item
    &__item {
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
    }
    // .ad-chalenge__item-title
    &__item-title {}
    // .ad-chalenge__item-btn
    &__item-btn {
        @extend %simple-btn;
        @extend %admin-btn-reset;
        max-width: 150px;
        transition: all .5s ease;
        &_1 {
            @extend .equipment-tag;
            &:hover {
                border-color: #3ECF56;
            }
        }
        &_2 {
            margin-left: 15px;
        }
        &_3 {
            max-width: 120px;
            margin-left: 15px;
            background: rgb(194, 0, 26);
            &:hover {
                border-color: rgb(194, 0, 26);
            }
        }
    }
    // .ad-chalenge__list
    &__list {
        padding: 15px;
    }
    // .ad-chalenge__list-item
    &__list-item {
        @extend %df;
        @extend %aic;
        border: 1px solid #000;
        padding: 10px;
        &:last-child {
            border-top-color: transparent;
        }
    }

    &__list-title,
    &__list-text {
        width: calc(100% / 2);
    }
    // .ad-chalenge__list-title
    &__list-title {
        font-size: rem(15);
        border-right: 1px solid #000;
    }
    // .ad-chalenge__list-text
    &__list-text {
        font-size: rem(15);
        text-align: center;
    }
}
.ad-chalenge__wrap_btns_top  {
    @extend %df;
    .ad-chalenge__next-cycle-new {
        margin-right: 15px;
    }
}