.chalenges-ad {}
.ad-wrapper {}
.edit-chalenge {
    @extend %df;
    // .edit-chalenge__wrap
    &__wrap {
        // .edit-chalenge__wrap_left
        &_left {
            width: 70%;
            padding-right: 30px;
        }
        // .edit-chalenge__wrap_title
        &_title {
            background-color: #fff;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
            border-radius: 3px 3px 0px 0px;
            border-radius: 5px;
            margin-bottom: 50px;
            padding-bottom: 10px;
            // width: 7;
        }
        // .edit-chalenge__wrap_editor
        &_editor {}
        // .edit-chalenge__wrap_card-field
        &_card-field,
        &_editor,
        &_right {
            background-color: #fff;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
            border-radius: 3px 3px 0px 0px;
            border-radius: 5px;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        // .edit-chalenge__wrap_right
        &_right {
            width: 30%;
            max-height: 200px;
        }
    }
    // .edit-chalenge__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(30);
        margin-bottom: 50px;
    }
    // .edit-chalenge__subtitle
    &__subtitle {
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        border-radius: 3px 3px 0px 0px;
        margin-bottom: 30px;
        padding: 10px;
    }
    // .edit-chalenge__edit-title
    &__edit-title {
        @extend %proxima-regular;
        font-size: rem(16);
        display: block;
        width: 70%;
        margin-left: 10px;
        color: $color_text_base;
        background-color: $white;
        padding: 12px 0 12px 10px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, .3);

        &:focus {
            border-color: $color_link_base;
        }
    }
    // .edit-chalenge__list-field
    &__list-field {
        padding-left: 10px;
    }
    // .edit-chalenge__item-field
    &__item-field {}
    // .edit-chalenge__name-input
    &__name-input {
        @extend %proxima-bold;
        font-size: rem(17);
        margin-bottom: 15px;
        // width: 100%;
    }
    &_about {
        @extend %proxima-regular;
        font-size: rem(14);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    // .edit-chalenge__input
    &__input,
    &__ruls {
        @extend %proxima-regular;
        font-size: rem(16);
        display: block;
        width: 70%;
        color: $color_text_base;
        background-color: $white;
        padding: 12px 0 12px 10px;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,.3);
        margin-bottom: 20px;
        &:focus {
            border-color: $color_link_base;
        }
        // width: 90%;
        // display: inline-block;
        // width: 100%;
        // min-width: 100%;
        // margin: 0 10px;
        // margin-right: 10px;
        // margin-left: 10px;
        // padding-right: 10px;  
    }
    &__ruls {
        margin-left: 10px;
        width: 90%;
        padding: 10px;
        min-height: 300px;
    }
    // .edit-chalenge__wrapper-save
    &__wrapper-save {
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 40px;
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }
    // .edit-chalenge__save-title
    &__save-title {
        font-size: rem(18);
    }
    // .edit-chalenge__text
    &__text {}
    // .edit-chalenge__btn
    &__btn {
        @extend %simple-btn;
        @extend %admin-btn-reset;
        @extend .motivation-tag;
        margin-left: 10px;

        &_1 {
        }
    }
}