.chalenges-ad {}
.ad-wrapper {}
.ad-user {
    // .ad-user__wrap
    &__wrap {
        // .ad-user__wrap_top
        &_top {
            @extend %df;
            @extend %jcsb;
            margin-bottom: 50px;
            border-radius: 3px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
        }
        // .ad-user__wrap_photo-name
        &_photo-name {
            @extend %df;
            @extend %aic;
        }
        // .ad-user__wrap_gift
        &_gift {}
        // .ad-user__wrap_bottom
        &_bottom {
            @extend %df;
            @extend %jcsb;
        }
        // .ad-user__wrap_left
        &_left,
        &_right {
            width: calc(100% / 2);
        }
        &_left {
            padding-right: 70px;
        }
        // .ad-user__wrap_attachment
        &_attachment {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
        }
        // .ad-user__wrap_right
        &_right {
            padding-left: 15px;
        }
        // .ad-user__wrap_data
        &_data {}
        // .ad-user__wrap_partipant
        &_partipant {}
    }
    // .ad-user__photo
    &__photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #62bbfc;
        margin-right: 15px;
        @extend %df;
        @extend %aic;
        @extend %jcc;
    }
    // .ad-user__name
    &__name {
        @extend %proxima-bold;
        font-size: rem(18);
    }
    // .ad-user__subtitle
    &__subtitle {
        @extend %proxima-bold;
        font-size: rem(20);
        margin-bottom: 15px;
    }
    // .ad-user__form
    &__form {}
    // .ad-user__file-upload
    &__file-upload {
        position: relative;
        overflow: hidden;
        height: 45px;
        line-height: rem(45);
        width: 350px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
        button {
            @extend %simple-btn;
            @extend %admin-btn-reset;
            @extend .motivation-tag;
            border-radius: 0px;
            max-width: 130px;
            height: 100%;
            pointer-events: none;
            float: right;
            border: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        div {
            padding-left: 1em;
            /* example */
            @extend %proxima-regular;
            font-size: rem(13);
            background-color: rgb(243, 243, 243);
        }

        input[type=file] {
            position: absolute;
            top: 0;
            visibility: hidden;
        }

        &:hover button {
            background-color: $color_link_base;
            color: #fff;
        }
    }
    // .ad-user__submit-fil
    &__submit-file {
        @extend %simple-btn;
        @extend %admin-btn-reset;
        @extend .equipment-tag;
        margin-top: 15px;
    }
    // .ad-user__item
    &__item {
        border-radius: 3px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
        margin-bottom: 20px;
    }
    // .ad-user__attachment-link
    &__attachment-link {
        width: auto;
        height: 80px;
        img {
            width: auto;
        }
    }
    // .ad-user__data
    &__data {
        @extend %proxima-regular;
        font-size: rem(16);
    }
    // .ad-user__info-item
    &__info-item {
        @extend %df;
        @extend %jcsb;
        border-radius: 3px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 50px;
        }
        &_addres {
            .ad-user__info-title,
            .ad-user__text {
                width: calc(100% /2);
            }
        }
    }
    // .ad-user__info-title
    &__info-title {}
    // .ad-user__text
    &__text {}
    // .ad-user__part-item
    &__part-item {
        border-radius: 3px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
        margin-bottom: 20px;
        @extend %proxima-bold;
        font-size: rem(18);
    }
}