.chalenges-ad {}

.ad-title {
    @extend %proxima-bold;
    font-size: rem(30);
    margin-bottom: 30px;
}
.participant-ad {
    // .participant-ad__item
    &__item {
        @extend .admin-users__item;
    }
    // .participant-ad__wrap
    &__wrap {
        // .participant-ad__wrap_photo-name
        &_photo-name {
            @extend %df;
            @extend %aic;
        }
        // .participant-ad__wrap_photo
        &_photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #62bbfc;
            margin-right: 15px;
            @extend %df;
            @extend %aic;
            @extend %jcc;
        }
    }
    // .participant-ad__name
    &__name {
        @extend %proxima-regular;
        font-size: rem(18);
    }
    // .participant-ad__btns
    &__btns {
        @extend %df;
    }
    // .participant-ad__btn
    &__btn {
        @extend %simple-btn;
        @extend %admin-btn-reset;
        // .participant-ad__btn_1
        &_1 {
            @extend .motivation-tag;
            margin-right: 15px;
        }
        // .participant-ad__btn_2
        &_2 {
            max-width: 120px;
            background: rgb(194, 0, 26);
            &:hover {
                border-color: rgb(194, 0, 26);
                color: rgb(194, 0, 26);
            }
        }
    }
}
