.admin-acc {
    min-height: 100vh;
}
.admin-users {
    &-sect {
        padding: 100px 20px 0px;
    }
    // .admin-users__title
    &__title {
        @extend %proxima-bold;
        font-size: rem(38);
        margin-bottom: 25px;
    }
    // .admin-users__wrapper-settings
    &__wrapper-settings {
        @extend %df;
        margin-bottom: 30px;
    }
    // .admin-users__item-settings
    &__item-settings {
        margin-right: 15px;
    }
    // .admin-users__link-settings
    &__link-settings {
        @extend %proxima-regular;
        font-size: rem(16);
        color: #000;
    }
    // .admin-users__wrap
    &__wrap {}
    // .admin-users__item
    &__item {
        padding: 10px;
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        margin-bottom: 15px;
        @extend %df;
        @extend %jcsb;
        @extend %aic;
    }
    // .admin-users__name
    &__name {
        @extend %proxima-bold;
        font-size: rem(16);
    }
    // .admin-users__wrap-btns
    &__wrap-btns {
        @extend %df;
    }
    // .admin-users__btn
    &__btn {
        @extend %simple-btn;
        @extend %admin-btn-reset;
        max-width: 140px;
        margin-right: 10px;
        font-size: rem(14);
        padding: 10px;
        // .admin-users__btn_1
        &_1 {}
        // .admin-users__btn_2
        &_2 {}
        // .admin-users__btn_3
        &_3 {
            max-width: 120px;
            margin-right: 0;
            background: rgb(194, 0, 26);
            &:hover {
                border-color: rgb(194, 0, 26);
                color: rgb(194, 0, 26);
            }
        }
    }
}
.ad-wrapper {}
.ad-pagination {
    margin-top: 50px;
    // .ad-pagination__wrap
    &__wrap {
        @extend %df;
    }
    // .ad-pagination__item
    &__item {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
        border-radius: 3px;
        overflow: hidden;
        transition: background .5s ease;
        &_active {
            background-color: $color_link_base;
            a {
                color: #fff;
            }
        }
        &:hover {
            background-color: $color_account_bg;
            a {
                color: #fff;
            }
        }
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: 30px;
            @extend %proxima-regular;
            font-size: rem(14);
            text-align: center;
            color: #000;
        }
    }
}
.ad-modal {
    position: absolute;
    z-index: 999;
    width: 400px;
    min-height: 200px;
    top: 180%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: none;
    opacity: 0;
    transition: all .5s ease;
    // .ad-modal__wrap
    &__wrap {
        transition: all .5s ease;
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        display: none;
        // .ad-modal__wrap_1
        &_1 {}
        // .ad-modal__wrap_2
        &_2 {
        }
    }
    &_active {
        &-1 {
            display: block;
            top: 50%;
            opacity: 1;
            .ad-modal__wrap {
                &_1 {
                    display: block;
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    -o-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    opacity:1;
                }
            }
        }
        &-2 {
            display: block;
            top: 50%;
            opacity: 1;
            .ad-modal__wrap {
                &_2 {
                    display: block;
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    -o-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    opacity:1;
                }
            }
        }
        &-3 {
            display: block;
            top: 50%;
            opacity: 1;
            .ad-modal__wrap {
                &_3 {
                    display: block;
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    -o-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    opacity:1;
                }
            }
        }
        &-4 {
            display: block;
            top: 50%;
            opacity: 1;
            .ad-modal__wrap {
                &_4 {
                    display: block;
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    -o-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    opacity:1;
                    .ad-modal__input {
                        padding: 15px 0 15px 10px;
                        &:nth-child(2) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        &-5 {
            display: block;
            top: 140px;
            opacity: 1;
            .ad-modal__wrap {
                &_5 {
                    display: block;
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    -o-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    opacity:1;
                    .ad-modal__input {
                        padding: 15px 0 15px 10px;
                        &:nth-child(2) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    // .ad-modal__title
    &__title {
        font-size: rem(18);
        margin-bottom: 30px;
    }
    // .ad-modal__content
    &__content {
        &_btn {
            @extend %df;
            @extend %jcsa;
        }
    }
    // .ad-modal__input
    &__input {
        @extend %simple-input;
    }
    &__save {
        @extend %simple-btn;
        border-radius: 3px;
        max-width: 180px;
        font-size: rem(15);
        padding: 13px 10px;
        margin-top: 30px;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.profile-edit {
    // .profile-edit__label
    &__label {}
   // .profile-edit__checkbox
    &__checkbox {}
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 24, 29, .1);
    transition: background-color .5s ease;
}

.show {
    z-index: 99;
    background-color: rgba(22, 24, 29, .5);
}