<div class="col-6 col-md-3 col-lg-2">
    <div class="footer-logo">
        <a href="#" class="footer-logo__link">
            <img src="img/logo.svg" alt="">
        </a>
        <!-- /.footer-logo__link -->
    </div>
    <!-- /.footer-logo -->
    <div class="footer-copy">
        <p class="footer-copy__text">&copy; 2019 SportSkill<br> Все права защищены</p>
        <!-- /.footer-copy__text -->
    </div>
    <!-- /.footer-copy -->
    <div class="footer-dev">
        <a href="#" class="footer-dev__link">Development by CRIUS</a>
        <!-- /.footer-dev__link -->
    </div>
    <!-- /.footer-dev -->
</div>
<!-- /.col-lg-2 -->
<div class="col-6 col-md-3 col-lg-2">
    <ul class="footer-menu">
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Личный кабинет</a>
            <!-- /.footer-menu__link -->
        </li>
        <!-- /.footer-menu__item -->
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Челленджи</a>
            <!-- /.footer-menu__link -->
        </li>
        <!-- /.footer-menu__item -->
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Новости</a>
            <!-- /.footer-menu__link -->
        </li>
        <!-- /.footer-menu__item -->
    </ul>
    <!-- /.footer-menu -->
</div>
<!-- /.col-lg-2 -->
<div class="col-6 order-last order-md-0 col-md-3 col-lg-2">
    <ul class="footer-menu">
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Тех. поддержка</a>
            <!-- /.footer-menu__link -->
        </li>
        <!-- /.footer-menu__item -->
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Публичная оферта</a>
            <!-- /.footer-menu__link -->
        </li>
        <!-- /.footer-menu__item -->
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Политика конфиденциальности</a>
            <!-- /.footer-menu__link -->
        </li>
        <!-- /.footer-menu__item -->
    </ul>
    <!-- /.footer-menu -->
</div>
<!-- /.col-lg-2 -->
<div class="col-6 col-md-3 col-lg-2">
    <ul class="footer-social">
        <li class="footer-social__item footer-social__item--title">Мы в социальных сетях</li>
        <!-- /.footer-social__item -->
        <li class="footer-social__item">
            <ul class="footer-social__wrap-inside">
                <li class="footer-social__item-inside">
                    <a href="#" class="footer-social__link">
                        <i class="icon-vk footer-social__icon footer-social__icon--vk"></i>
                        <!-- /.icon-vk footer-social__icon -->
                    </a> 
                    <!-- /.footer-social__link -->
                </li>
                <!-- /.footer-social__item-inside -->
                <li class="footer-social__item-inside">
                    <a href="#" class="footer-social__link">
                        <i class="icon-youtube footer-social__icon footer-social__icon--ytb"></i>
                        <!-- /.icon-youtube footer-social__icon -->
                    </a> 
                    <!-- /.footer-social__link -->
                </li>
                <!-- /.footer-social__item-inside -->
                <li class="footer-social__item-inside">
                    <a href="#" class="footer-social__link">
                        <i class="icon-instagram footer-social__icon footer-social__icon--inst"></i>
                        <!-- /.icon-instagram footer-social__icon -->
                    </a> 
                    <!-- /.footer-social__link -->
                </li>
                <!-- /.footer-social__item-inside -->
            </ul>
            <!-- /.footer-social__wrap-inside -->
        </li>
        <!-- /.footer-social__item -->
    </ul>
    <!-- /.footer-social -->
</div>
<!-- /.col-lg-2 -->
<div class="col-lg-4 lg-none">
    <form action="#" class="footer-follow">
        <h6 class="footer-follow__title">Подпишись на наши новости</h6>
        <!-- /.footer-follow__title -->
        <div class="footer-follow__wrap">
            <input type="text" class="footer-follow__input" placeholder="Email">
            <button class="footer-follow__btn">Подписаться</button>
            <!-- /.footer-follow__btn -->
        </div>
        <!-- /.footer-follow__wrap -->
    </form>
    <!-- /.footer-follow -->
</div>
<!-- /.col-lg-4 -->