<header class="header">
    <div class="header__img header__img--1"><img src="img/land/hero-screen/land-hero-1.png" alt=""></div>
    <!-- /.header__img header__img--1 -->
    <div class="header__img header__img--2"><img src="img/land/hero-screen/land-hero-2.png" alt=""></div>
    <!-- /.header__img header__img--1 -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 offset-sm-3 col-md-7 offset-md-1 col-lg-6 offset-lg-2">
                <div class="offer">
                    <div class="offer__propose">
                        <h1 class="offer__title">
                            Прими участие в спортивных онлайн<br>
                            челленджах, выполняй все задания<br>
                            и получай крутые призы
                        </h1>
                        <!-- /.offer__title -->
                        <p class="offer__text">
                            Полная онлайн поддержка,<br>
                            от тебя нужно лишь желание побеждать!
                        </p>
                        <!-- /.offer__text -->
                        <a href="links.html" class="offer__btn">Принять участие</a>
                        <!-- /.offer__btn -->
                    </div>
                    <!-- /.offer__propose -->
                    <div class="offer__img" style="background-image: url(img/land/hero-screen/land-hero-3.1.png);">
                        <img src="img/land/hero-screen/land-hero-3.jpg" alt="">
                    </div>
                    <!-- /.offer__img -->
                </div>
                <!-- /.offer -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-1 col-md-4 col-lg-3">
                <div class="video-play">
                    <a href="links.html" class="video-play__link">
                        <span>
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M32.0908 57.8048C17.9788 57.8048 6.49082 46.3168 6.49082 32.2048C6.49082 18.0928 17.9788 6.60483 32.0908 6.60483C46.2028 6.60483 57.6908 18.0928 57.6908 32.2048C57.6908 46.3168 46.2028 57.8048 32.0908 57.8048ZM32.0908 0.204834C14.4268 0.204834 0.0908203 14.5408 0.0908203 32.2048C0.0908203 49.8688 14.4268 64.2048 32.0908 64.2048C49.7548 64.2048 64.0908 49.8688 64.0908 32.2048C64.0908 14.5408 49.7548 0.204834 32.0908 0.204834ZM25.6908 46.6048L44.8908 32.2048L25.6908 17.8048V46.6048Z"
                                    fill="black" />
                            </svg>
                        </span>
                    </a>
                    <!-- /.video-play__link -->
                    <div class="video-play__wrap-text">
                        <div class="video-play__title">GO</div>
                        <!-- /.video-play__title -->
                        <div class="video-play__text">RUN</div>
                        <!-- /.video-play__text -->
                    </div>
                    <!-- /.video-play__wrap-text -->
                </div>
                <!-- /.video-play -->
            </div>
            <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->