<div class="chalenge-card">
    <h3 class="chalenge-card__title">Начинающий</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Трижды в неделю вы накатываете<br>
            по 10 км. </p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">В конце месяца вы достигнете<br>
            результата в 120 км. </p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">Отличное начало.</p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="links.html" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Крутипедали</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Трижды в неделю вы<br> накатываете по 20 км.</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">В конце месяца результат<br>
            в 240 км.</p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="links.html" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Марафон 500</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Вам надо за месяц<br>
            накатать 500 км, для этого в<br> неделю вам надо крутить<br>
            по 125 км. </p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="links.html" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
