<div class="chalenge-card">
    <h3 class="chalenge-card__title">Плавание 6км </h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Трижды в неделю сдавайте по 500 метров
            (это 20 бассейнов по 25м)</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">В конце месяца в вашей копилке будет 6000 метров</p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="#" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Плыви 15 км</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Трижды в наделю плавай по 50<br> бассейнов длиною 25 метров.</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">Результат твоих трудов : 3750 м<br> в неделю, 15000м в месяц </p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="#" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Плыви Марафон</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">По 3500 м трижды в неделю.</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">42 км в конце месяца - ты супермэн.</p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="#" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->