<div class="chalenge-card chalenge-card--gift chalenge-card--gift_1">
    <h4 class="chalenge-card__title">1 место</h4>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap--img"><img src="img/land/gifts/land-gift-1.png" alt="Спортивные часы SUUNTO 9 Baro">
    </div>
    <!-- /.chalenge-card__wrap--img -->
    <h5 class="chalenge-card__subtitle">Спортивные часы<br> SUUNTO 9 Baro</h5>
    <!-- /.chalenge-card__subtitle -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card chalenge-card--gift chalenge-card--gift_2">
    <h4 class="chalenge-card__title">2 место</h4>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap--img"><img src="img/land/gifts/land-gift-2.jpg" alt="Наушники
Bose headphones soundsport"></div>
    <!-- /.chalenge-card__wrap--img -->
    <h5 class="chalenge-card__subtitle">Наушники<br>
        Bose headphones soundsport</h5>
    <!-- /.chalenge-card__subtitle -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card chalenge-card--gift chalenge-card--gift_3">
    <h4 class="chalenge-card__title">3 место</h4>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap--img"><img src="img/land/gifts/land-gift-3.jpg"
            alt="Сертификат  в магазин RunLab на 15 000 рублей"></div>
    <!-- /.chalenge-card__wrap--img -->
    <h5 class="chalenge-card__subtitle">Сертификат в магазин RunLab на 15 000 рублей</h5>
    <!-- /.chalenge-card__subtitle -->
</div>
<!-- /.chalenge-card -->
