<div class="col-12">
    <div class="free-reg">
        <div class="free-reg__wrap free-reg__wrap--left">
            <h2 class="free-reg__title">Пройди бесплатную регистрацию
                и получи призы:</h2>
            <!-- /.free-reg__title -->
            <div class="free-reg__text free-reg__text--1">Скидка 50% на функциональное тестирование в лаборатории бега
                RunLab</div>
            <!-- /.free-reg__text free-reg__text--1 -->
            <div class="free-reg__text free-reg__text--2">Скидка 30% на участие в трейловых забегах
                от нашей команды Star Trail</div>
            <!-- /.free-reg__text free-reg__text--2 -->
            <a href="links.html" class="free-reg__btn">Бесплатная регистрация</a>
            <!-- /.free-reg__btn -->
        </div>
        <!-- /.free-reg__wrap -->
        <div class="free-reg__wrap free-reg__wrap--img" style="background-image: url();">
            <img src="img/land/land-block-3.jpg" alt="">
        </div>
        <!-- /.free-reg__wrap free-reg__wrap--img -->
        <div class="free-reg__wrap free-reg__wrap--right">
            <div class="free-reg__text free-reg__text--3">Всё что происходит с нами, происходит<br>
                в результате привычки, а ваши<br> привычки-приобретенные, и вы можете<br> избавится от них, заменив их на
                хорошие. </div>
            <!-- /.free-reg__text free-reg__text--3 -->
            <div class="free-reg__text free-reg__text--4">Всё что мы делаем раз за разом, скоро становится привычкой.
            </div>
            <!-- /.free-reg__text free-reg__text--4 -->
            <div class="free-reg__text free-reg__text--5">Единственный способ блокировать зону комфорта, это
                самодисциплина.</div>
            <!-- /.free-reg__text free-reg__text--5 -->
            <div class="free-reg__text free-reg__text--6">Самодисциплина- это способность заставить себя делать то, о
                чем вы знаете, что должны это делать, нравится вам это или нет.</div>
            <!-- /.free-reg__text free-reg__text--6 -->
        </div>
        <!-- /.free-reg__wrap -->
    </div>
    <!-- /.free-reg -->
</div>
<!-- /.col-12 -->