<div class="col-lg-12">
    <div class="start-now">
        <h2 class="start-now__title">Начни прямо сейчас</h2>
        <!-- /.start-now__title -->
        <h3 class="start-now__subtitle">Побеждает не тот, кто сильнее, а кто готов бороться и идти до конца!</h3>
        <!-- /.start-now__subtitle -->
        <a href="links.html" class="start-now__btn">Зарегистрироваться</a>
        <!-- /.start-now__btn -->
    </div>
    <!-- /.start-now -->
</div>
<!-- /.col-lg-12 -->