
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Новичок</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Необходимо начать бегать 3 раза
            в неделю по 3 км.</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text chalenge-card__text--center">Этим самым вы знакомитесь с бегом,
            понимаете как надо дышать и чувствуете с каждым разом,что вам все проще даются эти 3 км.</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">За неделею у вас получится 9км,<br>
            за месяц 36км.</p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="links.html" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Любитель</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">Нужно начать бегать по 5 км 3 раза в неделю, тем самым получая 15 км в
            неделю, 45 км за месяц. </p>
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="links.html" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->
<div class="chalenge-card">
    <h3 class="chalenge-card__title">Марафонец</h3>
    <!-- /.chalenge-card__title -->
    <div class="chalenge-card__wrap">
        <p class="chalenge-card__text">По 21.1 км (полумарафон).
            3 раза в неделю это 63,3 км,
            за месяц вы набегаете 253,2 км.</p>
        <!-- /.chalenge-card__text -->
        <p class="chalenge-card__text">Отличный результат.</p>
        <!-- /.chalenge-card__text -->
    </div>
    <!-- /.chalenge-card__wrap -->
    <div class="chalenge-card__wrap--proce">
        <p class="chalenge-card__price">Стоимость:<b>1 500 рублей</b></p>
        <!-- /.chalenge-card__price -->
    </div>
    <!-- /.chalenge-card__wrap--proce -->
    <a href="links.html" class="chalenge-card__btn">Зарегистрироваться</a>
    <!-- /.chalenge-card__btn -->
</div>
<!-- /.chalenge-card -->