<div class="col-md-5 col-lg-6">
    <div class="gifts-main">
        <img src="img/land/gifts/land-main-gift.jpg" alt="">
    </div>
</div>
<!-- /.col-lg-6 -->
<div class="order-first order-md-last col-md-7 col-lg-6">
    <div class="about-gift">
        <div class="about-gift__wrap--title">
            <h2 class="about-gift__title">Гарантированные призы</h2>
            <!-- /.about-gift__title -->
            <h3 class="about-gift__subtitle">Хорошая новость — все участники челленджей получают гарантированные призы!
            </h3>
            <!-- /.about-gift__subtitle -->
        </div>
        <!-- /.about-gift__wrap--title -->
        <p class="about-gift__text">После прохождения любого челленджа каждый получает фирменную футболку и жетон. </p>
        <!-- /.about-gift__text -->
        <ul class="about-gift__list">
            <li class="about-gift__list-item about-gift__list-item--title">А так же:</li>
            <!-- /.about-gift__list-item -->
            <li class="about-gift__list-item">Похудеешь если имеешь лишний вес</li>
            <!-- /.about-gift__list-item -->
            <li class="about-gift__list-item">Сформируется распорядок дня</li>
            <!-- /.about-gift__list-item -->
            <li class="about-gift__list-item">Выработаешь отличную привычку</li>
            <!-- /.about-gift__list-item -->
            <li class="about-gift__list-item">Укрепишь свое тело и дух</li>
            <!-- /.about-gift__list-item -->
            <li class="about-gift__list-item">Закалишь свой характер перед<br>
                преодолеванием трудностей</li>
            <!-- /.about-gift__list-item -->
        </ul>
        <!-- /.about-gift__list -->
    </div>
    <!-- /.about-gift -->
</div>
<!-- /.col-lg-6 -->