<div class="col col-md-6 col-lg-3">
    <div class="way way--1">
        <div class="way__num">01</div>
        <!-- /.way__num -->
        <h2 class="way__title">Бесплатная регистрация</h2>
        <!-- /.way__title -->
        <p class="way__text">Зарегистрируйтесь совершенно бесплатно, и получите награду</p>
        <!-- /.way__text -->
    </div>
    <!-- /.way -->
</div>
<!-- /.col-lg-3 -->
<div class="col col-md-6 col-lg-3">
    <div class="way way--2">
        <div class="way__num">02</div>
        <!-- /.way__num -->
        <h2 class="way__title">Выберите челлендж</h2>
        <!-- /.way__title -->
        <p class="way__text">Выбери челлендж по одному из трех
            видов спорта и сложность</p>
        <!-- /.way__text -->
    </div>
    <!-- /.way -->
</div>
<!-- /.col-lg-3 -->
<div class="col col-md-6 col-lg-3">
    <div class="way way--3">
        <div class="way__num">03</div>
        <!-- /.way__num -->
        <h2 class="way__title">Отправьте результат</h2>
        <!-- /.way__title -->
        <p class="way__text">Загружаете результаты в личный кабинет 3 раза в неделю</p>
        <!-- /.way__text -->
    </div>
    <!-- /.way -->
</div>
<!-- /.col-lg-3 -->
<div class="col col-md-6 col-lg-3">
    <div class="way way--4">
        <div class="way__num">04</div>
        <!-- /.way__num -->
        <h2 class="way__title">Получите призы</h2>
        <!-- /.way__title -->
        <p class="way__text">По завершению челленджа получаете гарантированные призы</p>
        <!-- /.way__text -->
    </div>
    <!-- /.way -->
</div>
<!-- /.col-lg-3 -->