<nav class="navidation">
    <div class="container">
        <div class="row">
            <div class="col-1 col-md-3 col-lg-3">
                 <div class="signin">
                    <ul class="signin__wrapper">
                        <li class="signin__item signin__item--icon">
                            <a href="#">
                                <i class="signin__icon icon-signin"></i>
                            </a>
                            <!-- /.signin__icon icon-signin -->
                        </li>
                        <!-- /.signin__item signin__item--icon -->
                        <li class="signin__item signin__item--link">
                            <a href="#" class="signin__link signin__link--sign">Войти</a>
                            <!-- /.signin__link signin__link--sign -->
                        </li>
                        <!-- /.signin__item -->
                        <li class="signin__item">
                            <a href="#" class="signin__link signin__link--reg">Регистрация</a>
                            <!-- /.signin__link signin__link--reg -->
                        </li>
                        <!-- /.signin__item -->
                    </ul>
                    <!-- /.signin__wrapper -->
                </div>
                <!-- /.signin -->
                <!-- <div class="user-cabinet"> -->
                    <!-- <a href="#" class="user-cabinet__link"> -->
                        <!-- <div class="user-cabinet__img-wrap"> -->
                            <!-- <img src="img/account/user-with-photo.png" alt=""> -->
                        <!-- </div> -->
                        <!-- /.user-cabinet__img-wrap -->
                        <!-- <span>Личный кабинет</span> -->
                    <!-- </a>  -->
                    <!-- /.user-cabinet__link -->
                <!-- </div> -->
                <!-- /.user-cabinet -->
            </div>
            <!-- /.col-lg-3 -->
            <div class="col col-md-4 col-lg-4">
                <div class="logotype">
                    <a href="#" class="logotype__link">
                        <img src="img/logo.svg" alt="Логотип Sport Skill">
                    </a> 
                    <!-- /.logotype__link -->
                </div>
                <!-- /.logotype -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navidation-land -->